[2016-05-27 20:35] zenorocha commented on #248
What I meant by "no dependencies" is that there's no framework dependency involved. No jQuery, React, Angular, Ember. If you take a look at the dependencies listed in package.json you'll see that they all were made by me, except for one (which I'll rewrite at some point). The only reason why they are in separate packages is because they are generic enough to help other people.

[2016-05-28 07:17] FagnerMartinsBrack commented on #248
@zenorocha If possible, I would suggest create some action on these kind of feedback. In this case it might be useful to use "No vendor dependencies" or explaining what "no dependencies" mean in the docs. Probably most devs that read the docs are not aware that the "no dependencies" represent that there's no framework of library required for this, and most of them will not look for clarification i

[2016-05-29 19:09] zenorocha commented on #248
@FagnerMartinsBrack I honestly think this is super irrelevant and has nothing to do with "impact" or "meaningfulness". There are tons of more important things to be done in this project (and in life).

Changing to "no frameworks" instead of "no dependencies".

[2016-05-29 19:10] #248 closed

[2016-05-30 14:57] Jinkwon opened #249 "IE8 'default' keyword issue"
### Expected behaviour
'default' is reserved keyword in ie 8, so it broke entire scripts.

### Actual behaviour
https://phabricator.babeljs.io/T2817
I think build with new babel version can fix this issue.

### Browsers affected
I tested on only IE 8 does not work.

[2016-05-30 15:00] Jinkwon commented on #249
I found this same issue(#238), and it can be solution with new babel version.

Here is release note.
https://github.com/babel/babel/releases/tag/v6.7.4

[2016-05-30 15:05] zenorocha commented on #249
Thanks for reporting @Jinkwon but clipboard.js does not support IE8.

[2016-05-30 15:05] #249 closed

[2016-05-31 02:16] Jinkwon commented on #249
clipboard.js does not support IE8, so I made ie8 support build in here.

If someone had same issue, use this.
https://github.com/Jinkwon/clipboard.js

Also can using bower this command.
[code]

[2016-05-31 08:55] josephrocca opened #250 "Chrome (Windows) has weird scroll-jump behaviour?"
### Incorrect Behaviour

When a page has lots of elements with the `data-clipboard-text` set, clicking one of these elements causes the page scroll to jump downwards. At the top of the webpage, if you click an element, there is no jump at all. The further down the page you are, the larger the scroll-jump is when you click an element.
### Minimal example

https://jsfiddle.net/65gjsbok/
To see the e

[2016-05-31 17:04] kafeltz commented on #250
I'm testing on Chrome (Mac) and all seems to work fine.

[2016-05-31 17:06] kafeltz commented on #249
I'm interesting to know if is it working on IE8. I thought it was impossible without some flash plugins.

[2016-05-31 18:45] josephrocca commented on #250
Thanks for that :+1: hopefully someone else can give Windows a shot to see if it's just something very weird going on with my computer.

[2016-06-01 01:37] Jinkwon commented on #249
Hi, @kafeltz
If I access to page included clipboard.js in IE8, it makes broken because of default keywords.
So I made it to support ES3 specs with some babel option. (Especially ES3 plugin)
I think we can make a spec for safari. (When you click the button, it shows copy & paste UI. That's all)
I know that clipboard.js does not support IE8, but in my business area still so many user using IE8.
I ha

[2016-06-01 08:11] fibo opened #251 "Usage with React (just an example)"
### Description

First of all, thanks and congrats for *clipboard.js*, it is a big enhancement for every web developer.

I am using *clipboard.js* with [React] and it works. I would like to add style from [material-ui].

At first I was using the `data-clipboard-target` attribute, then I noticed the last part of documentation that explaing how to set target dynamically.

So I solved my issue while

[2016-06-01 12:08] kafeltz commented on #249
@Jinkwon Ha I understand know, you made a workaround to prevent error. I thought you made it work on IE8, would be a miracle!

[2016-06-02 05:31] brunogenaro commented on #251
Where this `this.props.clipboard` comes from?

Can you post an example working on JSFiddle or CodePen?

Thanks

[2016-06-02 08:18] Jinkwon commented on #249
@kafeltz
I understood. Wait for me few days. :) I'll trying to make this.

[2016-06-04 18:35] fibo commented on #251
It is just

[code]

passed as a React prop.

[2016-06-05 23:26] josephrocca commented on #250
(bump) Anyone with Chrome on windows getting this behaviour in the above fiddles?

[2016-06-06 10:15] chenEdgar opened #254 "clipboard is not used in android 4.2.2."
### Minimal example

I used clipboard.js in my mobile project. It works well in the operating system of android 4.4.4, but it fail in android 4.2.2.

the difference of android 4.2.2 is that when I clicked the btn, I saw the target object's background change to blue and then the blue disappeared. When I wanted to pasted it, I failed.

[2016-06-06 11:38] FagnerMartinsBrack commented on #254
Please, provide the browser version too.

[2016-06-06 11:39] FagnerMartinsBrack commented on #251
It is worth putting this in the [Wiki](https://github.com/zenorocha/clipboard.js/wiki).

[2016-06-06 12:29] thugsb commented on #250
I am getting the jump behaviour on Safari on this page when clicking Copy Link: https://www.sarahlawrence.edu/news-events/events/?filter-month=2016-06

[2016-06-06 13:10] josephrocca commented on #250
Hmm... Do you get the jumping behaviour in the minimal example fiddle I posted? I'm not getting the jumping behavior in the link you posted with Chrome/Windows

[2016-06-06 13:41] misog opened #255 "Can not copy empty string (vue.js)"
When data-clipboard-text has empty string (''), nothing is copied to the clipboard and the previous clipboard value is not removed.

[2016-06-06 14:56] josephrocca commented on #250
Cheers. Does this library support safari? I didn't think it did. Strange new development for me (again, Chrome/Windows): It's happening somewhat randomly. Like every 10th click or something (not when clicking the same element though). Right now, if I go to the fiddle, then scroll down to about half way, I need to click on ten or so emojis until the jumping occurs. Could you test Chrome with 10 or

[2016-06-06 15:50] thugsb commented on #250
I can't get it to jump on my Chrome/Mac, event after 30 clicks, and in various amounts scrolled down the page.

This library doesn't support the full copy-to-clipboard in Safari, but it does select the correct text so people can ctrl-c it. I've decided to remove the code for Safari, so that the buttons don't event appear.

[2016-06-06 20:30] fibo commented on #251
@brunogenaro I wrote a Codepen. The input text is not editable cause you need to pass an onChange prop that modifies the state, but the Clipboard implementation works.

<p data-height="265" data-theme-id="0" data-slug-hash="wWKGNK" data-default-tab="result" data-user="fibo" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/fibo/pen/wWKGNK/">Clipboard.js + React</a> by f

[2016-06-08 04:50] chenEdgar commented on #254
I got a user-agent from the browser:
User-Agent: Mozilla/5.0 (Linux; U; Android 4.2.2; en-us; HUAWEI G750-T01 Build/HuaweiG750-T01) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30

[2016-06-08 09:02] raphaelyancey commented on #138
@zenorocha Passing an element to Clipboard constructor doesn't bring the original click event as previsouly said. What did you mean by that? Thanks for your library anyway.

[2016-06-08 22:34] zenorocha commented on #255
What was the expected behavior and where can I see a minimal working example?

[2016-06-08 22:34] #255 closed

[2016-06-08 22:39] zenorocha commented on #251
Done: https://github.com/zenorocha/clipboard.js/wiki/Guides ;)

Thanks @fibo for sharing your experience!

[2016-06-08 22:39] #251 closed

[2016-06-08 22:46] zenorocha commented on #254
Sorry, I wasn't able to reproduce this problem. But feel free to send a pull request. Thanks for reporting @chenEdgar!

[2016-06-08 22:46] #254 closed

[2016-06-08 22:50] zenorocha commented on #250
Sorry @josephrocca, I wasn't able to reproduce this problem. It seems like this bug should be reported to Chrome since it's related to a single platform. Thanks for reporting!

[2016-06-09 02:46] manovotny commented on #250
[As noted above](https://github.com/zenorocha/clipboard.js/issues/250#issuecomment-223944707), I experience this same jumping behavior on Safari, but I somewhat expect that given the lack of Safari support.

[2016-06-09 03:29] josephrocca commented on #250
@manovotny I would still expect it to behave nicely in Safari. Curerently I'm using the error callback (thrown when using safari) to initiate a manual copy/paste from a text input.

@zenorocha Looks like the problem occurs across multiple browsers. Could it be a bug introduced in a recent release? Seems very unlikely that this would have gone unnoticed by everyone until now.

[2016-06-09 04:02] zenorocha commented on #250
@josephrocca looks like what you're saying is a separate issue from the one that was created here. Please share a JSFiddle with a minimal example that reproduce such error.

[2016-06-09 04:06] josephrocca commented on #250
I think there's some misunderstanding here. The issue is that there is weird jumping behaviour on this minimal example: https://jsfiddle.net/65gjsbok/ (same one posted originally)

I happens on Chrome/Windows for me (when I scroll down half way and then start clicking items randomly), and others have found somewhat similar behaviour on Safari.

[2016-06-09 04:47] zenorocha commented on #250
Got it. Problem identified and fixed at `v1.5.11`.

[2016-06-09 04:54] josephrocca commented on #250
Thanks for your work on this great lib! :+1:

[2016-06-09 04:56] zenorocha commented on #250
🎉 🎉 🎉 🎉 🎉 🎉

[2016-06-09 13:59] MikaelDev opened #257 "app.bundle.00917b9….js:13773 Uncaught TypeError: Failed to execute 'removeEventListener' on 'EventTarget': 2 arguments required, but only 1 present."
app.bundle.00917b9….js:13773 Uncaught TypeError: Failed to execute 'removeEventListener' on 'EventTarget': 2 arguments required, but only 1 present.

	        ClipboardAction.prototype.removeFake = function removeFake() {
	            if (this.fakeHandler) {
	                **document.body.removeEventListener('click');**
	                this.fakeHandler = null;
	            }

	            if (t

[2016-06-09 14:54] zenorocha commented on #257
Fixed by #256

[2016-06-09 14:54] #257 closed

[2016-06-09 16:34] cmeans opened #258 "Is there a way to use this programmatically?"
I'd like to be able to construct your object without a selector.

`var worker = new Clipboard();`

and to then call the `copy` function as necessary...

`worker.copy("text");`

This doesn't seem possible right now (based on the documentation), or did I miss something?

Thanks.

[2016-06-09 17:15] kafeltz commented on #258
#203

[2016-06-09 17:18] zenorocha commented on #258
https://github.com/zenorocha/clipboard.js#advanced-options

[2016-06-09 17:18] #258 closed

[2016-06-09 17:26] cmeans commented on #258
So, there is no way to create the Clipboard object without a node/selector.

I've found a work-around, but it breaks the model I'm using.  Being able to use this without a selector/node would be a useful option.

[2016-06-09 17:29] zenorocha commented on #258
Clipboard.js doesn't work that way due to security restrictions imposed by browser vendors. User interaction is always required in order copy/cut to work.

[2016-06-09 17:38] cmeans commented on #258
OK.  That makes sense.  Thank-you.

[2016-06-11 05:48] LusciousPear opened #259 "Copy after drag-and-drop?"
Heyas,

Thanks so much for writing this. I'm trying to make an easy file upload workflow. Drag+drop -> upload -> URL copied to clipboard.

I know that you can only copy after a user action -- but does that action have to be a button click? Can it be after a drag-and-drop, then some kind of pause, then on the upload response, you fire off the copy?

Here's the code: https://gist.github.com/Luscious

[2016-06-11 15:12] zenorocha commented on #259
Unfortunately clipboard.js can't help you with that since it includes a click event listener but you can try using [execCommand('copy')](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand) directly. Try it out and let me know, I would love to hear if it works or not ;)

[2016-06-11 15:12] #259 closed

[2016-06-11 17:20] misog commented on #255
updated the original post

[2016-06-11 18:06] zenorocha commented on #255
If you pass nothing, nothing will be copied, and what was previously on the clipboard will remain the same.

You can save an empty space on the clipboard but I don't recommend doing that because there's absolutely no value in overriding user's clipboard with an empty space.

https://jsfiddle.net/zenorocha/8p07fs5d/

[2016-06-11 22:08] misog commented on #255
With empty space no, but of course there is value in saving empty string / removal - if you have a button to copy hidden password or secret API key and the target it is empty (bug or purpose) you really do not want to keep in clipboard previous copied after click. Current behaviour (or lack of the possibility to clear clipboard) can have bad consequences for user.

[2016-06-11 22:12] zenorocha commented on #255
I still disagree that it's a good idea to replace a user's clipboard with empty information but that doesn't really matter. Feel free to save an empty space using Clipboard.js or use `execCommand` directly to achieve the behavior you're looking for.

[2016-06-11 22:14] misog commented on #255
In general, every action should support undo to default state.
And after all, empty string is just ordinary string, why the special behavior? clipboard.js is universal tool, not final implementation of specific use case.

[2016-06-11 22:54] zenorocha commented on #255
I totally agree that every action should support undo to previous state. If you find an API that will fetch what is the current clipboard content, then you have the right value to pass to clipboard.js.

[2016-06-12 01:18] misog commented on #255
For clarification: with the "undo to default state" I mean *change* to default state - default state is known state by programmer. Now I can set default state to whatever except '' with clipboard.js.

Obviously I can not find such API, but it does not matter - I do not want to implement "undo to the very previous value".

From w3.org specification:

[code]

If attribute is absent, then it is undef

[2016-06-12 19:57] zenorocha commented on #255
When I said "it doesn't really matter" I was talking about my opinion on this subject that doesn't really matter. Clipboard.js uses execCommand and if you pass an empty string to this API it will not work. It has nothing to do with Clipboard.js or what I think about this.

Anyways, enough with this discussion that is going nowhere. Feel free to fork this project, send a pull request, or use execCo

[2016-06-12 22:24] zhukov opened #260 "Cmd + C doesn't work is Safari when selector is DOM element"
### Minimal example

I've forked your jsfiddle: https://jsfiddle.net/zoawfsz1/

### Expected behaviour

In safari I press "Copy" button, then Cmd + C and expect it to copy "hello" text.

### Actual behaviour

It doesn't work, because fakeHandlerCallback gets called on the same click that triggered initial copy => fake element gets deleted from DOM before I can press CMD + C. I guess you can set th

[2016-06-14 01:51] LusciousPear commented on #259
FYI - it's totally possible. You can select and copy after a 'mouse drop'
event using execCommand. Had to do some lib hacking with Dropzone, but
we'll get there. Thanks!

On Sat, Jun 11, 2016 at 8:12 AM, Zeno Rocha <notifications@github.com>
wrote:

--
Bradford Stephens
Freelance CTO & Startup Exec
22acacia.com
(530) 763-DATA

[2016-06-14 02:19] zenorocha commented on #259
Awesome! That's good to know, thanks for getting back @LusciousPear ;)

[2016-06-14 08:35] halbstar commented on #250
Sorry to disappoint you,
but I had 2 nightmarish days, until I've found this issue
(last thing that I've expected was problem with module :)
Problem was in Safari, and Firefox, but, funny, not in Chrome...

We have a (jquery) context menu (right click), where some id or password is hidden and user should copy it.
When you click on context menu, page jumps to the top...

I tried to upgrade, but it

[2016-06-14 10:15] CrytisMT opened #261 "can't not copy hidden or not display element's content."

[2016-06-14 15:32] zenorocha commented on #250
Yes, that line is necessary @halbstar. Please make sure you're using the latest clipboard.js version and share a minimal JSFiddle that reproduces this error.

[2016-06-14 15:33] zenorocha commented on #261
Closing since it didn't follow the issue template.

[2016-06-14 15:33] #261 closed

[2016-06-15 10:45] welelay opened #262 "meteor package v1.5.12 not available for mac"
`meteor update` shows and error. It's also true for a brand new application (see minimal example).

### Minimal example

[code]

### Expected behaviour

meteor adds the package to my application

### Actual behaviour

[code]

### Browsers affected

N/A

[2016-06-15 15:12] zenorocha commented on #262
I'm not a Meteor user so I'm not sure how to fix this. I ran `meteor publish --update` and now everything seems to be working fine on https://atmospherejs.com/zenorocha/clipboard. Could you test please?

Thanks for reporting @welelay!

[2016-06-15 15:12] #262 closed

[2016-06-15 15:21] welelay commented on #262
@zenorocha it doesn't work any better.

Did you run this from mac ?
What version of meteor did you use ?
I guess that with the move to npm packages in meteor, the `meteor publish` command is using the package.json file, and if it finds dependencies it decides that your package is platform dependent.
Could you try to temporarily remove the package.json and rerun meteor publish ?

Thanks,

[2016-06-15 15:55] welelay commented on #262
@zenorocha I've tried on a 64-bit linux, but get the same error.

[2016-06-15 15:57] zenorocha commented on #262
Yes, I'm using a Mac. I tried what you suggested but it doesn't seem to work:

<img width="353" alt="screen shot 2016-06-15 at 8 54 23 am" src="https://cloud.githubusercontent.com/assets/398893/16087178/f7a156c4-32d6-11e6-9638-e331dd7a00e2.png">

[2016-06-15 15:58] welelay commented on #262
maybe `meteor publish --update` then?

[2016-06-15 16:08] welelay commented on #262
I've opened a topic on the meteor forums: https://forums.meteor.com/t/zenorocha-clipboard-1-5-12-unusable-even-in-fresh-app/24933

[2016-06-15 18:35] zenorocha commented on #262
<img width="561" alt="screen shot 2016-06-15 at 11 34 42 am" src="https://cloud.githubusercontent.com/assets/398893/16092551/35a4335e-32ed-11e6-948e-ac0d0b36d9f9.png">

[2016-06-15 20:21] elelay commented on #262
no change :-(

[2016-06-16 13:34] black-snow commented on #238
Seeing this, too.

[2016-06-16 14:33] humberaquino opened #263 "No compatible binary build for package zenorocha:clipboard when trying to upgrade to Meteor 1.3.3"
Hey there :)

Just wanted to share that after trying to update a Meteor project to version 1.3.3 (was Meteor 1.3.2.4) by using:
[code]
the command fails and shows to the following error:
[code]

Also tried with a fresh meteor project and got the same error.

I'm on OSX 10.11.5 (El Capitan) using Node 0.10.45.

Not sure if this is the best place to post this so I apologize if that's the case.

Than

[2016-06-16 15:27] zenorocha commented on #263
Hey @humberaquino, I'm not a Meteor user and have no idea on how to fix this. Any ideas?

[2016-06-16 15:27] #263 closed

[2016-06-16 17:50] humberaquino commented on #263
Thanks @zenorocha ! The following commands let me complete the meteor update.

[code]

Ref: http://guide.meteor.com/atmosphere-vs-npm.html

Well check how clipboard works with this install method for my app and come back to you 👍

[2016-06-16 17:57] zenorocha commented on #262
From @humberaquino on #263

[code]

[2016-06-16 18:04] paolo-g opened #264 "Not working inside of a Slick.js carousel"
Hi, I'm trying to add a click-to-copy button inside of a Slick.js carousel slide and am not able to get Clipboard.js to work. I've tried using both the data-clipboard-text and dynamic text function approaches but neither worked. I also tried to instantiate the clipboard object when the slide is shown (in an afterChange event) in case it had to do with the trigger button being hidden, but that didn

[2016-06-16 18:20] #264 closed

[2016-06-17 18:11] zenorocha commented on #260
Hey @zhukov, thanks for reporting! I'm not sure how to solve this but since Safari 10 announced support for `execCommand('copy')` which is the API we use, I think we should be fine. In the meanwhile, I suggest you to use `data-clipboard-target` if you want a better experience on Safari since it shows the selected content.

[2016-06-17 18:11] #260 closed

[2016-06-20 08:23] welelay commented on #262
Thanks @zenorocha

It works, I just had to add this to my client code to access the `Clipboard` object.

    import Clipboard from 'clipboard';

[2016-06-20 15:10] zenorocha commented on #262
Awesome ;)

[2016-06-20 17:08] zackgilbert opened #265 "Input focus/click does not copy to clipboard in Firefox."
### Minimal example

https://jsfiddle.net/1u3xwnLh/

### Expected behaviour

In most browsers, clicking (focusing into) the input field will successfully copy the input value to the clipboard.

### Actual behaviour

Instead of copying input value to clipboard, despite hitting the success callback, the clipboard does not actually contain the input value.

### Browsers affected

Firefox (45) does no

[2016-06-20 17:13] zenorocha commented on #265
Hey @zackgilbert, the JSFiddle you shared is incomplete. Can you provide one that reproduces the error you're describing?

[2016-06-20 17:17] zenorocha commented on #265
I made a small update to your example and everything seems to be working fine: https://jsfiddle.net/1u3xwnLh/1/

[2016-06-20 17:21] zenorocha commented on #265
I also noticed you also loaded the file from GitHub Raw which doesn't contain the proper MIME types. Try using one of our CDN providers: https://github.com/zenorocha/clipboard.js/wiki/CDN-Providers

[2016-06-20 17:21] zackgilbert commented on #265
Your update (adding the button to click), while totally fixing the issue
(and what I've had to do to fix the issue in my project), defeats the
issue. I'll try to get the jsfiddle working (had it working from a standard
html file).

On Mon, Jun 20, 2016 at 12:17 PM, Zeno Rocha <notifications@github.com>
wrote:

[2016-06-20 17:25] zenorocha commented on #265
Ok, I'll wait for the updated jsfiddle but I don't think it's possible to copy the input value to the clipboard when focusing on the input field.

[2016-06-20 17:47] zackgilbert commented on #265
Man. Well, got the fiddles to work as intended (https://jsfiddle.net/1u3xwnLh/4/), but of course now I can't reproduce the error in Firefox. Not sure why its not working in my app but not in the example. Computers are fun.

I'll just close this for now until I can more accurately reproduce the issue.

[2016-06-20 17:47] #265 closed

[2016-06-20 20:42] zenorocha commented on #265
Cool! Are you using the script from GitHub Raw locally? Maybe that was the problem.

[2016-06-20 20:46] zackgilbert commented on #265
Nope. I have a locally saved filed for that. Probably just conflicts with other js code.

[2016-06-21 07:04] vixony opened #266 "How to CLEAR the data that have copied to clipboard?"
### How to CLEAR the data that have copied to clipboard?

[2016-06-21 15:04] zenorocha commented on #266
Due to security reasons browsers don't allow JavaScript to clear the clipboard data.

[2016-06-21 15:04] #266 closed

[2016-06-23 19:23] ellisonleao opened #269 "meteor package breaking on install for 1.5.12 release"
Hey Zeno,

i just updated my meteor app to the latest version (1.3.4) and the clipboard package is getting an error on update:

[code]

Is that  version published ( i can see the tag on atmospherejs page) ?

[2016-06-23 20:30] #269 closed

[2016-06-27 08:07] RogerKang opened #270 "Copy value to clipboard without user interaction"
Actually, I konw a user iteraction is required(like a click).
But the click operation can be triggered by javascript but a real click operation, so I think this design is not really meanningful for developers(unless browsers make some limitation for some cases).
Like below:
[code]
So why don't we open the function 'copy to clipboard from variable' directly?

[2016-06-27 14:56] zenorocha commented on #270
Due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. A simulated click event using JavaScript does not work as this would enable clipboard poisoning.

[2016-06-27 14:56] #270 closed

[2016-06-29 14:41] fibo opened #272 "Clipboard icon as React component"
Hi,

I am writing just to inform about this npm package [react-clipboard-icon](https://www.npmjs.com/package/react-clipboard-icon) which contains **clippy.svg** as a React stateless component.

I hope this can be useful to other people, maybe you can consider to link it to the wiki or somewhere.

[2016-06-29 14:56] zenorocha commented on #272
Nice! Just added to the wiki page https://github.com/zenorocha/clipboard.js/wiki ;)

[2016-06-29 14:56] #272 closed

[2016-07-02 16:57] jasondavis opened #273 "Copy text from JavaScript string variabvle when my app triggers it to do so"
Is it possibble tocopy text to clipboard from a JavaScript variable holding a string of text and to have it happen when my app calls a function to do it instead of requiring a button or DOM element?

I have a bookmarklet which converts a GItHub file URL into a Rawgit.com URL.  I want to have the JS in the bookmarklet add that generated URL to the users clipboard.

[2016-07-02 18:12] zenorocha commented on #273
You can copy a JavaScript variable holding a string by using the imperative API: https://github.com/zenorocha/clipboard.js#advanced-options

Due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. A function call or simulated click event using JavaScript does not work as this would enable clipboard poisoning.

[2016-07-02 18:12] #273 closed

[2016-07-05 07:27] halbstar commented on #250
Ok, back again with the new solution.

First to say something about a problem:
It seams that problem appears when the element is inside some complex environment -
like in my case, the is an iframe (table like), and inside that iframe a new element is appearing (context menu),
and it seams that this conditions makes both `window.pageYOffset` and  `document.documentElement.scrollTop` returns 0,
but

[2016-07-05 10:03] fibo opened #274 "server side tests"
### Intro

I am opening this issue to keep track of this pull request https://github.com/ForbesLindesay/matches-selector/pull/1 which should solve it.

### Minimal example

I am testing a *Root* React component which contains a component that do a `new Clipbloard`.

The test is something like

[code]

### Expected behaviour

Run tests server side with no error.

### Actual behaviour

When I run te

[2016-07-05 16:24] zenorocha commented on #250
Ok @halbstar, thanks for sharing your findings. Unfortunately I can't accept this fix since there's no way to reproduce it yet but we'll be waiting for a JSFiddle :)

[2016-07-12 09:55] Balakumar90 opened #275 "Data is not copied to Clipboard."
I am using Clipboard.min.js . The control flow goes inside  `clipboard.on('success', function (e)` successfully but data is not copied to clipboard. I am using IE 11. **This functionality working in Google chrome but not in IE and firefox.**

HTML :  `<button` id="btn" class="btn btn-primary btn-success" data-clipboard-text="testing" `data-bind="click:$parent.addList">`

I wrote the below code in

[2016-07-12 14:07] dima1985 commented on #152
I can not understand the documentation. Show an example please.

[2016-07-12 15:16] zenorocha commented on #152
https://github.com/zenorocha/clipboard.js/tree/master/demo

[2016-07-12 15:19] zenorocha commented on #275
Everything seems to be working here.

Check our [demos](https://github.com/zenorocha/clipboard.js/tree/master/demo) and if things still don't work feel free to share a JSFiddle that reproduces the actual error.

[2016-07-12 15:19] #275 closed

[2016-07-12 15:44] dima1985 commented on #152
Please show me an example of ajax, example
[code]

[code]

[2016-07-12 15:48] zenorocha commented on #152
That's not how Clipboard.js is supposed to work. But you can use `execCommand('copy')` directly in order to achieve your specific use case.

[2016-07-12 18:58] cezarlz opened #276 "Support for disabled inputs"
### Minimal example

Example: https://jsfiddle.net/zp0o56ns/1/

### Expected behaviour

Copy as the same way.

### Actual behaviour

Don't copy with disabled inputs.

### Browsers affected

Chrome, Firefox and Opera on macOS.

[2016-07-12 19:01] cezarlz commented on #276
Tested with `readonly` attr and works fine!

[2016-07-12 19:03] zenorocha commented on #276
Yes, `readonly` is the attribute you should use instead :)

[2016-07-12 19:03] #276 closed

[2016-07-14 11:49] cristicVictory commented on #56
great~~~

[2016-07-14 11:52] mehmetalidumlu opened #278 "Only Works on IE!"
Hi all,
It works on IE11 but not works other browsers on Windows.
I want copy hidden div text to clipboard on mouse right click.
There is main javascript class

****************
`init(){
var clipboard;
map().addEventListener('contextmenu', function (e) {
        e.preventDefault();
        var newCoordinate = $('#hiddenCoordinates').text().trim();

        clipboard = new Clipboard('#hiddenCopyBut

[2016-07-14 15:34] zenorocha commented on #278
Clipboard.js don't have support to mouse right click events, it comes with a predefined click event listener. I recommend using `execCommand` directly to achieve what you're looking for.

[2016-07-14 15:34] #278 closed

[2016-07-15 13:52] ktian commented on #263
Are there any updates? I still get the same error "error: No compatible binary build found for this package." for both Meteor 1.3.2 and 1.3.4

[2016-07-15 14:19] APshenkin opened #279 "clipboard.js doesn't work in PhantomJS properly"
When you click on the button with clipboard.js in PhantomJS, text doesn't appears in the clipboard.

### Expected behaviour

After clicking on clipboard.js button the text copied to the clipboard

### Actual behaviour

Text doesn't appears in the clipboard. Only if after click you will press "ctrl + c", text will be copied

### Browsers affected

PhantomJS 2.1.1

Tested using

CodeceptJS + Webdriv

[2016-07-15 14:21] zenorocha commented on #263
@ktian have you seen the comment above?

[2016-07-15 14:23] zenorocha commented on #279
Hey @APshenkin!

Due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. A simulated click event using JavaScript does not work as this would enable clipboard poisoning.

So I don't think this can be solved :/ But if you have any ideas feel free to send a PR.

[2016-07-15 14:23] #279 closed

[2016-07-15 16:23] ktian commented on #263
@zenorocha

so I have to do this? meteor npm install clipboard --save
Still prefer the default meteor package way to add this...

[2016-07-15 16:25] zenorocha commented on #263
This is issue not related to Clipboard.js: https://guide.meteor.com/atmosphere-vs-npm.html

[2016-07-15 16:27] ktian commented on #263
Any way you can provide atmosphere support?

[2016-07-15 17:16] zenorocha commented on #263
I don't use Meteor, so feel free to send a pull request.

[2016-07-18 13:17] jkauffman503 opened #280 "Require.js compatibility issue"
I'm using MadCap Flare to create help docs, which uses require.js to serve up a bunch of scripts required for the docs to work. I tried using clipboard.js and I'm getting a "Mismatched anonymous define() module: " error. Is there any way to make the clipboard.min.js script work without the define() function? I'm not super familiar with javascript, so any explanation would be helpful! Thanks.

[2016-07-19 07:59] deejay220989 opened #281 "Copying text in Angularjs"
Hi,

Is it possible to perform a copy of text to the clipboard in AngularJS instead of doing it in the HTML? For example, ngClipboard.toClipboard('textToBeCopied') will add the text "textToBeCopied" to my clipboard.

Thanks!

[2016-07-19 15:28] zenorocha commented on #281
Feel free to use https://github.com/sachinchoolur/ngclipboard or https://github.com/maxisam/angular2-clipboard :)

[2016-07-19 15:28] #281 closed

[2016-07-19 15:31] zenorocha commented on #280
Hey @jkauffman503, everything seems to be working fine with require.js over here: https://jsfiddle.net/zenorocha/0yup6bof/. Please share a JSFiddle so we can reproduce the error.

[2016-07-19 15:31] #280 closed

[2016-07-19 15:32] jkauffman503 commented on #280
I figured out it's the program I'm using, nothing wrong with clipboard.js. Thanks!

[2016-07-19 15:42] zenorocha commented on #280
Cool, thanks for letting us know :)

[2016-07-22 09:01] kimorkim opened #282 "Add text to the error event return value"
An error occurred difficult to import the copied text.

In a more simple way, The error event will be stoked text.

example)
![image](https://cloud.githubusercontent.com/assets/5179851/17051933/36963620-5036-11e6-98ac-125434cee581.png)

How should you think?

[2016-07-22 10:26] mstaal opened #284 "Safari support now?"
I have been told that Safari should now support execCommand. So can you make clipboard.js support Safari now?

[2016-07-22 14:45] zenorocha commented on #284
Duplicated from #277

[2016-07-22 14:45] #284 closed

[2016-07-26 11:07] Pudge601 opened #285 "Problem with safari fallback"
The fallback behaviour in safari doesn't work for copying text from the 'fake' textarea element when providing a DOM element as the trigger (as opposed to using a selector).

Open this fiddle in safari to see the issue: https://jsfiddle.net/Ltas2obg/

This seems to be because the textarea gets removed during the same click event as the one which tries to perform the copy, because the listener for

[2016-07-26 11:50] chrisminett commented on #285
Perhaps could add `e.stopPropagation()` within the Clipboard.js click handler?

[2016-07-26 11:52] kafeltz commented on #285
Looks like a job for setTimeout(fn, 0)!

[2016-07-31 07:13] Stas-Buzunko commented on #157
Hi, no, it's not. I have the same error using with React.

[2016-08-02 05:16] rhroyston opened #286 "How to toggle the auto copy to clipboard functionality off for users who do not want it?"
Is this possible with JS?  I tried .removeEventListener, setting clipboard to = {}, .removeAttribute('data-clipboard-text',res);

Nothing worked?  Any ideas

[2016-08-02 05:18] zenorocha commented on #286
There's no auto copy, the user needs to click a button in order to trigger the copy functionality.

[2016-08-02 05:18] #286 closed

[2016-08-02 17:07] jpearson24 opened #287 "Unable to copy in any config"
I have reproduced a snippet of my code in [JSFiddle](https://jsfiddle.net/ag38qt1k/). My complete page is under my "screenshots" repo in "test3.php", if you need more detail.

I have tried the `<input>` (with a `type="hidden"`) and `data-clipboard-text` (on the submit button) and I can't seem to get it to work. I even added the code you gave to someone else who was using `type="hidden"` (issue #59

[2016-08-02 17:14] zenorocha commented on #287
Hey @jpearson24,

1. You haven't included the clipboard.js script on that JSFiddle.
2. You're using both `target` and `text` API. Remove the `data-clipboard-target` attribute.

https://jsfiddle.net/zenorocha/msg9tr7f/2/

For more working demos check: https://github.com/zenorocha/clipboard.js/tree/master/demo

[2016-08-02 17:14] #287 closed

[2016-08-02 20:27] rhroyston commented on #286
See https://rack.pub/codes

I finally got it working by toggling between .setAttribute and
.removeAttribute.

function upgradeItems(){

On Tue, Aug 2, 2016 at 12:18 AM, Zeno Rocha <notifications@github.com>
wrote:

--
- Ron Royston
  (504) 722-8412

[2016-08-02 20:59] zenorocha commented on #286
Cool! Thanks for sharing @rhroyston

[2016-08-03 00:40] jpearson24 commented on #287
Hmmmm. I've done some more digging, and it would appear it's a bug with Chrome on OSX, where it's not firing `execCommand('copy')` correctly. According to the WebKit bug tracker it has been patched, but Chrome doesn't seem to have the patching implemented. Even using your fiddle it still wouldn't copy, nor would the demos I copied straight across.

[2016-08-03 01:41] zenorocha commented on #287
Interesting, tons of people use this library everyday and nobody reported a bug on Chrome yet. Let me know if there's something related to clipboard.js that I can help with.

[2016-08-03 02:54] jpearson24 commented on #287
Ok, so issue resolved. I'm not sure why or how, but when I put the `<script>` link to the .js file down the bottom, it suddenly miraculously worked.

[2016-08-03 12:29] kafeltz commented on #287
Try to search some OnReady events from javascript and init your stuff inside it. It seems to be that issue.

[2016-08-03 15:02] zenorocha commented on #287
Do you mean `document.addEventListener("DOMContentLoaded", ...)`? This shouldn't be required, see how all the examples from `demo` folder work without them.

[2016-08-03 21:28] rhroyston commented on #286
A must see minor update https://rack.pub/codes

  I don't even know what that means.

On Tue, Aug 2, 2016 at 3:59 PM, Zeno Rocha <notifications@github.com> wrote:

--
- Ron Royston
  (504) 722-8412

[2016-08-05 23:33] philip commented on #285
Is there a simple workaround for this?

[2016-08-08 18:06] we138 opened #288 "Why clipboard is blank?"
Hi guys! I try to use clipboard.js and I stumbled with strange behavior. I have this
[code]

and this
```<button class="btn" id="copy-app-id" data-clipboard-target="a.chosen-single span">Copy</button>```

but when I click on the button, nothing happens. Clipboard is empty. How fix it?

sorry for my bad English

[2016-08-09 03:17] zenorocha commented on #288
Please share a JSFiddle, otherwise I cannot help. Thanks!

[2016-08-09 03:17] #288 closed

[2016-08-11 09:24] devnull791101 opened #289 "setSelectionRange triggers clipboard event"
### Minimal example

im unable to get a jsfiddle working

### Expected behaviour

triggering a jquery event on an anchor to copy text from a "pre" element to the clipboard.

### Actual behaviour

when there is a large amount of text  (353kb in my example) line 260 :

element.setSelectionRange(0, element.value.length);

causes the text to be copied to the clipboard. when line 499:

succeeded = docu

[2016-08-11 15:33] engemasa opened #290 "Copy Text of Selected <select> element"
### Example

https://jsfiddle.net/engemasa/uqrLtegc/1/

### Expected behaviour

I would expect the text of a select element's selected item would be copied to the clipboard

### Actual behaviour

An empty string was copied to the clipboard. (On FireFox a blank space was copied: " ")

### Browsers affected

Tested on Chrome, FireFox, and IE11. Only IE11 threw an error:
[code]
### Suggested Resoluti

[2016-08-11 17:41] tedtate commented on #159
@zenorocha I've created a PR on `matches-selector` to fix this issue. However, I'm wondering if maybe it is easier for you to point your `delegate` module to https://github.com/component/closest instead. It has the necessary fix to `matches-selector` and looks to be more actively maintained.

If that sounds good to you, I will create a PR for the change.

Thanks for your work on this awesome proje

[2016-08-11 18:48] engemasa commented on #290
In the mean time, I found an angular approach that works for this:

[code]

[2016-08-15 16:40] zacharytamas commented on #285
This one has wrecked me for the past hour. I should have checked here sooner.

In my case, I'm using this inside an Angular component which will exist multiple times on the page so I can't count on a single ID always. It's handy to just pass exactly the element I want to listen to but then I run into this problem.

Will report back any solutions I find. :)

[2016-08-15 17:40] Pudge601 commented on #285
As @chrisminett alluded to, you can stop the propagation of the click event so that it doesn't reach up to the body element where the listener is attached for removing the fake textarea.

Since you have a reference to the exact DOM element in question, at the point that you register it with Clipboard.js, you can then also attach a click listener to the same DOM element which simply stops the propa

[2016-08-15 17:56] zacharytamas commented on #285
@Pudge601 Yeah I got it to work by stopping the propagation which is definitely One Weird Trick™️  but it will work for us, I think. It's not listened for anywhere above our element. Thanks all for the tips!

[2016-08-16 12:58] CatVas opened #292 "No compatible binary build found for this package"

[2016-08-16 13:00] #292 closed

[2016-08-16 16:00] zenorocha commented on #292
?

[2016-08-22 18:28] vberkel commented on #288
@zenorocha my situation also produces a blank clip. The events output to console show correct Action, Text and Trigger but it clears the clipboard for me.

I created a fiddle for you [https://jsfiddle.net/jfrwe4eh/1/](https://jsfiddle.net/jfrwe4eh/1/).  I'm guessing it's because of special characters.

[2016-08-23 12:24] kafeltz commented on #288
Try to remove the **style="display:none"** from **textarea**, for me it looks like a security from browser.

Maybe you need to **position: absolute; left: bigNumber**

[2016-08-23 15:50] vberkel commented on #288
You were right, that works. Thank you.

[2016-08-23 15:53] zenorocha commented on #288
If you need to copy content but don't want to it to appear you can use `data-clipboard-text` https://github.com/zenorocha/clipboard.js#copy-text-from-attribute or the imperative API https://github.com/zenorocha/clipboard.js#advanced-options

[2016-08-26 11:22] michaelwalgraeve opened #293 "Code not working on iOS (browser and app version)"
### Minimal example

https://jsfiddle.net/mwalgraeve/b0tzbf39/

### Expected behaviour

Copy function is not working in Safari on iOS and in iOS App.

### Actual behaviour

I get an error message in the console but it is not clear to me what is wrong. Any help?

### Browsers affected

Safari

[2016-08-26 17:37] chrisbenseler opened #294 "Use setAttribute("style") instead of el.style"
Zeno, couldn't this piece of code in clipboard-action.js:

[code]

be rewritten with the following syntax:
[code]

? I think there are no side effects with this implementation.

so it wouldn't be necessary to repeat this.fakeElement.style for each css attribute.

[2016-08-26 18:38] yaninavaleria opened #295 "Prueba LAB"
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2016-08-26 18:40] yaninavaleria commented on #295
![j0405026](https://cloud.githubusercontent.com/assets/20710452/18016555/f900ddee-6b9a-11e6-8df6-7a997b530cf4.jpg)
![j0401924](https://cloud.githubusercontent.com/assets/20710452/18016570/06687ae6-6b9b-11e6-8341-3d0ada2b40be.jpg)

[2016-08-27 04:47] yaninavaleria commented on #295
Buscando plugin

[2016-08-28 12:04] lausianne opened #296 "Clipboard not defined"
This is my code, nothing else:

[code]

Result: Uncaught ReferenceError: Clipboard is not defined

EDIT: Meanwhile I found the hidden complete example:
https://github.com/zenorocha/clipboard.js/blob/master/demo/constructor-selector.html#L18
Result is the same: Clipboard is not defined

EDIT 2: Now I found that the error only occurs when the code is loaded via AJAX. If called directly, it works. So

[2016-08-29 00:08] PandaWood commented on #293
You're expectation seems to be wrong, the documentation for this project clearly states that Safari is not supported.

[2016-08-29 04:14] PandaWood opened #297 "Assistance with clipboard.js not working at all, in only one case"
Don't seem to be able to delete. I'll work on creating a reproducing scenario

[2016-08-29 06:35] #293 closed

[2016-08-30 00:05] #297 closed

[2016-08-30 00:19] michaels750 opened #298 "IE copy not working"
### Minimal Example

JS
`// Instantiate Clipboard.js`
`var clipboard = new Clipboard('.btn');`
`clipboard.on('success', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
    e.clearSelection();
});
clipboard.on('error', function (e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});

[2016-08-30 01:54] michaels750 commented on #298
Found the solution, I had the password in a `<span>` element. But IE needs it to be either a input or a text area.

So I would look at amending your documentation to note the IE limitation there for the copy action. (As I see it is noted for the cut action.)

[2016-08-31 12:19] moddish opened #299 "Copy without style information"
When you set to copy the contents of a div, I want to copy the content and any html that is in it like bold, italic etc but dont want the styles that are being inherited from other divs. EG if no styles are set, the font is auto new times romand, and when pasted into a mail editor etc the styles from the page it was copied from are being carried over, I want to copy without any style information.

[2016-09-01 20:07] mdissel opened #300 "copy table to excel and prevent linebreaks to create separate cells"
Using this css should prevent creating separate cells for each break when copying to excel. When I use this library it seems that still is missing. Any tips?
[code]

[2016-09-02 08:17] purgeru opened #301 "Copying also ordered list section (not working)"
### Minimal example

How to manage something like this, that it would copy the whole <p> tag ?
https://jsfiddle.net/purgeru/90fgsog3/1/

[2016-09-02 08:27] purgeru commented on #301
https://jsfiddle.net/purgeru/90fgsog3/5/
Managed to resolve it.

Needed to inplement paragraph in <div id="foo"> element.

[2016-09-02 08:27] #301 closed

[2016-09-05 11:32] rdunk commented on #206
Also seeing this issue on an iOS 9.3.2 on iPad, not functioning or degrading on Chrome or Safari.

See this JSFiddle: https://jsfiddle.net/amhwjm69/

[2016-09-06 02:26] lebornjose opened #302 "Whether support Safari ?"
### Minimal example

### Expected behaviour.

### Actual behaviour

### Browsers affected
Safari is supported

[2016-09-06 13:57] kafeltz commented on #302
It does not work here.

[2016-09-06 15:46] zenorocha commented on #302
https://github.com/zenorocha/clipboard.js#browser-support

[2016-09-06 15:46] #302 closed

[2016-09-07 11:08] kjgarza commented on #299
I actually think copy without any style (plain text) should be the default.

[2016-09-07 15:07] kunkaiHuang opened #303 "how to copy from the window prompt"
I can not copy from the window prompt,can you show me the way to copy from window prompt,thank you very much

[2016-09-07 16:06] zenorocha commented on #303
Please share a JSFiddle with the expected behavior.

[2016-09-07 16:06] #303 closed

[2016-09-07 16:39] kunkaiHuang commented on #303
https://jsfiddle.net/hkkk/omtwc654/1/  , when i click the button,it will have a window prompt,if i choose yes,i can copy "hkkk".if i choose no,i can not copy "hkkk".I do not how to achieve it if i use clipboard.js.Can you show me some method,thank you very much!

[2016-09-08 14:11] diogoca commented on #296
Hi Lausianne,

Here the same... loading via
`<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js" async></script>`

[2016-09-08 15:47] zenorocha commented on #295
![](https://media.giphy.com/media/XrHc1gDORei1q/giphy.gif)

[2016-09-08 15:47] #295 closed

[2016-09-08 15:47] zenorocha commented on #296
Everything seems to be working fine over here, please share a JSFiddle with a reproducible bug.

[2016-09-08 15:50] zenorocha commented on #300
`document.execCommand('copy')` which is the browser API that we use apparently does not support such thing.

[2016-09-08 15:50] #300 closed

[2016-09-08 15:52] zenorocha commented on #298
Thanks for sharing your solution @michaels750.

[2016-09-08 15:52] #298 closed

[2016-09-08 15:53] zenorocha commented on #294
That's a personal preference but thanks for sharing your thoughts @chrisbenseler :)

[2016-09-08 15:53] #294 closed

[2016-09-08 15:55] zenorocha commented on #299
Hey @moddish, try using this https://github.com/zenorocha/clipboard.js#copy-text-from-attribute or https://github.com/zenorocha/clipboard.js#advanced-options.

[2016-09-08 15:55] #299 closed

[2016-09-08 15:56] zenorocha commented on #289
Hey @devnull791101, unfortunately I wasn't able to reproduce this bug. Please share a JSFiddle or something like that so we can see it happening. Thanks for sharing!

[2016-09-08 15:56] #289 closed

[2016-09-08 15:59] zenorocha commented on #282
Merged, thanks @kimorkim!

[2016-09-08 15:59] #282 closed

[2016-09-08 16:04] zenorocha commented on #159
Hey @tedtate, I totally agree with you. You can go ahead and open this pull request on `delegate`. Is this https://github.com/ForbesLindesay/matches-selector/pull/2 the same error as this https://github.com/ForbesLindesay/matches-selector/pull/1?

[2016-09-08 17:37] lausianne commented on #296
Have you tried via AJAX? I wouldn't know how to test that with JSFiddle.

[2016-09-08 18:33] zenorocha commented on #296
I haven't because a reproducible scenario has not been provided. If someone else has the same issue and has the ability to reproduce it, please share with us so we can evaluate this problem.

[2016-09-09 03:10] zenorocha commented on #285
Thanks for reporting and sharing your solutions, if you have any suggestion please feel free to send a pull request.

[2016-09-09 03:10] #285 closed

[2016-09-09 06:54] Dragon-Rider opened #304 "The event is wrong on IE 11 when I don't allow the website to access my clipboard"
Hi, there :)

I found the "events" of clipborde.js don‘t work well on IE 11,  when I didn't allow the website to access to my clipboard.

### Minimal example

### Expected behaviour
![image](https://cloud.githubusercontent.com/assets/8859216/18377797/c39c8070-769b-11e6-801e-b3ae8e71373d.png)

If  you choose "Don't allow" on IE 11(Windows 7),  and then click the "copy" button, you can't copy anythi

[2016-09-09 07:03] Dragon-Rider commented on #304
I read your source code and found that you use the parameter 'succeeded' to check the "document.execCommand(this.action)". And I test it on IE. If I choose “don't allow the website access to the clipboard”, then I execute this command（“document.execCommand(copy)”）. It still return 'true'，but my clipboard is empty.

![image](https://cloud.githubusercontent.com/assets/8859216/18378136/b241524a-769d-

[2016-09-09 15:43] radar1975 opened #305 "Firefox vs Chrome"
### Minimal example

https://jsfiddle.net/5kk0eysw/2/

### Expected behaviour

When i ctrl-v it is suppose to return the text value

### Actual behaviour

In chrome it work just find but not in FF

[2016-09-09 15:48] zenorocha commented on #304
Hey @Dragon-Rider, this is a known issue https://github.com/zenorocha/clipboard.js/issues/77 https://github.com/zenorocha/clipboard.js/wiki/Known-Issues. At this moment, there are no solutions for this problem. If you have an idea, please feel free to send a pull request.

[2016-09-09 15:48] #304 closed

[2016-09-09 15:52] zenorocha commented on #305
It is working over here, just tested on Firefox 47 and Firefox Aurora 50.

[2016-09-09 15:52] #305 closed

[2016-09-09 18:54] radar1975 commented on #305
Thanks for your time but FF 48 it's not .... i will see what i can do

[2016-09-09 19:40] zenorocha commented on #305
Just upgraded to Firefox 48 and everything still works.

[2016-09-09 19:52] radar1975 commented on #305
Sorry about that ... certainly, a issue on my side
Thanks for your time

[2016-09-14 09:01] kimorkim commented on #56
👍

[2016-09-15 07:59] jt4000 opened #306 "Display Message"
If you have a picture or text and when you press it by using the left click mouse button a message "Copied!" should display. Today, there is a function for it but it is only for <button>. Please take a look at the attached picture.

Is it possibly to do it?

Thank you!

![asdf](https://cloud.githubusercontent.com/assets/14993569/18542400/fcd5c12e-7b2a-11e6-9132-7005fea81e5e.png)

[2016-09-15 09:42] thebarada commented on #274
+ with angular universal

[2016-09-16 16:08] ansonkao opened #308 "react-bootstrap modal also failing in Firefox"
The following does not work in Firefox: https://jsfiddle.net/jr0wn11w/1/

It is using `react-bootstrap` for the modal. This library has it's own implementation (it does not use the jQuery plugin that comes with bootstrap).

I read the other issues talking about similar problems with modals but am unsure as to how to debug the problem. Any ideas?

[2016-09-17 01:17] plantain-00 opened #309 ""Uncaught TypeError: Illegal invocation" error in function match(el, selector)"
### Minimal example

The library works fine on copy to clipboard
but when I add some codes(2 buttons) that is not related to clipboard.js or the element handled by clipboard.js, the error appears.
![2016-09-17 08 59 55](https://cloud.githubusercontent.com/assets/7639395/18604834/31337836-7cb5-11e6-92b5-a7a727bbe577.png)
The `el` is actually the new button I added, not the element handled by clipbo

[2016-09-18 12:34] cheekyboots commented on #183
I had the same problem and found the solution over here:
http://stackoverflow.com/questions/26107125/cannot-read-property-addeventlistener-of-null

Wrap the instantiation code in window.onload=function()

i.e.

window.onload=function(){
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {

[2016-09-18 16:17] ansonkao commented on #308
Resolved by turning off the `enforceFocus` option in `react-bootstrap.Modal`.

[Documentation](https://react-bootstrap.github.io/components.html#modals)

[2016-09-18 16:17] #308 closed

[2016-09-20 10:40] kafeltz commented on #308
https://github.com/zenorocha/clipboard.js/issues/155

[2016-09-20 13:50] danilychen opened #310 "Run clipboard trigger programmatically"
There is an requirement to make ajax request on button click and then run clipboard trigger with custom data. It will be great to run clipboard trigger programmatically - not only on click event.

[2016-09-20 17:23] cnrudd commented on #310
I don't think that the browser security models built around execCommand allow for a copy to clipboard that was not directly triggered by a user event.  The click that triggers your async ajax request does not carry through to the callback triggered by the request's success.

You can make it work if you set ajax to sync = true, but that will freeze your browser till the request completes.

I worked

[2016-09-21 07:49] flydev-fr opened #311 "Copy text from Hidden Input"
It is possible to get the value of input type hidden ?

The input :
`<input type='hidden' value='mysekretvalue' id='hidden-0' />`

The link :
`<a href='#' class='link-copy' title='copy to clipboard' data-clipboard-target='#hidden-0'>`

[2016-09-21 08:40] flydev-fr commented on #311
Solution:

[code]

[2016-09-21 08:40] #311 closed

[2016-09-21 10:16] gtrubach opened #312 "ClearSelection does not work with text in textarea in IE"
Textarea text selection does not cleared in IE. I found that blur() doesn't work as in Chrome or Firefox. Maybe I'm wrong?

[2016-09-21 15:34] zenorocha commented on #312
Hey @gtrubach, please inform the exact version of IE and share a JSFiddle that reproduces this problem.

[2016-09-21 15:34] #312 closed

[2016-09-21 16:12] zenorocha commented on #310
@cnrudd is right, that's a browser security thing.

[2016-09-21 16:12] #310 closed

[2016-09-21 17:15] gtrubach commented on #312
[JSFiddle](https://jsfiddle.net/gtrubach/7amepaby/)
IE version 11.

[2016-09-22 08:58] clarkritchie commented on #292
[code]

[2016-09-22 17:09] zenorocha commented on #292
Duplicated from #263

[2016-09-25 00:46] #159 closed

[2016-09-26 00:33] blakerutledge opened #314 "Demo page (and simple use in my build) not working in Safari 9.1.1 (OSX 10.11.5)"
It results in an error on click.

Chrome works as expected! I thought it was something I was doing wrong but checked on the demo page and that's not working for me in Safari.

Can anyone recreate this?

[2016-09-26 00:37] zenorocha commented on #314
Hey @blakerutledge,

Check the browser support table: https://github.com/zenorocha/clipboard.js#browser-support
Fallback ideas are provided there was well.

[2016-09-26 00:37] #314 closed

[2016-09-26 00:39] blakerutledge commented on #314
oh awesome. i saw the safari icon and misread the 10. my bad there. sorry about that!

[2016-09-26 00:58] zenorocha commented on #314
No worries :)

[2016-09-26 12:47] stamster commented on #306
I just do `alert()` message, users are one eye blind at times and you need to explicitly inform them about some event.

[2016-09-28 07:26] d88pak opened #317 "Opening new window disables copying `question`"
This is more of a question than issue. How can I fix this?

[code]

this also fails
[code]

[2016-09-28 07:53] #317 closed

[2016-09-29 04:50] mjntan35 opened #318 "Copy does not work when copying text inside a div/p element in IE 11"
https://jsfiddle.net/wafvbpny/

but it works if set contenteditable to true

[2016-09-29 05:04] #318 closed

[2016-09-29 19:15] jbruni commented on #56
The coolest thing is that this issue is intentionally kept open, while people out there are willing to close all issues! :smile: Viva Brazil :br:

[2016-09-30 00:56] lovebdsobuj opened #319 "[clipboardjs] Copy multiple target elements."
Is't possible coping multiple target elements?
Like, **`data-clipboard-target="#data-*"`**

[2016-09-30 11:28] kafeltz commented on #319
Make a test!

[2016-10-01 06:53] #309 closed

[2016-10-01 11:36] evecalm opened #320 "page scrolled after copying on iphone"
### Minimal example
To reproduce this bug, just open <https://clipboardjs.com/> on Safari with iOS 10, and tap the last demo button **Copy to clipboard**, then the page should scroll down, but the clipboard is changed.

### Expected behaviour

The web page should stay where it is.

### Actual behaviour

Web page scrolled down. In my own project, the page scrolls up.

### Browsers affected

I'm usi

[2016-10-02 05:18] rgfx opened #321 "Can I copy actual HTML tags and css?"
I read all the issues, it seems some people were able to copy HTML but maybe am missing something.

They seems like they wanted to just copy text, I want copy everything,  tags and css inside a specified element.

I used the code found #72 still just copying text without tags.

Please advise.

[2016-10-03 18:25] rgfx commented on #223
Here is little css hackery to get it done. https://jsfiddle.net/uyqqz3d9/

I am not sure if @zenorocha is saying it possible or impossible.  My solution  works for what I need it for.

[2016-10-03 19:32] kafeltz commented on #223
i see no css in this jsfiddle

[2016-10-03 20:38] rgfx commented on #223
@kafeltz its inline, look at the html.

[2016-10-03 21:16] zenorocha commented on #223
You don't need an element, you just need to use `data-clipboard-text`.

[2016-10-05 01:36] rgfx commented on #321
Was hoping and clipboard.js could support this, never heard got a response. I had to find another solution. I manage to remove the need for clipboard.js all together with a few lines of JS.

Good support for cut and paste using Document.execCommand()

copy/cut : Chrome < 42,	 Firefox  < 41 (41),	IE < 9, Opera < 29,  Safari <10

Here is working code with no dependencies. http://codepen.io/rgfx/pen/

[2016-10-07 00:41] lovebdsobuj commented on #319
Simply it's not working.
Need a sample demo.

[2016-10-09 17:47] itsnwa opened #322 "Copy text on keypress"
How can I copy the text within this span element: `<span class="git-repo">https://github.com/...</span>` on keypress `C`?

[2016-10-09 18:15] Kristinita opened #323 "[Question] Can not begin to use issue"
### Summary

I can not to make simple `copy` button.

### Expected behavior

![Simple `copy` button](http://i.imgur.com/qHFT3nG.png)

### Actual behavior

Not `copy` button.

### Steps to reproduce

My not working code: <http://cssdeck.com/labs/reaxdmj8>. I can not to make simple `copy` button and successful reproduce your examples.

[code]

### Environment

**Operating system and version:**
Windo

[2016-10-11 14:50] chriskellet commented on #323
Your code has many errors in it.
Have a look at this modified version of you example http://cssdeck.com/labs/pwahbkej

[2016-10-11 19:25] woolf07 opened #324 "firefox 49.0 vertion not working"
**===== HTML**
`<button class="btn-copy" data-clipboard-text="text to copy" id="value-url">
   <span class="share-icon"></span>
   <em class="cb-msg">Share</em>
</button>`

**===== JS**
`var clipboard = new Clipboard('.btn-copy');

clipboard.on('success', function(e) {
    console.log('Copied Success' + e);
    $(e.trigger).html('<span class="share-icon"></span> <em class="share-msg">Share</em>').

[2016-10-11 19:33] zenorocha commented on #324
Just tested [clipboardjs.com](https://clipboardjs.com/) and [all demos](https://github.com/zenorocha/clipboard.js/tree/master/demo) on Firefox 49 and everything is working fine. Please share a working example on JSFiddle or something like that so we can better debug it.

[2016-10-11 19:33] #324 closed

[2016-10-11 19:33] zenorocha commented on #323
Exactly, thanks @chriskellet :)

[2016-10-11 19:33] #323 closed

[2016-10-11 19:34] zenorocha commented on #322
Hey @itsnwa, thanks for asking! clipboard.js does not support `keypress` events, I recommend you to leverage your own implementation using `document.execCommand('copy')`.

[2016-10-11 19:34] #322 closed

[2016-10-11 19:38] zenorocha commented on #321
@rgfx clipboard.js supports copying any kind of string you pass to it.

[code]

But I'm glad you were able to leverage your own copy to clipboard solution :)

[2016-10-11 19:38] #321 closed

[2016-10-11 19:46] rgfx commented on #321
@zenorocha thanks for the response, even it was tad bit late. Learned some more js so it wasn't all that bad.

[2016-10-11 19:59] itsnwa commented on #322
Okey, I see - thank you :)

[2016-10-11 20:35] zenorocha commented on #321
🎉 🎉 🎉

[2016-10-12 12:17] Kristinita commented on #323
@zenorocha, @chriskellet, see expected behavior. I don't need to copy button for `textarea` element.

![No Textarea](http://i.imgur.com/s73O8yF.png)

I need `Copy` button for my code as in [title page clipboard.js](https://clipboardjs.com/) site:

![Expected behavior](http://i.imgur.com/nVXzySA.png)

### Steps to reproduce

I run command prompt in node_modules folder of my project → I install Clip

[2016-10-13 13:54] YanivPlaybuzz opened #325 "Whenever trying to copy link on IOS the screen zoomed in"
when i click the button the screen is zoomed in + the text is shown as selected (marked in blue)

thats the code i used :
input id="foo" value="https://github.com/zenorocha/clipboard.js.git">
button class="btn" data-clipboard-target="#foo">
    img src="assets/clippy.svg" alt="Copy to clipboard">
/button>

[2016-10-13 21:23] jdpopkin opened #326 "Chrome: clipboard.js reports success despite failing to change clipboard when target element is hidden via display: none"
### Minimal example

http://jsfiddle.net/tnLd7zc3/

### Expected behaviour

I thought that when I clicked "Copy" in this JSFiddle one of two things would happen. Either "hello" would replace the contents of my clipboard, or clipboard.js would report a failure (thus avoiding an `alert` in this fiddle).

### Actual behaviour

Instead of "hello" being copied to my clipboard, my clipboard remained unc

[2016-10-17 00:08] zenorocha commented on #325
Hello, thanks for reporting. Unfortunately I couldn't reproduce this problem. Have you tried including `<meta name="viewport" content="width=device-width, initial-scale=1">`?

[2016-10-17 00:08] #325 closed

[2016-10-17 01:53] #320 closed

[2016-10-17 01:56] zenorocha commented on #320
Hey @evecalm, thanks for reporting! Just pushed a fix for this, it's still not the best behavior possible but it's better than before. If you have any ideas, please send a pull request.

[2016-10-17 01:59] zenorocha commented on #319
You can't copy multiple target elements at once. But you can [use the imperative API](https://github.com/zenorocha/clipboard.js#advanced-options) for that, for example:

[code]

[2016-10-17 01:59] #319 closed

[2016-10-17 05:33] zenorocha commented on #290
Hey @engemasa, thanks for reporting!

I'd love to have this feature as well. I played a little bit with it but it seems like it won't be possible to make this work with `data-clipboard-target`. You'll need to use `data-clipboard-text` (like you already did) or use the imperative API.

[code]

[2016-10-17 05:33] #290 closed

[2016-10-17 05:37] zenorocha commented on #306
clipboard.js is not opinionated about tooltip implementations. It only does what it needs to do and you can handle that kind of user feedback on the `success` callback. If you need some inspiration check out the `gh-pages` from this project which contains the website.

[2016-10-17 05:37] #306 closed

[2016-10-17 16:15] Siyfion opened #327 "Unresolved modules after upgrading"
After updating to the latest release of Clipboard.js I've been getting these errors in my console, and I'm _pretty_ certain it's to do with the Clipboard.js update...
[code]

Any idea why this is only now suddenly an issue?

[2016-10-17 16:40] zenorocha commented on #327
Hey @Siyfion, thanks for reporting, can you confirm that this is happening only with Meteor?

[2016-10-17 16:46] zenorocha commented on #327
Just noticed that I forgot to run `meteor publish`, can you try it now?

[2016-10-17 16:48] Siyfion commented on #327
I've actually installed Clipboard via NPM as per the newer style of meteor imports:
[code]

[2016-10-17 16:53] zenorocha commented on #327
Nice :)

[2016-10-17 16:53] #327 closed

[2016-10-17 16:54] Siyfion commented on #327
@zenorocha No, no... As in... I got this issue _**with**_ installing it through NPM.

[2016-10-17 18:54] zenorocha commented on #327
Could you send the steps to reproduce this problem? `npm i clipboard` is working fine here.

[2016-10-18 10:57] Siyfion commented on #327
@zenorocha So after running:
`meteor npm install --save matches-selector query`

I now get:
[code]

And there is no way I'm adding all these dependencies just to have a clipboard package working!

I'll see if I can reproduce it easily...

[2016-10-18 11:18] Siyfion commented on #327
Okay, simple reproduction:

[code]

[2016-10-19 11:42] Siyfion commented on #327
@zenorocha Any luck in reproducing this?

[2016-10-19 13:35] galdo666 commented on #327
I have the same problem after update npm modules for my meteor project.
If I install matches-selector with _meteor npm install --save matches-selector_ command, I have this error inside the browser:

[code]
at the first line:

[code]
in match function of _matches-selector_  module

[code]

with these parameters: el = document and selector = '.copyCliboard'.

If I don't install _matches-selector_

[2016-10-21 10:21] gegomu opened #329 "Write to clipboard directly from javascript"
### Minimal example

// This is what I need
var cpb = new Clipboard("#id");
cpb.copy("some text");  // Text is copied to clipboard

### Expected behaviour

I wonder if it was possible to copy to clipboard directly from javascript, is it possible?

//-- this is my experiment
I try to delete the value copied to clipboard after a while, so I receive an event throw a function ...

`
var clipboard = ne

[2016-10-21 13:17] Siyfion commented on #327
Can we have this issue re-opened @zenorocha ?

[2016-10-22 01:42] djmattyg007 commented on #329
I too was wondering about this recently. This library seems massively over-complicated when all you want to do is programmatically copy some text to the clipboard.

I ended up adapting the approach taken by this library into a very small class that have a hard dependency on binding events to buttons: https://github.com/djmattyg007/pictorials/blob/1c99a013fb9fa9fcd90d30c7f779e7f0fa345322/assets/js/

[2016-10-22 12:37] gegomu commented on #329
oh, thank you very much
I Think the problem about the copy is for some security reason in Firefox. I've try in IE and I get the some problem. Also, I've try a solution similar to your new example an d the problem is similar.
You can not save anything to clipboard if it is not in a thread started by the user
Thanks one more time

[2016-10-23 02:18] zenorocha commented on #274
I think this is finally fixed in `v1.5.14`, could you please test it @fibo and @thebarada?

[2016-10-23 02:18] #274 closed

[2016-10-23 02:22] zenorocha commented on #327
Please update to `v1.5.14`, this should be fixed now :)

[2016-10-23 02:50] zenorocha commented on #329
You can't programmatically copy text to clipboard due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. A simulated click event also does not work as this would enable clipboard poisoning.

P.S.: If clipboard.js isn't the right solution for you, feel free to use another library or roll your own implementation :)

[2016-10-23 02:50] #329 closed

[2016-10-23 02:52] zenorocha commented on #326
That is a security limitation imposed by browser vendors. If you need to copy content from a hidden element feel free to use the [imperative API](https://github.com/zenorocha/clipboard.js#advanced-options).

[2016-10-23 02:52] #326 closed

[2016-10-23 02:56] djmattyg007 commented on #329
I think the salient point is that someone may wish for more control over how text is copied to the clipboard upon a user action, rather than the single solution provided by this library of just binding event listeners to buttons directly.

[2016-10-23 12:03] strogonoff opened #330 "Suggested fallback doesn’t work if trigger is specified as an element"
This concerns some or all browsers without direct clipboard support, confirmed under Safari 9.1.3.
### Minimal example

[Fiddle](https://jsfiddle.net/jkawfcpo/3/) demonstrating [suggested fallback](https://clipboardjs.com/#browser-support) option twice using different ways of specifying trigger element: first using DOM element, second using selector as a string.
### Expected behaviour

Relevant te

[2016-10-23 13:24] fibo commented on #274
ok, thanks!

 I opened an issue on a component using Clipboard.js (maybe you do not see it cause it is private), so it is in my todo list.

[2016-10-23 17:10] zenorocha commented on #274
Awesome! I basically got rid of the dependency that caused that problem and rewrite that piece of code. Now I have control to change anything if needed.

[2016-10-23 17:48] zenorocha commented on #329
If you want more control over how text is copied see the "Advanced options" in the docs.

As I said before, user interaction is required in order copy/cut to work. This is a browser requirement, not mine.

[2016-10-24 04:13] herrdu opened #331 "iphone 上的chrome 浏览器使用呼出部分输入键盘"
When  I test ‘Copy text from attribute’ feature on  Chrome in iphone  6p (ios10), it will show part of input keyborad of Iphone.
当我在iphone 6p （ios10 ） 上使用的时候，他会呼出部分键盘

[2016-10-24 08:43] fibo commented on #274
here it the issue on the private repo

<img width="771" alt="screen shot 2016-10-24 at 10 42 55" src="https://cloud.githubusercontent.com/assets/176730/19638998/adef053c-99d6-11e6-9850-6d56fa5b7882.png">

[2016-10-24 14:54] jdpopkin commented on #326
Is it possible/worthwhile to fire an error event rather than a success event when the relevant element is hidden? I'm less concerned about the copy failing than I am about Clipboard.js reporting success when this happens.

That said, right now the error event is fired when the _browser_ is the problem. And trying to copy text from a hidden element is a programmer error. So maybe it makes sense to

[2016-10-26 09:16] HugoCrd commented on #184
This is related to #330

[2016-10-26 09:41] HugoCrd commented on #330
This happen because there's a `click` callback on `document.body` which is instantly fired when `selectFake` is fired by a click on the element.

https://github.com/zenorocha/clipboard.js/blob/7b5b34913904cb34e6753e19ec1f019b73c620d8/dist/clipboard.js#L439

Removing it, or putting it into a setTimeout "resolves" this issue, but I'm pretty sure it's here for a good reason ;)

[2016-10-27 20:24] lizadaly commented on #324
I'm seeing this with Firefox 49.0.2 Mac on clipboardjs.com (plus my own code, v 1.5.15).

Screenshot:

![image](https://cloud.githubusercontent.com/assets/19571/19783904/c13a4e48-9c61-11e6-901f-cd71d8025199.png)

[2016-10-27 21:08] zenorocha commented on #324
Everything seems to be working fine over here.

![ff](https://cloud.githubusercontent.com/assets/398893/19785582/ccaee652-9c4e-11e6-9c95-e0ca473d2aa2.gif)

[2016-10-27 21:38] lizadaly commented on #324
Huh, also works fine on another machine, same FF version, same OS. I reset FF completely and it does work on my machine too. That's puzzling because I had no extensions installed. Thanks for verifying!

[2016-10-28 01:35] Heier2013 commented on #56
Come from china, via [oschina](https://www.oschina.net/news/78478/clipboardjs-v-1-5-15).
It's awesome,may can help me deal with many problems！

[2016-10-28 04:04] pendave opened #333 "Strange blank space problem for data-clipboard-text= parameters"
[code]

When I use the code
`<button class="mybtn"  data-clipboard-text=' + decodeURIComponent(title_part) + '>Copy</button>`

Error:

![qq 20161028120335](https://cloud.githubusercontent.com/assets/1331881/19794663/95834584-9d06-11e6-9e67-789ce71a0397.png)

What can I do?

[2016-10-28 16:20] zenorocha commented on #333
Sorry but I couldn't understand, please share a JSFiddle with a reproducible scenario.

[2016-10-28 16:20] #333 closed

[2016-10-28 16:21] zenorocha commented on #331
Yes, unfortunately there's no way to prevent that, but feel free to send a pull request if you have any suggestions.

[2016-10-28 16:21] #331 closed

[2016-10-29 02:51] pendave commented on #333
Ok, I want dynamic writing strings with blank spaces into attribute "data-clipboard-text" but failed, as you see the content for "data-clipboard-text" is ripped off and only the first word is included in quotes.

But I check this tutorial and get the method from floor 3 answer.
http://stackoverflow.com/questions/34191780/javascript-copy-string-to-clipboard-as-text-html

His way http://jsfiddle.net

[2016-10-29 17:41] zenorocha commented on #333
Here it is: https://jsfiddle.net/5kk0eysw/9/

[2016-10-29 17:42] zenorocha commented on #333
Or https://jsfiddle.net/5kk0eysw/10/

[2016-10-29 22:40] evanjmg commented on #302
Still does not work for function text copying

[2016-10-29 23:27] zenorocha commented on #302
@evanjmg please share a JSFiddle with a reproducible example.

[2016-10-30 17:49] kkateivanova commented on #320
The scroll bug still remains in Safari iOS 10 (iPhone & iPad).

[2016-10-30 19:20] zenorocha commented on #320
What version are you using @kkateivanova?

[2016-10-30 19:21] evanjmg commented on #302
https://jsfiddle.net/evanjmg/on1wrxry/ - works in chrome, but doesn't work in safari. I have to use window.prompt as a fallback. I need to programmatically copy text in all browsers for a project I'm working on .

[2016-10-30 19:23] zenorocha commented on #302
Everything seems to be working fine over here.

![bug](https://cloud.githubusercontent.com/assets/398893/19839257/ae674dde-9e9b-11e6-850e-63f57c215ef8.gif)

[2016-10-30 19:30] kkateivanova commented on #320
@zenorocha the latest - v1.5.15

[2016-10-30 19:32] evanjmg commented on #302
ah checked my browser and it's safari 9.2

[2016-10-30 19:37] zenorocha commented on #320
Just tested clipboardjs.com on Safari iOS 10.0.2 and everything seems to be working fine.

[2016-10-30 19:56] zenorocha commented on #302
No worries :)

[2016-10-31 08:37] kkateivanova commented on #320
Hey, @zenorocha, I've recorded a video - please, sorry for bad quality https://www.dropbox.com/s/6vv44mln6xyighx/iphone5s_clipboardjs.mov?dl=0.

Here my iPhone 5s, IOS 10.1, safari browser and site clipboardjs.com. There are two problems:
1) When you push the button (without inputs) the screen dragged & scrolled - maybe it happens because keyboard fastly appears/disappears?
2) When you push the bu

[2016-11-01 16:36] ibmua opened #334 "UC Browser"
In UC Browser (4% of Android market share) it says that it copied text, but it doesn't.

Good test case would be https://clipboardjs.com/ itself.

[2016-11-01 16:42] zenorocha commented on #334
Hey @ibmua, thanks for sharing. Unfortunately I have no idea how to fix for this browser since I didn't even know it existed. But feel free to send a pull request!

[2016-11-01 16:42] #334 closed

[2016-11-01 16:57] ibmua commented on #334
Their PC/Windows browser version copies things fine, so I think I'll just report this issue to the browser devs instead.

[2016-11-02 15:25] CouchFrancois opened #335 "Doesn't copy to clipboard in realtime, but does when stepping through in Developer Tools"
First off going in I understand the likelihood of someone having a solution is pretty minimal with a lack of an example, but I'm hoping that maybe someone else has run into this issue.

I have a couple of internal web apps where a bootstrap modal is called and then by clicking on a button the user gets a sql query that they can use to query a database.  Same code, same naming conventions.  Works f

[2016-11-02 16:01] CouchFrancois commented on #335
Nevermind, looks like it's a known issue.  Although I'm still not sure why it works in one area and not another, both use a bootstrap modal

[2016-11-02 16:01] #335 closed

[2016-11-03 04:42] brucejcw commented on #214
@zenorocha [official demo](https://clipboardjs.com/) not work on ie9
![2016-11-03 12 41 15](https://cloud.githubusercontent.com/assets/8085088/19956064/dbb1e630-a1c2-11e6-87fa-dd2b398ddee8.png)

[2016-11-04 00:50] weaknetlabs commented on #288
Hello, I still seem to have this issue. It sometimes copies a TAB or other large single white-space, but mostly doesn't overwrite what's in the clipboard. The event handler is working and your code in the console shows everything just fine, (Action, Text, Trigger all report just fine from on.success()), but nothing goes into the clipboard. I thought that the clipboard mechanism in my computer was

[2016-11-04 02:16] zenorocha commented on #288
@weaknetlabs please share a reproducible example using JSFiddle

[2016-11-04 11:40] weaknetlabs commented on #288
@zenorocha Sorry, it was definitely my computers at home. At work, it's working just fine. I remotely cleared my cache at home and made sure my CloudFlare proxy was in developer mode, but still happens at home. But here at work, I did the same and it's working! Sorry for the false alarm and thanks for the quick response! I need to look into why the clipboard was not working from Chrome at home.

[2016-11-04 16:49] zenorocha commented on #288
Cool, thanks for answering back!

[2016-11-11 07:18] wlwr commented on #56
👍

[2016-11-14 20:12] rafaelverger opened #336 "Should the library have a beforeAction handler?"
### What it should do?
The lib should be able to execute a function that would allow it (or not) to proceed with the predefined action;

### Why it is useful?
If the copy button is used as a premium feature of an application, this handler would allow developers to prevent users that doesnt have permission to do that action;

### How users should use it?
[code]

[2016-11-18 09:22] theghostbel opened #337 "Add API to check if copy action is supported"
Code examples

* all commands are checked for support - http://codepen.io/netsi1964/pen/QbLLGW
* "copy" command is checked for support - http://jsfiddle.net/the_ghost/679drp3r/  (`!!document.queryCommandSupported && !!document.queryCommandSupported('copy')`)

I think it could be some static boolean flag or method:
`var flag = Clipboard.copySupported;` or
`var flag = Clipboard.isCopySupported();`

[2016-11-18 12:21] filippivanov commented on #250
Hi, sorry to barge in on a closed issue, but we encountered similar behaviour in the horizontal direction. Here's an example (tested in Chrome 54 & FF 50):

https://jsfiddle.net/hoh4w5g6/1/

Scroll to the right and click a button. Text is copied, but the scroll jumps to the left.

Setting fake textarea position to pageXOffset fixes the scroll problem, but then, of course, the area is visible. Chan

[2016-11-18 21:22] zenorocha commented on #337
I like `Clipboard.isSupported()`, we could test support for `copy` and `cut` inside that method.

[2016-11-18 21:44] theghostbel commented on #337
I'd separate "cut" and "copy" support checks (if they can exist separately). At least in my project we don't need "cut" functionality and don't care about support.

For example, `Clipboard.isSupported('copy')`? Where string is optional argument. Without it plugin will check all used methods

[2016-11-21 06:23] kimallen commented on #158
Although @zenorocha closed this and says the library only copies a string to the clipboard, I found I'm having the same issue as @odroz.  I am targeting an a href with the text (ie a string with the link).  I am using clipboard.js to copy (by clicking on an icon).  If I view the clipboard, I see only the string.  But when I actually paste it, it shows up as a link with all the styling from my site

[2016-11-21 11:09] HugoCrd commented on #330
Does someone had time to look into it?

[2016-11-22 00:20] zenorocha commented on #158
@kimallen can you please share a JSFiddle that replicates this behavior?

[2016-11-22 01:42] kimallen commented on #158
Here's a jsfiddle:
https://jsfiddle.net/71t0d7ho/

I want to copy the text with the link included.
Click the copy icon and then try to paste into an email or a doc.
I get the text with a working link, but also the <li> styling with yellow
background.

On Mon, Nov 21, 2016 at 4:20 PM, Zeno Rocha <notifications@github.com>
wrote:

--

*If we could read the secret history of our enemies, we should fi

[2016-11-22 03:20] zenorocha commented on #158
Interesting, this seems like a new behavior on Google Chrome, Firefox for example is only copying the string. In order to avoid that, you can use `data-clipboard-text` or the imperative API.

[code]

https://jsfiddle.net/71t0d7ho/6/

[2016-11-22 07:07] meloniq commented on #155
I have had similar issue with Colorbox library when the 'copy' button was inside of the modal window - it was fixed by adding param to Colorbox ```trapFocus: false``` (note added just for future googlers)

[2016-11-22 14:53] a-x- commented on #320
scroll to top issue reproduces on safari and chrome on macos now

clipboard 1.5.15

fix:
[code]

[2016-11-24 23:16] janrhansen commented on #102
Hi
I have - kind of - the same issue, and I don't see how the solution above solves the issue regarding not having the clipboard content in the dom at the beginning. At page load, the ajax request loads data, and attaches the result to the button, so when the button is clicked, data is already in the dom, and is just returned.
I have a list with, say, 50 or 100 buttons, which will each generate un

[2016-11-25 13:52] pendave opened #339 "How to get current clipboard content?"
Hi, I wanna a variable to get the content string in current clipboard. How can I do it?

[2016-11-25 14:06] zenorocha commented on #339
[code]

[2016-11-25 14:06] #339 closed

[2016-11-25 17:24] budwig commented on #219
that snippet worked perfectly for my purposes. thanks.

[2016-11-25 19:10] NoiseEee opened #340 "Content should be copied whether visible or not"
### Expected behaviour
I had thought that specifying an element with the source would be enough to copy the content of the souce

### Actual behaviour
Nothing gets copied to the clipboard if the source DOM element is not visible

### Browsers affected
All

I'm a bit surprised that specifying any DOM element, visible or not, is not enough to be the 'source' copied from.  The element has to be visib

[2016-11-25 19:19] budwig commented on #340
try data-clipboard-text instead of data-clipboard-target

<button class="btn" data-clipboard-text="some text to copy">
    Copy to clipboard
</button>

[2016-11-25 19:22] NoiseEee commented on #340
Indeed that will probably suffice for now.

[2016-11-25 19:48] budwig commented on #340
I think you can close it, because I had the exact same problem what that solved it. I guess I should have read the original website more carefully, because the solution was in front of my eyes lol

[https://clipboardjs.com/]

[2016-11-25 23:28] kimallen commented on #158
Thank you, though this pastes only the link url.  What I want is to copy
the text "Github" so that after pasting it shows up as a link like this:
Github <https://github.com>.  So, basically I'd like to copy the a-tag with
the text inside the a-tag: <a href='https://github.com'>Github</a> (without
the styling).  Is this currently possible with clipboard.js?

On Mon, Nov 21, 2016 at 7:21 PM, Zeno Ro

[2016-11-27 19:00] azangru commented on #157
@zenorocha  Just wanted to say that I am having the same problem (using `react-clipboard`, which, as it was mentioned above, depends on `clipboard.js`).

When I require the clipboard button from `react-clipboard`, I am getting the following error:

`error: uncaughtException: Element is not defined`.

The problematic part of the code must be here:
https://github.com/zenorocha/clipboard.js/blob/mast

[2016-11-27 19:01] edgework opened #341 "Why does this HAVE to be attached to a control"
It would be awesome if you could decouple this from having to be bound to an HTML element.  The way it is now works for simple uses but anything else is a huge pain.  What if I don't want to put content that's in the DOM into the clipboard?

...also  WHY does it have to select the text and leave it selected?

[2016-11-29 21:13] jdc20181 opened #342 "Question!!!! (Setup and usage)"
I am wanting to be able to allow users to copy test results and paste them to social media - Manually for now and then eventually using the api's

The test is a Bandwidth test to see how fast your internet speed. I want the results as well as a

"Test your's By going here: https://jdc20181.github.io/SpeedTest"

I Am using one of the examples, but it just has the button data copying - what my goal

[2016-11-30 18:22] #340 closed

[2016-11-30 18:22] zenorocha commented on #340
:D

[2016-12-01 11:40] lauff commented on #296
I am having the same problem.
The issue is closed, but I can't find the solution...
Thanks Markus

[2016-12-01 13:07] #296 closed

[2016-12-01 13:07] zenorocha commented on #296
Can you provide a JSFiddle that reproduces your problem @lauff?

[2016-12-01 13:23] lausianne commented on #296
I assume that my original error was because of AJAX: code does not run in browser, but on server, so JS is not executed.

[2016-12-01 14:39] budwig commented on #296
lausianna, have you tried to load clipboard.min.js at the end of your page, after the ajax call is made?

[2016-12-01 14:47] lausianne commented on #296
Yes, exactly. Otherwise `new Clipboard('.cbcopy');` will find nothing. (I'd need to check the code to find out for sure.)
But two conditions are for sure:
1. JS does not run on server (unless, perhaps, with node.js)
2. The object to be clicked for Clipboard must exist before the script is called

[2016-12-01 14:52] budwig commented on #296
lausianna, I use AJAX a lot, and I do encounter this recurrent problem of JS not being "seen" by the html code returned by the AJAX call. The solution is to run the JS when the DOM is ready. So try this:

`<script>
$(document).ready(function () {
    new Clipboard('.cbcopy');
});

// or shorthand
$(function () {
    new Clipboard('.cbcopy');
});
</script>`

[2016-12-01 14:53] lauff commented on #296
let's see, I have a bigger dynamically created page - I will try

[2016-12-01 22:29] elenatorro opened #343 "Check trigger param"
[Clipboard.listenClick](https://github.com/zenorocha/clipboard.js/blob/master/src/clipboard.js#L36) does not currently check if the provided 'trigger' is a correct trigger or not. As the documentation says, 'trigger' must be *String, HTMLElement, HTMLCollection or NodeList*

[2016-12-02 14:03] jdc20181 opened #345 "Code Stops working? - Don't understand!"
I used the Copy to clipboard example with the exception I used The target of a element.

It worked for a day or two - no big changes in code. I was just developing a mobile site, and it stopped working.

Any reasons for this?

[2016-12-02 14:06] jdc20181 commented on #345
Update:

See this screen shot:

http://screenshot.sh/mKNGe38mctUjs

[2016-12-02 14:06] jdc20181 commented on #345
I am using CloudFlare I believe is the CDN i am currently using.

[2016-12-02 14:08] jdc20181 commented on #345
Some code:
  `<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script  async src="main.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" href="http

[2016-12-02 14:10] jdc20181 commented on #345
I can't get the code to format so you will jus thave to look at it for yourselves

[2016-12-02 14:10] #345 closed

[2016-12-02 14:11] jdc20181 commented on #345
I fixed it. I had a url with the #progress but it wouldn't work like I wanted.

[2016-12-02 14:12] jdc20181 opened #346 "How-To Question : How to include both a element and a url"
Right now I just have the ability to copy a element value - but I also want to copy a url so when a user copies and shares - the url is shared too so they can see thier results?

[2016-12-02 19:49] budwig commented on #346
You mean something like this?
[code]

[2016-12-03 01:02] karnevil9 opened #347 "Unwanted scroll on copy (iOS Safari)"
### Minimal example

https://jsfiddle.net/vs2wqkgs/4/

1. Zoom down onto Copy button
2. Click Copy button

### Expected behavior

Expect copy to occur (it does, it puts "Hello!" on the pasteboard), but no scroll.

### Actual behavior

Scrolls up and to the left.

Seems related to your issue #250 Chrome (Windows) has weird scroll-jump behaviour?

### Browsers affected

Mobile Safari.

[2016-12-03 02:11] karnevil9 commented on #347
You can also visit

http://clipboardjsbug.s3-website-us-west-2.amazonaws.com

To repro the behavior.

[2016-12-03 16:43] jdc20181 commented on #346
No. That is not what I mean - BTW I found the error in my code becaue of what I want to do.

NOTE: I didn't want to have to make another css class so I am using a "Link" button,  it works fine.

What  I want to do is where it says `Data-Clipboard-Target="#progress"` I want to include a url, not visible to the user until you paste it - So the user copies both a url, and the results.

The idea is to

[2016-12-04 04:12] aberel commented on #341
To quit selection, just do...
.on('success', function(e) {
	e.clearSelection();
})

[2016-12-04 19:40] nskazki commented on #250
Have same issue: Iframe environment + scroll to top on click of copy-button.
In my case it happens because of `var yPosition = window.pageYOffset || document.documentElement.scrollTop;` was equal to `0` on each call.
So, I replace that line by `var yPosition = window.pageYOffset || document.documentElement.scrollTop || this.trigger.getBoundingClientRect().top;` and this resolve my issue :)
Note: a

[2016-12-04 21:25] zenorocha commented on #346
See the [imperative API](https://github.com/zenorocha/clipboard.js#advanced-options) in order to manipulate content before copying it.

[2016-12-04 21:25] #346 closed

[2016-12-04 21:36] zenorocha commented on #341
Unfortunately there's no way to decouple because of how `execCommand` works. But feel free to roll your own implementation or use other library if this one doesn't work for you :)

[2016-12-04 21:36] #341 closed

[2016-12-05 18:41] nskazki commented on #250
Also, got scrolling to the left side of window on copy. Like in this issue: https://github.com/zenorocha/clipboard.js/issues/347
Fixed by changing couple of lines:
[code]
Gist with hotfix: https://gist.github.com/nskazki/03f8ddbdf53ec8cada3d4d873dd9fd79
If it's totally wrong way to fix my problems, please tell me about it :)

[2016-12-05 23:37] tobinibot opened #348 "Seemingly successful copy event does not actually place anything on the clipboard"
I have a situation where everything appears to be indicating a successful copy event (namely, the success event is firing with the correct text), but nothing is actually being placed on the system clipboard.

### Expected behaviour

I have a modal with a long link in it that I would like to copy and I’ve added a button which should allow the user to easily copy it. Clicking this “Copy link” button

[2016-12-06 04:50] budwig commented on #348
check this https://github.com/zenorocha/clipboard.js/issues/155#issuecomment-217372642

[2016-12-06 13:18] zenorocha commented on #348
Perfect, thanks @tobinibot :)

https://jsfiddle.net/gh5u3jye/1/

[2016-12-06 13:18] #348 closed

[2016-12-06 19:39] cezarlz commented on #347
Same here, iOS 10 Safari, iPhone 5C

[2016-12-07 18:45] mzealey opened #349 "Ability in error handler to re-trigger the selection after showing a popup"
As suggested I'm attaching to .on('error') to show a popup telling the user to hit Ctrl+C if execCommand fails for some reason. However the library that I'm using appears to do something which clears the selection when I show the popup. In other words, if i do a `console.log` within the error I can hit ctrl-c and get the text copied correctly, however if I show a html-popup it looses the selection

[2016-12-08 01:32] campbeln opened #350 "Ability to stopPropagation on click event of attached DOM element"
Searching the prior issues, "stopPropagation" has been mentioned before and a solution is alluded to but I have been unable to figure out how to have a hooked DOM element `stopPropagation`. Can this be added as a feature? Or, if it is a feature, can you document how to use it?

[2016-12-08 19:57] matt-paul opened #351 "Only copying on the second time it is clicked"
### My code

`

                      <button id="copy-to-clipboard"
                        class="copy-to-clipboard"
                        data-clipboard-text="https://etc">Copy Invitation Link
                      </button>

                      document.addEventListener('click', function(e) {
                        if (e.target && e.target.classList.contains('copy-to-clipboard')) {

[2016-12-09 09:07] srajaee commented on #161
not applied in new versions?

[2016-12-09 09:47] matt-paul commented on #351
Just to note that i am not using a text or input element in addition to the above code.  I wonder if this could be the cause?

[2016-12-09 10:36] zenorocha commented on #351
Clipboard.js already comes with a built-in click event listener, you only need this part:

[code]

[2016-12-09 10:36] #351 closed

[2016-12-09 10:47] matt-paul commented on #351
Thanks @zenorocha - if you have a moment, could you explain what is actually happening then that causes it so not work on first click when i have added an additional event listener? Thank you

[2016-12-09 11:07] zenorocha commented on #351
When you write `new Clipboard('.something')` we already do a `document.addEventListener('click')` behind the scenes, so you don't need to do another one.

[2016-12-09 11:48] matt-paul commented on #351
Thanks @zenorocha, if i am not testing your patience too much, what is the underlying problem that is caused by the duplicate event listeners that stop it from working?

[2016-12-10 21:32] fahmilatib commented on #351
@matt-paul

Actually it's a logic error.

[code]

Whenever you click on an `.copy-to-clipboard` element **for the first time**,

[code]

only then a new `Clipboard` instance gets created and **that clicked** `.copy-to-clipboard` element will be its trigger. The **next time** you click on that specific trigger, it will do the copying thing.

This makes sense because whenever you click on an `.copy-

[2016-12-11 07:12] strogonoff commented on #330
At that time I worked around the problem by going with the selector option, although it resulted in a bit clunkier solution.

I’m sure simply being able to read about this quirk will already save troubleshooting time if anyone else gets stuck with this. Might not even be worth complicating the docs with a note about this, since if someone has this trouble searching would probably lead them here.

[2016-12-12 01:03] krtrice opened #352 ""Cannot read property '_bound' of undefined" when element is clicked"
Following the docs, I instantiate Clipboard and set the text.

[code]

When the element is clicked, I get a couple of errors in the browser console (I'm using the latest version of Chrome on a Mac) and no content is copied to clipboard.

[code]

Any ideas?

[2016-12-12 09:25] jonashaag commented on #347
I can reproduce this, iPhone 4S with latest iOS. It also doesn't copy the text but only scrolls.

[2016-12-12 09:27] jonashaag commented on #347
Just found this is a duplicate of #320

[2016-12-12 09:34] jonashaag commented on #347
Here's a jsfiddle with v 1.5.15 and it's still broken https://jsfiddle.net/mkg3x6xk/

[2016-12-12 09:35] jonashaag commented on #320
I can reproduce this, iPhone 4S with latest iOS. It also doesn't copy the text but only scrolls.

Version: 1.5.15

jsfiddle: Here's a jsfiddle with v 1.5.15 and it's still broken https://jsfiddle.net/mkg3x6xk/

[2016-12-12 13:03] zenorocha commented on #351
Thanks @fahmilatib

[2016-12-12 13:14] zenorocha commented on #352
Hey @krtrice, you have a syntax error.

Instead of

[code]

You must type

[code]

https://jsfiddle.net/zenorocha/r9LonqvL/

[2016-12-12 13:14] #352 closed

[2016-12-12 14:08] zenorocha commented on #342
Hey @jdc20181, please share a minimal reproducible example on JSFiddle or check our list of working [demos](https://github.com/zenorocha/clipboard.js/tree/master/demo).

[2016-12-12 14:08] #342 closed

[2016-12-12 14:12] zenorocha commented on #349
Hey @mzealey, this is a very specific use case, I would suggest you implement your own clipboard implementation, but thanks for your suggestion :)

[2016-12-12 14:12] #349 closed

[2016-12-12 14:13] #343 closed

[2016-12-12 14:57] zenorocha commented on #347
Hey guys, I'm on vacations right now, feel free to send a pull request if you find a solution.

[2016-12-12 14:57] zenorocha commented on #330
Hey guys, I'm on vacations right now, feel free to send a pull request if you find a solution.

[2016-12-12 15:00] zenorocha commented on #336
This is a very important use case, specially for users who want to execute async tasks before copying. Next year I'll start playing with the idea of having a promise-based API, so let's keep this on hold for now.

[2016-12-12 15:10] zenorocha commented on #337
Nice! Can you send a pull request?

[2016-12-12 15:11] zenorocha commented on #350
Hey @campbeln, I'm on vacations right now, but feel free to send a pull request if you find a solution to your problem.

[2016-12-12 15:56] HugoCrd commented on #330
I'll try to find some time to dig into this.
Enjoy your vacations!

[2016-12-13 03:18] krtrice commented on #352
@zenorocha ah yes, sorry about that but thanks for catching the typo in my sample code. This is not the issue I am encountering though (my actual code doesn't have a typo), and the error would be different in that case as well.

I am using the Meteor framework. Do you know if that could be related?

[2016-12-13 13:20] zenorocha commented on #352
No idea, as you can see on the JSFiddle https://jsfiddle.net/zenorocha/r9LonqvL/ it's working well.

[2016-12-15 09:36] amureki opened #353 "Copying text from hidden elements is not working"
### Minimal example

https://jsfiddle.net/amureki/3fst62yf/

### Expected behaviour

I thought that by clicking copy button with `data-clipboard-target` attribute applied to a hidden element text will be copied to clipboard.

### Actual behaviour

Instead of copying text in a hidden element, what I saw was that nothing happened instead.

### Browsers affected

I tested on all major browsers except

[2016-12-15 15:38] adam-lynch commented on #329
This is too bad, but I completely understand. It would make sense to stick this in the docs right? It would save people time who are glancing over the docs and prevent people from getting annoyed at you @zenorocha 😄

[2016-12-15 15:41] pendave opened #354 "How can the str variable in siteA passed to input text area in siteB with GM_setValue and GM_getValue?"
I have no idea of how this complex script works with GM_setValue and GM_getValue in Greasemonkey:
https://greasyfork.org/en/scripts/22590-%E4%B8%80%E9%94%AE%E7%A6%BB%E7%BA%BF%E4%B8%8B%E8%BD%BD/code

Now I need a simple model/template from above. Such as I want to click a button to pass a str variable to https://my.pcloud.com/#page=filemanager or www.google.com

![04 shwubrv_ o 3askn 7](https://clo

[2016-12-15 18:00] zenorocha commented on #353
This is a browser security limitation. I suggest you use `data-clipboard-text` or the [imperative API](https://github.com/zenorocha/clipboard.js#advanced-options).

[2016-12-15 18:00] #353 closed

[2016-12-15 18:02] #354 closed

[2016-12-15 21:23] mgleahy commented on #347
I have the same problem in 1.5.16 (with the fix for #320 in https://github.com/zenorocha/clipboard.js/commit/fce625f1515fea353072e4253ead96335e681b18)

It seems like the positioning of the fakeElem textarea object to the far right/left is the source of the issue in  problems on my iPad.

I found that I could solve it myself by replacing the line:

[code]

With this:

[code]

And it now works on iP

[2016-12-15 21:52] MrCrankHank commented on #102
I have the same problem as @janrhansen. The data i want to copy to the clipboard isn't in the dom by the time the page is displayed. It should only be loaded from the server if the user clicks the button. Any ideas?

[2016-12-15 22:45] janrhansen commented on #102
@MrCrankHank : I have used a workaround where I hook up to the text event from clipboard.js. When the function is called, I retrieve the clipboard content from the server with an synchronous ajax call, providing relevant parameters. The code below works, but is a bit.. well.. rude. Errorhandling etc. to come in the very near future, but it should help you move along.
However, synchronous ajax requ

[2016-12-15 23:14] MrCrankHank commented on #102
Hi!

Thank you very much. This gives me a great starting point.

[2016-12-16 09:22] amureki commented on #353
@zenorocha okay, thank you.

[2016-12-22 06:24] lavezzi1 opened #356 "Is it possible to copy from data attribute instead for value?"
Hello!

I need to copy string from data attribute instead of input's value, because initially inputs value is truncated. So I want to copy full string from input. Thanks.

[2016-12-22 06:37] Alex-Sokolov opened #357 "Errors when copying"
### Minimal example

https://jsfiddle.net/gtv0s2ht/3/

### Expected behaviour

Clipboard.js can choose element by ID or class. And copying must be without errors in console

### Actual behaviour

Error in console:
[code]
or by second button:
[code]

### Browsers affected

Using Google Chrome 56.0.2924.28 beta (64-bit)

[2016-12-22 11:44] felipedrumond commented on #347
As far as I know, iOS does not allow Safari to programmatically copy text to its clipboard. It might be a security measure. Therefore, when you run document.execCommand, it does not do anything at all. While trying to solve this issue with iOS Safari, I implemented the function below to certify that it does work, but don't do in iOS Safari.

[code]

[2016-12-22 13:35] mgleahy commented on #347
The changes I made noted above are working for me in the latest iOS in my iPad (using both safari and chrome browser apps).  Other than the undesireable scroll effect, I didn't notice any problems copying text (i.e., the expected text is successfully copied to the clipboard).

[2016-12-22 13:39] felipedrumond commented on #347
@mgleahy That's strange. Some iOS devices it works, some don't. In my 6s it does not work in both Safari or Chrome. In my brothers iPhone 6, the same happens.

[2016-12-23 04:14] jayjaydluffy commented on #251
I had a hard time `destroy()`-ing my clipboard object at `componentWillUnmount` but finally was able to do it with `this.clipboard` instance. In my Meteor app, not destroying it when component unmounts results to x times action is made with x as the number of times Clipboard instance is instantiated, in my case, at `componentDidMount`.

Perhaps adding that declaration to React guide would help oth

[2016-12-24 08:41] komarevtsevdn commented on #357
I have a same problem.

[2016-12-24 12:29] Alex-Sokolov commented on #357
But there are perfectly valid selectors. This is a bug

[2016-12-24 22:14] tobilen opened #358 "Compability with shadydom polyfill"
see https://github.com/zenorocha/good-listener/issues/7

[code]
errors out if webcomponents v1 polyfill is used, the reason being that polyfilled dom elements arent using the HTMLElement constructor, and good-listener checks for that to determine whether or not a node was passed.

not actually an issue with clipboard.js, but until it is adressed, i provided a version which uses my fork of good-lis

[2016-12-25 13:50] zenorocha commented on #356
@lavezzi1 try something like this:

[code]

See https://github.com/zenorocha/clipboard.js#advanced-options for more info.

[2016-12-25 13:50] #356 closed

[2016-12-27 09:14] ditransler opened #360 "Webpack WARNING: "Critical dependencies: This seems to be a pre-built javascript file. ...""
### Main point

I'm getting the following warning in webpack while bundling:

### What I use

- clipboard 1.5.16
- webpack 1.3.11
- bower 1.3.12
- NodeJS 4.4.2
- macOS Sierra (10.12.2)

### Webpack config's excerpt

### Expected behaviour

This warning shouldn't appear in the console.

It draws extra attention and becomes irritative. Especially as it's the only dependency that produces this warnin

[2016-12-27 12:01] itaisteinherz commented on #360
First of all, as this is only a warning, you could just ignore it. From my understanding, you are getting this error because the dist/clipboard.min.js and dist/clipboard.js files **are** pre-built javascript files, which means they are generated using babel and browserify, and are not just the original source code of the module itself. What you could do to prevent this warning is to simply use the

[2016-12-27 17:44] ditransler commented on #360
@itaisteinherz, thank you for your reply.

1) Yes, dist/clipboard.min.js is a pre-built JS file. And I don't understand the reason why all other pre-built files (in other libs and plugins that I listed) work fine and don't trigger this warning.

Does it mean that babel + browserify generate the pre-built files in some specific way and webpack is not satisfied with that?

2) All my other dependenci

[2016-12-27 20:49] itaisteinherz commented on #360
@ditransler I think that the problem is due to browserify and not babel. As you said above, browserify generates a bundle of all of the dependencies into a single file, so webpack doesn't have anything to build. Because of that, webpack will bundle the generated browserify bundle as-is.

[2016-12-28 04:43] ditransler commented on #360
@itaisteinherz, I see. Thank you.

I read some comments saying that settings used to bundle scripts may differ and the output may be different as the result of it.
And as clipboard.js is provided in the pre-built version that is tested and I'm not going to modify it in anyway (just want to use it as it is) I'd prefer to avoid generating it with webpack.

That's why I've finally found another solut

[2016-12-28 04:43] #360 closed

[2016-12-30 18:55] ajcrites commented on #357
This is part of the document selectors API which is throwing the error that it's not a valid selector so it can't be fixed by this library without special handling.

However, this is _not_ a valid selector as selectors (CSS identifiers) [cannot start with a number](https://www.w3.org/TR/CSS21/syndata.html#value-def-identifier)

The attribute is valid, but it's not a valid selector.

[2016-12-31 00:00] #357 closed

[2017-01-02 21:30] NerdGuruDevelopers commented on #102
This unfortunately doesn't seem to work for me?

Suggestions appreciated:

`var clipboardItems = new Clipboard('.action_share_file', {
			text: function (trigger) {
				var result = '';
				$.ajax({
					type: "POST",
					async: false,
					url: '/files/change/permissions/' + $('#contextMenu-item').attr('data-id'),
					data: 'permissions=' + JSON.stringify({'read' : 'link'}),
					dataType: "jso

[2017-01-03 02:13] Nikey646 commented on #102
Psst.. This issue was resolved by the code example provided zenorocha. If that solution does not work for you, stop commenting on a now closed issue and make a new one.

[2017-01-03 03:10] jdc20181 opened #362 "Bug: Not Working on IOS - Not copying"
Location: http://jdc20181.github.io/SpeedTest/speedtest.html

*Important* It only occurs on the MOBILE site, which is redirected automatically on mobile devices.
Additionally, To repoduce you **MUST** use a IOS device, works fine on Android devices, as well as Windows.

You will automatically be redirected to the mobile site.

The code is IDENTICAL to the desktop version. Only differences are in p

[2017-01-05 09:37] jcfariadias commented on #362
+1

[2017-01-05 20:21] haqpah commented on #335
I'm seeing this same issue with jQuery 2.2.4 and jQuery UI 1.11 dialogs. I can step through with Dev Tools and it works flawlessly, and normal operation appears to be working but in reality the clipboard is empty. I'm seeing similar behavior with Chrome and Firefox. I attempted doing some focus disabling for the jQuery dialog but could not get it working.

[2017-01-06 03:06] han8435762 opened #363 "How can I use this to copy img tag"
I use it like this
but I got the src not the image

`

    <img src="http://img3.imgtn.bdimg.com/it/u=3355811632,1718080977&fm=23&gp=0.jpg" />
    <button class="btn" data-clipboard-action="copy" data-clipboard-target="img">Copy</button>

    <script src="../dist/clipboard.min.js"></script>

    <script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {

[2017-01-07 02:57] jdc20181 commented on #363
I use when setting up a CDN, `  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
`
And I don't understand what you mean? You want to copy a image? or save the image? Not sure if it's possible.

But   -doesn't mean you can't try:

You apparently are new - so you are missing a vital step which is a button - I use link buttons (easier to style xD )

[2017-01-13 12:51] divyanshupathak opened #364 "Unable to copy dynamic link in React"
Hello,
I am in trouble while copying dynamic text. Actually I want to copy the link which is generated dynamically, but got no success.
I have created minimal reproduction on github as well. Here is the github link -
[https://github.com/deepupathak/test](https://github.com/deepupathak/test)

Please check and advice.
Thanks.

[2017-01-15 10:28] bernd-wechner opened #365 "Cannot filter html before it reaches clipboard"
Perhaps not an intended feature, but certainly one I'd like and will have to find a workaround for. But I'd like send an HTML element to the clipboard with filtered code.

The doc provides a clue:

[code]
but fails to explain how this works for starters just provides a rather odd example, and trying it out, we can see that setting "text" like this just sends text to the clipboard.

For example try

[2017-01-16 05:50] alexweissman commented on #200
Is this a technical limitation, or a semantic decision?  It isn't always possible to interchange `readonly` for `disabled`, as they are functionally different.

[2017-01-16 07:05] alexweissman commented on #195
@zenorocha you should really add this to the front page docs.  A lot of people use Bootstrap, and this took me over an hour to find!

[2017-01-16 16:46] zenorocha commented on #200
Unfortunately, this is a technical limitation opposed by browser vendors.

[2017-01-16 17:35] alexweissman commented on #200
Ah, ok.  That must only be a problem with the `data-*` usage, then.  I was able to get it work by manually initializing the `Clipboard` object.  Take a look at my example here: http://stackoverflow.com/a/41671732/2970321

[2017-01-17 01:45] jiff88 commented on #250
**Ok i did it, got valid reproducing example!**

Windows 10, Chrome..
[https://jsfiddle.net/whfozrej](https://jsfiddle.net/whfozrej)

1. click "Copy me 1", you got "xxx" in your clipboard
2. then actually go to paste it to some text editor (so you will lose Chrome focus)
3. then go with mouse over the Chrome window, but do not click it, do not obtain focus, scroll the mouse wheel above it, scrool

[2017-01-17 12:18] schanalex commented on #155
Removing functionality from another library to fix the issue is stupid. A much simpler fix is to add a container option to the constructor of clipboardjs, which defaults to document.body, but allows you to pass in a reference to your modal. The copy only fails in a modal because the dummy element created to copy the text is outside of the modal.

See [the fix here](https://jsfiddle.net/uornrwwx/),

[2017-01-18 04:04] caifagithub opened #366 ""Copied!" magic!"
Could someone help me to understand how I can make the magic with message shows "Copied!". It comes from aria-label attribute, but how I can set it? And then show it to user.

[2017-01-19 14:40] guillaumevincent commented on #366
@caifagithub I use [hint.css](https://kushagragour.in/lab/hint/) and a some javascript:

    clipboard.on('success', event => {
        if (event.text) {
            showTooltip(event.trigger, 'copied!');
        }
    });

[code]

[2017-01-19 23:20] gunnarmorling opened #367 "Allow to alter the copied text before putting it into the clipboard"
I'd like to modify the copied text before it's put into the clipboard in order to perform some sanitization (trimming etc.).

Is this possible somehow? If not, could the API be extended so I could pass in a function for doing so? Thanks for your consideration.

[2017-01-19 23:29] zenorocha commented on #367
https://github.com/zenorocha/clipboard.js#advanced-options

[2017-01-19 23:29] #367 closed

[2017-01-19 23:35] gunnarmorling commented on #367
I saw the text function, but how can I get hold of the selected text in there? I don't want to return a static text but rather modify the selection. Is there an example for doing so somewhere?

[2017-01-19 23:48] zenorocha commented on #367
Try this: http://jsfiddle.net/zenorocha/2jph1vuf/

[2017-01-20 07:39] gunnarmorling commented on #367
Ok, so I have to look for the source element itself. I had hoped to avoid this, given the fact that clipboard.js already has done this and could simply pass the text to me in a callback. I still think that'd be a valuable addition, but I'll go for the approach you suggest. Thanks.

[2017-01-20 15:12] zenorocha commented on #367
Can you explain in a JSFiddle how you wanted things to work?

[2017-01-21 10:29] gunnarmorling commented on #367
What I'd like to have is the option pass in a function that modifies the selected text:

    new Clipboard('.btn', {
        textModifier: function(text) {
            return text + '123';
        }
    });

It'd also suffice to pass the selected text to the existing text function alongside the trigger:

    new Clipboard('.btn', {
        text: function(trigger, text) {
            return ...;

[2017-01-24 17:35] vvo commented on #195
Ultimately I would even just put this inside the library or provide an option to do so.

[2017-01-27 19:29] geraldarthur commented on #347
Can confirm this is still an issue with the latest iOS and none of the fake element tweaks mentioned here have worked cc @zenorocha

[2017-01-27 22:27] geraldarthur commented on #347
screen capture of the bug on the demo site. this bug matches my [aforementioned](https://github.com/zenorocha/clipboard.js/issues/347#issuecomment-275752739) bug.

this error can be reproduced when using `data-clipboard-text`, but does not affect elements with `data-clipboard-snippet` attribute @zenorocha

![iphonese-clipboard-bug2017-01-27](https://cloud.githubusercontent.com/assets/1578563/22389

[2017-01-28 19:24] mjbruni commented on #70
IF you use bootstrap and jQuery, add an additional class (btn-clipboard) to your buttons you want auto-instantiated and leave the buttons you need more control over as is.  Then include the following code to only instantiate the Clipboard construct if the button is clicked.
`+function ($) {
    'use strict';

    $(document).on('click.bs.btn-clipboard', '.btn-clipboard', function(e) {
        e.pr

[2017-01-31 19:39] ddivecs opened #370 "Clipboard.js only works on click events"
I understand that the clipboard api has security in place that requires user interaction and have read #127 and #189, but would it be possible to expand clipboard.js to work with other events besides `.click` (preferably, any arbitrary user event).

Specifically, it is useful in my app to respond to the keydown and context menu events, but currently clipboard only lets us respond to clicks. Also i

[2017-02-01 15:58] drorsun commented on #195
Finally - used the advices here.
I had to adjust to React and that was a bit tricky but it works 😄
Thanks

[2017-02-01 19:30] zenorocha opened #371 "Migrate from Browserify to Webpack"

[2017-02-02 09:55] sboesch commented on #363
This works at least in Safari/Chrome:
[code]

[2017-02-06 14:59] nik-k commented on #155
I'm using bootstrap + magnific popup.
The issue is still there for me. It works well in IE + Edge, but not in Ffox 51.0.1 (32-Bit).

[2017-02-07 10:20] ridakk commented on #362
+1

[2017-02-08 07:36] #337 closed

[2017-02-08 07:47] zenorocha commented on #362
Just tested this URL you sent on iPhone and iPad both on iOS 10.2, both work normally.

[2017-02-08 07:47] #362 closed

[2017-02-08 07:59] zenorocha commented on #337
Merged and released on `v1.6.0`

[2017-02-08 08:03] zenorocha commented on #320
This should be fixed on `v1.6.0`. Let me know if you guys are still having this problem or not.

[2017-02-08 08:03] zenorocha commented on #347
This should be fixed on `v1.6.0`. Let me know if you guys are still having this problem or not.

[2017-02-08 08:03] #347 closed

[2017-02-08 08:04] zenorocha commented on #362
Also check `v1.6.0` for new iOS fixes.

[2017-02-08 08:04] zenorocha commented on #250
This should be fixed on `v1.6.0`. Let me know if you guys are still having this problem or not.

[2017-02-08 08:04] #250 closed

[2017-02-08 08:18] zenorocha commented on #366
Thakns for helping out @guillaumevincent!

[2017-02-08 08:18] #366 closed

[2017-02-08 08:21] zenorocha commented on #370
Hey @ddivecs, this is a very nice feature suggestion but unfortunately the browser has some limitations in what is considered a user interaction. My advice to you is to use `execCommand` directly and see if it works for your particular case.

Thanks again for your input!

[2017-02-08 08:21] #370 closed

[2017-02-08 08:26] zenorocha commented on #330
Hey @strogonoff, in this case I would recommend using `Clipboard.isSupported()`, which is a new method we introduced in `v1.6.0`. That way you can hide the copy buttons from the UI if the users doesn't have support.

Thanks a lot for reporting this issue!

[2017-02-08 08:26] #330 closed

[2017-02-08 08:31] zenorocha commented on #365
Hey @bernd-wechner,

My suggestion to you is to use the `target` function instead of `text`. That way you can manipulate the HTML in any way you want. For example:

[code]

Thanks for reaching out!

[2017-02-08 08:31] #365 closed

[2017-02-08 08:32] zenorocha commented on #364
I can't help since you're not actually using clipboard.js here.

[2017-02-08 08:32] #364 closed

[2017-02-08 08:33] guillaumevincent commented on #371
Do you want some help for this one?

[2017-02-08 08:34] zenorocha commented on #363
Clipboard.js is only intended for copying text.

[2017-02-08 08:34] #363 closed

[2017-02-08 08:34] zenorocha commented on #371
That would be great!

[2017-02-08 08:35] zenorocha commented on #358
Moving discussion to `good-listener`...

[2017-02-08 08:35] #358 closed

[2017-02-08 08:36] guillaumevincent commented on #336
Why not `new Clipboard(selector, { beforeCopy: asyncMethod });` insted of `new Clipboard(selector, { beforeAction: asyncMethod });`?

[2017-02-08 08:38] guillaumevincent commented on #371
Ok I will create a PR with webpack 2

[2017-02-08 14:23] leandroafonso commented on #152
This is a powerful but crippled tool.
Made to work just the way the author finds it interesting to use.

[2017-02-08 14:28] jdc20181 commented on #362
You shouldn't have closed it until I checked but it finally worked - just a
FYI idk what I did. Anyways the code didn't change any it must have been a
connection issue with the server and CDN but others +1 the issue so be sure
to keep a open eye.

On Wed, Feb 8, 2017 at 3:04 AM Zeno Rocha <notifications@github.com> wrote:

[2017-02-08 15:00] zenorocha commented on #362
I'll, thanks!

[2017-02-08 15:21] zenorocha commented on #152
First of all, about this issue, I'm investigating the best way to include Ajax request on this, probably with a Promise-like API which will require a major version bump.

Secondly, what a sad comment @leandroafonso. I don't know you understand how open source works. This a project that I maintain on my spare time, with super restricted resources. It's intended to be a generic sugar layer on top of

[2017-02-13 16:15] fibo commented on #251
@jayjaydluffy thanks

I added it to the codepen http://codepen.io/fibo/pen/wWKGNK?editors=0010 as

[code]

I also used React ref which is much cleaner.

[2017-02-14 09:52] yuyouwen opened #373 "Is it possible to copy an image by using the clipboard"
I have try to find a way copy image in js, so I want know why clipboard.js did not support copy image.

[2017-02-14 09:56] shivarajnaidu commented on #373
I think it's not possible with clipboardjs (atleast for now)

[2017-02-14 09:56] shivarajnaidu commented on #373
I think it's not possible with clipboardjs (atleast for now)

[2017-02-14 13:42] JamesTheHacker opened #374 "Clipboard.js firing multiple on success events"
I'm using [Clipboard.js](https://github.com/zenorocha/clipboard.js) in a project to allow the user to copy text to their clipboard when a button is pressed.

It works fine, except when I refresh the list of buttons in the list using jQuery it fires multiple on success events. Here's some example code that will reproduce the error:

    $(function() {
    	var data = [
      	'Button One',

[2017-02-14 19:10] zenorocha commented on #374
Replied on StackOverflow: http://stackoverflow.com/questions/42227496/clipboard-js-firing-multiple-on-success-events/42234323#42234323

[2017-02-14 19:10] #374 closed

[2017-02-14 19:11] zenorocha commented on #373
Clipboard.js only supports string copying. Thanks for @yuyouwen for asking and @shivarajnaidu for answering!

[2017-02-14 19:11] #373 closed

[2017-02-17 07:14] qiuyaofan opened #375 "trigger success event,but when i paste,it don't have content"
### Minimal code
[code]

### Expected behaviour

where wrong with me?and i use clipboard.js

### Browsers affected

my browsers is google chrome 56.0.2924.87 (64-bit)

[2017-02-17 13:45] KonstantinKai commented on #375
Same behavior i got to

[2017-02-17 17:23] zenorocha commented on #375
A simulated click event using JavaScript does not work as this would enable clipboard poisoning.

[2017-02-17 17:23] #375 closed

[2017-02-18 09:32] oshihirii commented on #366
And if it helps future viewers, here is solution that worked for me using [Tooltipster](http://iamceege.github.io/tooltipster):

**HTML**
[code]

**JS**
[code]

The following [answer](http://stackoverflow.com/a/37395225) helped me figure it out.

[2017-02-20 23:26] oshihirii opened #376 "How to destroy clipboard if it exists?"
Hello,

I saw [this code example on the home page](https://clipboardjs.com/) for destroying instance in one page app's:

[code]

How can I do a check to see *if* clipboard exists, and if so delete it?

I am doing this (less than ideal solution):

[code]

But it prints out the text twice (which infers that there are two instances running).

Thank You.

[2017-02-21 06:25] zenorocha commented on #376
Try this:

[code]

[2017-02-21 06:25] #376 closed

[2017-02-21 22:49] oshihirii commented on #376
Hello,

Thank you for the suggestion, unfortunately it didn't work.

The same behaviour occurs as when doing the following (ie text is printed out twice):
[code]

[2017-02-22 00:38] zenorocha commented on #376
Could you please share a JSFiddle?

[2017-02-22 00:45] oshihirii commented on #376
Will make one asap and post back, thanks.

[2017-02-23 08:07] qiuyaofan opened #377 "error when text return a large string ,like sometimes contain base64 img , e.text has correct content , but error"
### Minimal example

[code]

### Browsers affected

google

[2017-02-23 08:35] qiuyaofan commented on #377
succeeded = document.execCommand(this.action); here return false
my brower is 56.0.2924.87 (64-bit)

[2017-02-23 22:45] eximius313 opened #378 "data-clipboard-text is not being copied in Chrome 55"
### Minimal example
I have a link:
[code]
and JS:
[code]
When I click the link, console prints:
[code]

### Expected behaviour
Content ```test``` should be inside clipboard

### Actual behaviour
clipboard has previously copied value

### Browsers affected
Chrome 55.0.2883.87
Firefox 51.0.1

[2017-02-24 00:45] zenorocha commented on #378
Clipboard.js is working fine. The problem is how you're using JavaScript.

In this line:

[code]

You forgot to add the quotes.

[code]

If you still have a problem, please share a JSFiddle.

[2017-02-24 00:45] #378 closed

[2017-02-24 14:34] pedroramon commented on #336
@guillaumevincent, I agree that it reveals intention but, and the cut action? Do you think that we have to do two or three handlers? Like beforeCopy, beforeCut and beforeWhatever (I can't think in a cool name for the last).

[2017-02-24 16:11] guillaumevincent commented on #336
@pedroramon you are right, 2/3 handlers is not a good idea, so beforeAction is better because more generic.

[2017-02-24 17:36] eximius313 commented on #378
@zenorocha
Of course I'm using quotes.
Look what console prints in my example. It wouldn't work otherwise...
Could you please reopen it?

[2017-02-27 07:19] jonashaag opened #379 "Does not work with Android 4.4"
I just tried the demo [JSFiddle](https://jsfiddle.net/zenorocha/5kk0eysw/) with Android 4.4.2 and it doesn't work. The problem is that `execCommand` returns `false` with "copy" as argument, i.e. it doesn't support the "copy" command.

However caniuse.com says Android 4.4 supports the "copy" command, but:

[2017-02-27 14:07] lendk opened #381 "Using jquery on click events will not work on a single click only double click"
### Minimal example

### Expected behaviour

When i click on copy on the first click should copy the text

### Actual behaviour

It works as it should but only when you click it two times

### Browsers affected

Latest Chrome & Mozilla Firefox

[2017-02-27 14:14] lendk commented on #381
Yeah to lazy to read closed issues, sorry for this, removed jquery event and used the built in click event from clipboard.js, everything works as it should

[2017-02-27 14:14] #381 closed

[2017-02-28 11:24] ignacioHermosilla opened #382 "Text is copied to clipboard with a trailing space in Firefox (OS X)"
I tested on Chrome and Safari without problems. Only Firefox does not work. The setup and Usage is the Basic explained in the clipboard documentation ("Copy text from another element").

### Browsers affected

Firefox 51.0.1 (OS X)

[2017-03-01 20:03] scottcorgan commented on #336
This is huge for me as I need to copy the window.location.href after the hash has changed. (on button click of course)

[2017-03-02 20:00] fhightower commented on #382
Interesting... I just tested it out and can not duplicate the issue. Am I correct that your html looks something like:

[code]

[2017-03-02 23:43] zenorocha commented on #382
I can't reproduce that problem either. Even on a newer version of Firefox.

![ff](https://cloud.githubusercontent.com/assets/398893/23532182/05bd9966-ff5f-11e6-8abb-e4312df10131.gif)

[2017-03-02 23:43] #382 closed

[2017-03-02 23:48] zenorocha commented on #377
Hey @qiuyaofan, can you share a JSFiddle? Otherwise I can't really debug our problem.

[2017-03-02 23:48] #377 closed

[2017-03-03 11:27] ignacioHermosilla commented on #382
Maybe i'm doing it wrong. I created a snippet with the code:
[jsfiddle snippet]( https://jsfiddle.net/n4j3x21w/4/)

[2017-03-03 11:29] wodow commented on #382
Having the same problem.

I can reproduce this on both Firefox 53 (Developer Edition) and Firefox 54 (Nightly).

[2017-03-03 11:40] fhightower commented on #382
Ok, I can reproduce it from the [jsfiddle snippet](https://jsfiddle.net/n4j3x21w/4/) you provided.

Here is a working fork of your example: https://jsfiddle.net/w7b5csc7/ .

[2017-03-03 13:58] ignacioHermosilla commented on #382
Thank you. I'm going to adapt the html then.

[2017-03-03 16:56] zenorocha commented on #382
Thanks @fhightower for providing a solution!

[2017-03-06 11:43] rojantandukar commented on #351
@zenorocha would be great if you help!!

<html>
<head>
<body>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
<script type="text/javascript">
function clicked(){
 var Bookurl = "https://www.google.com";
 ClipCopy(Bookurl);
}
function ClipCopy(Bookurl){
 console.log("ValReqd: " +Bookurl);
 var bttn = top.doc1.doc2.document.getElementById('bCopyClip');
 console.l

[2017-03-06 11:50] rojantandukar commented on #351
@zenorocha
![png](https://cloud.githubusercontent.com/assets/15669233/23608774/fa3f4da2-0290-11e7-80e4-0de9d129c842.png)
Log:
ValReqd: https://www.google.com
<button onclick="clicked()" id="bCopyClip" type="button" class="btnclass" title="Copy Link to Document" style="background: rgb(240, 240, 240);"
Document</button>
clipb value:
t {listener: Object}

If i run this code individually, it will run

[2017-03-06 12:45] d-theo commented on #177
hi,
I'm having the exact same issue with systemjs-builder, any idea how I could solve the problem ?

[2017-03-06 15:36] ichengqing opened #383 "How to keep the "percentage" in CSS when copying？"
I changed my question= =How to keep the "percentage" in CSS when copying？
`<div><p style="width:50%">test</p></div>`
When copying, "%" will become "pixel""

[2017-03-06 17:07] fhightower commented on #382
My pleasure.

[2017-03-07 09:14] rojantandukar opened #384 "Clipboardjs not taking first argument even though you send HTMLelements or node or nodelist"
![png](https://cloud.githubusercontent.com/assets/15669233/23649399/52d099ea-0344-11e7-8b82-98e71b196b0c.png)
Log:
ValReqd: https://www.google.com
<button onclick="clicked()" id="bCopyClip" type="button" class="btnclass" title="Copy Link to Document" style="background: rgb(240, 240, 240);"
Document
clipb value:
t {listener: Object}

If i run this code individually, it will run in second click, but

[2017-03-07 14:11] Mershl opened #385 "Setting MIME/data type for formatted text output?"
Hello,

I see that clipboardjs is not intended for formatted output. But is there a way to set the data/MIME type for
the output text - to format it using HTML tags?

[2017-03-07 18:03] zenorocha commented on #384
Clipboard.js already comes with a built-in click event listener. You don't need another one.

[2017-03-07 18:03] #384 closed

[2017-03-07 18:04] zenorocha commented on #384
Check the documentation or see the `demo` folder for more examples.

[2017-03-07 18:04] zenorocha commented on #385
Hello @Mershl!

From my understanding this is not possible with `document.execCommand`, which is the browser API we use.

[2017-03-07 18:04] #385 closed

[2017-03-08 04:26] rojantandukar commented on #384
@zenorocha

First of all, thanks..okay.. if I remove the onclick function and just declare the constructor as well, I got an error.
var url = "https://www.google.com";
var bttn = top.doc1.doc2.document.getElementById('bCopyClip');
var clip = new Clipboard(bttn,{
   text: function(trigger){
   return url;
  }
});
Error:
Uncaught Typeerror: First argument must be a String, HTMLElement, HTMLCollectio

[2017-03-08 04:31] zenorocha commented on #384
Please share a JSFiddle, otherwise I can't really debug it.

[2017-03-08 06:17] rojantandukar commented on #384
While doing for demo purpose, in a separate file, it is working absolutely fine. But in my project source, it is creating problem.. I can share the working of it.

In a webpage, Ill right click and in context menu, i click on a button, which in back-end, will generate a link. That link has to be copied in the clipboard. This event is required as to generate a link..

[2017-03-08 14:38] eurolife opened #386 "I added the example code you showed and nothing gets copied to the clipboard when clicking the button."
using chrome and installed it using npm.

[2017-03-08 14:50] eurolife commented on #386
nevermind, found the problem, I didn't instantiate it.

[2017-03-08 14:50] #386 closed

[2017-03-10 02:04] nelsonkuang commented on #56
:+1:

[2017-03-10 05:59] piu opened #387 "Support to custom key combination(like ctrl+alt+c) or adding data to clipboard with custom menu link"
Hi,

I have question that does this module support in React JS Application and does the custom key combination work for copying to clipboard(like Ctrl+Alt+C)? Also if there is any support to custom menu implementation like in any react function I want to copy some custom data to clipboard dynamically and later paste it on some other menu item click.

Is there any example for it? I couldn't find an

[2017-03-10 12:48] Kolpikov opened #388 "Clipboard.js won't copy text from modal with negative tabindex value"
### Minimal example

### Expected behaviour

I faced problem while trying to copy text from modal window. Library won't copy any text inside modal that has negative tabindex value. I created a small example in which I reproduce this issue.
First modal form doesn't have tabindex attribue and library works as a charm, but for the second one - I added `tabindex="-1"` attribue and library faild to cop

[2017-03-10 17:23] holgersindbaek commented on #378
I'm experiencing the same on the newest version of Chrome and the newest version of this library. @eximius313 Any resolution on this?

[2017-03-10 17:47] zenorocha commented on #378
https://clipboardjs.com/ uses `data-clipboard-text` and everything seems to be working fine.

Can you share a JSFiddle that reproduces this problem?

[2017-03-13 06:32] anrananran commented on #238
@cnsgithub hi! can you share your solution, I tried to add try catch like this:
try{
    !function(e){if("object"==typeof exports&........emitter":6}]},{},[8])(8)}); //clipboard.js
}catch(e){}
,but nothing helped, in IE8 scripts still throw errors ,then other scripts can't execute

[2017-03-13 09:56] godoffrags opened #389 "copy to clipboard only via JavaScript and no DOM Element need?"
Hi,

is it possible to copy text to clipboard only use Javascript?
There is no DOM element for use!

Example:
`<script>
  Clipboard.toClipboard('my Text');
</script>`
or something?

[2017-03-14 02:42] anrananran commented on #249
@Jinkwon  sorry, your fork's mini version still throw Errors in IE8

[2017-03-14 23:43] nateperry opened #390 "Closest check on SVG breaks in IE11 and Edge"
This is seems to be a similar issue to #159 but since this we are now on v1.6.1, the error is a bit different. If I need to move this report into the Delegate repo, I am happy to do so. Figured I would post here first in case other people are searching with a similar issue due to Clipboard specifically.

JSFiddle: https://jsfiddle.net/nateperry/rxw2j2de/4/

### Expected behaviour

As you can see i

[2017-03-15 00:13] zenorocha commented on #390
Hey @nateperry, yeah this is an issue with `delegate`, can you close it here and open there. Also, if you have an idea how to solve it, please send a pull request :)

[2017-03-15 00:19] nateperry commented on #390
Sure thing! Thanks for the quick reply!

[2017-03-15 00:19] #390 closed

[2017-03-15 08:15] MadLittleMods commented on #389
Related to https://github.com/zenorocha/clipboard.js/issues/218

[2017-03-15 08:32] MadLittleMods commented on #389
You could use [`clipboard-action`](https://github.com/zenorocha/clipboard.js/blob/f59d4e6b4db55b0f462eeb96fb74db3469e0765d/src/clipboard-action.js) directly

[code]

[2017-03-15 15:11] #389 closed

[2017-03-15 23:03] nuxsmin commented on #336
@zenorocha that "promise" use is that I was looking for. Just an Ajax request before setting text :)

Thanks for kicking out Flash!

[2017-03-16 16:31] tamirchuba commented on #388
I have faced exactly with this problem. I am using dialog of blueprintjs which has two wrapper div elements with tabIndex attribute. When I remove these attributes manually clipboard library works.

[2017-03-17 06:43] cnsgithub commented on #238
I suggest to not use clipboard.js if you want to run it in IE8
[code]

[2017-03-17 09:29] anrananran commented on #238
@cnsgithub  thanks,I will try it!

[2017-03-19 12:25] eximius313 commented on #378
I discovered that it has something to do with modal window because if the button is on the window's "parent" page - copying works fine. If it is inside the window - it doen't work.
Unfortunatelly I didn't have the problem solved yet

[2017-03-21 14:33] safareli opened #391 "NodeList type is not supported properly"
This issue will be fixed after https://github.com/zenorocha/good-listener/issues/9 is resolved

[2017-03-22 18:53] ibmua commented on #334
FYI, UC Browser has around 3x higher market share than all of IE<11.

[2017-03-22 21:28] zenorocha commented on #334
I'm not saying that UC is not popular, I just don't have an idea how to fix that problem and would need a pull request to fix it.

[2017-03-23 01:03] shivarajnaidu commented on #334
I think uc mobile browser lags some of the things needed by clipboard Js... it's not like other browsers...

[2017-03-23 03:11] ihuguowei opened #392 "confused with the constructor function"
### Minimal example
[code]

### Expected behaviour
The first argument to the constructor is passed to the `HTML ELEMENT` ,only click twice can trigger `success` event, replace it with a class name string, it works. I am not sure this is a bug? I hope the constructor function first parameter can accept no more just a class name string.

### Actual behaviour
First click do not work, but second click

[2017-03-23 08:44] gaoqiang19514 opened #393 "why can't use trigger('click') ? (为什么无法手动触发拷贝事件？)"
`
button class="btn" data-clipboard-text="123456"
        click to copy
button

new Clipboard('.btn');
$('.btn').trigger('click');
// nothing to happen
`

[2017-03-23 12:59] pendave opened #394 "Can I add a new onclick function to this button created?"
Hi, what I want is after I click this button, it handles a setTimeout function to change the location.

But it fails, maybe a conflict to your script.

What can I do?

[code]

[2017-03-23 16:30] zenorocha commented on #392
clipboard.js already comes with a built-in click event listener when you create a new instance. If you remove your click event listener it will work correctly on the first click. See [demo folder](https://github.com/zenorocha/clipboard.js/tree/master/demo) for working examples.

[2017-03-23 16:30] #392 closed

[2017-03-23 17:42] Woody93 commented on #382
That isn't really a fix for this issue, I would have hoped that the structure of the DOM was irrelevant.
I have the same problem as ignacioHermosilla but I don't want to move my trigger element.

However, this is probably a Firefox issue as much as it is a clipboard.js issue and as such, I appreciate that a fix may be hard to come by.

[2017-03-25 09:00] thanhdnh opened #395 "Auto scroll to focused element when copy"
I have The same problem in this https://github.com/zenorocha/clipboard.js/issues/250
iOS10+, clipboard js 1.6. The process on iOS:
+ Focus on clipboard-data-target
+ Select text
+ Copy
But for the first step, iOS scrolls automatically to the clipboard-data-target, so it's very badddd!!!!

[2017-03-25 20:15] artrayd opened #396 "Clipboard.isSupported() not working"
I am not pro at javascript, maybe I am doing something wrong. But when I try to run Clipboard.isSupported() function, receiving following error:

Uncaught ReferenceError: Clipboard is not defined

https://jsfiddle.net/artrayd/Lhmeh6bg/

Rest of plugin works as magic, thank you!

[2017-03-27 03:53] zenorocha commented on #396
The only thing you missed was including the JS file: https://jsfiddle.net/2vqwfLzu/

[2017-03-27 03:53] #396 closed

[2017-03-27 03:56] zenorocha commented on #395
Please share a minimal demo that reproduces this problem or feel free to send a pull request.

[2017-03-27 04:00] zenorocha commented on #395
Also, why are you showing the select text to the user? iOS10+ already supports copy to clipboard. Try using this:

[code]

[2017-03-27 04:27] thanhdnh commented on #395
Dear zenorocha,
You Just open your site clipboardjs.com on iPhone 6 and above, scroll down to example that relates to input or textarea, continue scrolling until to hide the input (or textarea), just enough to see button copy/cut. Click on it, you will see browser auto scroll to the input (or textarea). In my site http://emojiselector.com , this problem is still there :(
Please fix this. I try man

[2017-03-27 12:45] Rex90 opened #397 "Uncaught Error: Multiple attributes declared, use either "target" or "text""
### Minimal example

http://jsfiddle.net/eh3cdgmx/1/

I am unable to set this up so that the text can be set programmaticically - it throws the error in the issue title

[2017-03-27 12:50] #397 closed

[2017-03-27 12:50] Rex90 commented on #397
target was set on the html

[2017-03-29 18:24] ericnkatz commented on #93
Just wanted to add comment for anyone else trying to find this its now on the [Known Limitations](https://github.com/zenorocha/clipboard.js/wiki/Known-Limitations).

[2017-03-29 18:28] ericnkatz commented on #93
@zenorocha may be worth throwing a specific exception letting users know they are trying to do this and that it is not supported.

[2017-03-30 03:17] muhghazaliakbar opened #398 "Tooltip not shown in anchor tag."
I tried to create anchor tag with clipboard.js but the tooltip not shown after success copy to clipboard
[code]

[2017-03-30 15:31] zenorocha commented on #398
Hey @muhghazaliakbar, the tooltip is not included on clipboard.js.

[2017-03-30 15:31] #398 closed

[2017-04-03 01:47] davidtaubmann commented on #376
I have the same trouble... We are sending an alert upon success and then destroying the clipboard, but whenever anothe rclipboard is triggered, the alert fires twice... not the console messages (which fire onces) but the alert messages do fire twice.

[2017-04-04 04:21] AlecTaylor opened #399 "False advertising!"
:1st_place_medal:

10.4KB? - https://github.com/zenorocha/clipboard.js/blob/f59d4e6b4db55b0f462eeb96fb74db3469e0765d/dist/clipboard.min.js

:P

[2017-04-04 15:22] zenorocha commented on #399
<img width="444" alt="screen shot 2017-04-04 at 8 21 28 am" src="https://cloud.githubusercontent.com/assets/398893/24664538/c746fa9a-190f-11e7-860b-e58b00fa0339.png">
<img width="446" alt="screen shot 2017-04-04 at 8 21 40 am" src="https://cloud.githubusercontent.com/assets/398893/24664540/c751d366-190f-11e7-817f-01596076003e.png">
<img width="562" alt="screen shot 2017-04-04 at 8 21 51 am" src="h

[2017-04-04 15:22] #399 closed

[2017-04-05 11:09] avi12 opened #400 "Clipboard JS won't copy if not activated via a click event"
### Expected behavior

I expect that no matter which event occurs, once I call the Clipboard() constructor and return a string value to the text() function, that I provide to the constructor via the 2nd parameter - the string will be copied.

However, I discovered that the Clipboard constructor is getting called only for the **click** event ([JSFiddle](https://jsfiddle.net/5kk0eysw/17/)).
If I lis

[2017-04-07 07:42] katoto opened #401 "有vue2.0 使用的版本没，如何使用"
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2017-04-07 13:18] #401 closed

[2017-04-08 09:19] oshihirii commented on #376
For reference, I don't have access to the code that is causing the issue at the moment, but created [jsFiddle](https://jsfiddle.net/rwone/kar9pbaL) to try and replicate the error - unfortunately it doesn't, so I will have to update it when I have access to the code again, but thought someone else could use the fiddle as a base to try and replicate error.

[2017-04-19 03:13] chang0022 opened #402 "Why it don't supports copy Image but I copy Image with it?"
You said clipboard.js don't supports copy Image。 But I used it in my [Website](http://www.51huotao.com/portal/portalGoodsList)

![image](https://cloud.githubusercontent.com/assets/6067222/25161167/0bd433e2-24ed-11e7-9e6d-3c6102444bdd.png)

It copy the image and word in Word or Wechat.

### Actual behaviour

You can see gif in  this url
https://imgchr.com/i/ilrAH
or
http://i4.buimg.com/4851/878a9bb

[2017-04-19 03:31] zenorocha commented on #402
I can confirm it works on certain browsers like Chrome and Firefox. But not on all of them like Safari.

[2017-04-19 03:31] #402 closed

[2017-04-20 21:00] eltonjude opened #403 "Add support to copy html into clipboard so that when pasted into RTE it shows as formatted text and not markup"
### Minimal example

### Expected behaviour

I am using the imperative API and generating and returning dynamic html markup. I am expecting that when I paste into any Rich Text Editor (Outlook/Gmail in browser/Word) I should see the resultant formatted Table representation.

### Actual behaviour

However, when I paste into any Rich Text Editor it displays the markup as plain text. You can see this

[2017-04-24 14:57] SouSuoKe opened #404 "How to add something after the copy of the text ?"
### Expected behaviour

How to add something after the copy of the text, such as to copy the text is Hello, paste show Hello from xxx, how to do this effect?
Hello --(paste)--> Hello from xxx
Thanks!

[2017-04-24 15:53] zenorocha commented on #404
You can listen to the `success` event and get the `text` property from that fired event.

[code]

[2017-04-24 15:53] #404 closed

[2017-04-24 20:28] hackhat opened #405 "Improve API: `clipboard.paste('my text')`"
I wonder why do you need to attach to a dom element?

I would suggest to have an option without dom.

At the moment I'm thinking in wrapping your library to make it easier to use.

Thanks

[2017-04-24 20:31] zenorocha commented on #405
Hello @hackhat!

Due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. A simulated click event using JavaScript does not work as this would enable clipboard poisoning.

Don't feel obligated to use clipboard.js though, do what you think it's best for your project :)

[2017-04-24 20:31] #405 closed

[2017-04-25 01:24] SouSuoKe commented on #404
Can I ask you to write an example for me? I tried many times, but did not succeed, I was just an amateur, just started learning, and did not learn a lot.

[2017-04-25 16:20] zenorocha commented on #404
There are lots of examples on the [demo](https://github.com/zenorocha/clipboard.js/tree/master/demo) folder. I'm pretty sure one of them will help you ;)

[2017-04-27 02:10] caishengmao opened #406 "How to paste？"
I have realized the replication and shear, but how to copy the contents of the paste in the text box？

[2017-04-27 02:22] zenorocha commented on #406
clipboard.js only supports copy and cut operations.

[2017-04-27 02:22] #406 closed

[2017-04-27 04:52] caishengmao commented on #406
Understand,Can you mention some ideas for the implementation of the paste function？thank you!

[2017-04-27 10:06] BikingGlobetrotter opened #407 "Firefox fails to copy bigger amount of data"
### Error description
I would like to copy a bigger amount of data (~3MB of text) via clipboard JS. Unfortunately, this does not work in firefox. In the browser.console you can see the following error message:

Looks like a firefox security policy denied the copying of the data. Copying the data to the hidden form takes some time in Firefox. Do you think it is possible to fix / workaround this pol

[2017-04-27 11:13] zxcenter opened #408 "How to use clipboard in Vue?"
### Minimal example

[2017-04-27 11:49] #408 closed

[2017-04-27 16:40] zenorocha commented on #406
Try Stack Overflow, it's the best place to get answers for technical questions.

[2017-04-27 16:53] zenorocha commented on #407
Unfortunately there's nothing we can do about this. I recommend you open an issue on https://bugzilla.mozilla.org.

[2017-04-27 16:53] #407 closed

[2017-04-28 05:46] BikingGlobetrotter commented on #407
Thank you for your answer. I did so: https://bugzilla.mozilla.org/show_bug.cgi?id=1360441

[2017-05-01 16:02] hackhat commented on #405
Hi @zenorocha what I meant was that the end-user (the developer) might not always want to have a dom element to attach. You could do it behind the scenes by creating an element on the body and attach yourself?

[2017-05-01 16:08] zenorocha commented on #405
Yes, that's what I do already: https://github.com/zenorocha/clipboard.js#copy-text-from-attribute but you still need an element to trigger because of this browser limitation.

[2017-05-04 08:07] icesman commented on #379
I have tried it on Android 6.0.1, it works.
But in caniuse.com says Android 6.0.1 doesn't support

It makes me confused. And I tried it on other Android device 7.0 with Chrome, it works. But no UC Browser.
So I doubt that some browsers have changed some configuration which make the lib doesn't work.😂

[2017-05-04 10:09] jonashaag commented on #379
That's interesting. It still doesn't work for Android 4.x

[2017-05-04 16:58] kookob opened #410 "click button one time, but new Clipboard multiple times bug."
### My Code

HTML:
`<button class="testBtn" type="button" onclick="test();" data-clipboard-text="">Test</button>`

JS:
[code]

### Actual behaviour

At the first click Test Button, the behaviour is normal.
and at the second click the Test Button, the code
[code]
will execute twice, and 'testBtn' alert twice.

click again, the code will execute one more time, always accumulate.

use `var clipboard

[2017-05-04 17:35] zenorocha commented on #410
clipboard.js already comes with a built-in click event listener when you create a new instance, so there's no need to add another one.

[2017-05-04 17:35] #410 closed

[2017-05-05 00:59] icesman commented on #379
it also depends on the browser, I think. Perhaps u can try another browser.
Some browser acts so weirdly that the events of the lib works but anyway it can't write the data into the clipboard.

[2017-05-05 06:09] BikingGlobetrotter commented on #407
Hi @zenorocha,
I don't know how to reopen the case, but the firefox guys created a solution how the workaround this issue and make clipboard.js extremly fast. I think that is interesting for you.

Since Safari and IE allow copying text to the clipboard only if data is selected, but don't care, whether the selected text and the text text copied to the clipboard are actually the same, they select a

[2017-05-05 10:45] tiasmc opened #411 "IE continuously ask for clipboard permission"
### Minimal example

### Expected behaviour

When allowing access to use the clipboard in IE, the permission is valid for the whole site.

### Actual behaviour

IE asks for permission on all pages, the access is only valid for the current page.

I have found that by adding the website to trusted sites and always allow clipboard access for trusted sites this is fixed, but i would like a solution wh

[2017-05-05 22:32] zenorocha commented on #411
Yes, on IE9-11 there's a prompt that asks if the user wants to allow access to his/her clipboard.

<img width="373" alt="screen shot 2015-10-14 at 8 49 20 pm" src="https://cloud.githubusercontent.com/assets/398893/10504423/33c8fa90-72b5-11e5-8ca9-1a1b0a342e9f.png">

Unfortunately, that's a browser limitation and there's nothing we can do about it.

Thanks for reporting @tiasmc!

[2017-05-05 22:32] #411 closed

[2017-05-14 10:48] UweKeim opened #413 "Is there an event for "start"?"
I'm using the `success` and `error` event handlers successfully:

    clipboard.on('success',
        function (e) {
            // ...
        }
    }

I'm now looking for a way to also register an event handler right after the user clicks the copy button.

**My question:**

Is there such an event?

Or any workaround to get some notifications right after the start, before the `success` or `error`

[2017-05-14 10:53] UweKeim commented on #413
My workaround is to directly register my own `click` handler:

    $('#btnclipboard').on('click',
         function() {
            // ...
    });

This seems to work on Google Chrome.

Is this a good workaround?

[2017-05-15 10:03] purgeru opened #414 "Pasting as plain text but still with breakings"
### Minimal example

https://jsfiddle.net/purgeru/nq62vwzc/4/

### Expected behaviour

I want to copy and paste text without browser style and links, but still with breakings.
As pasting CTRL+SHIFT+V. Need this for copying text into Lotus notes for predefined answers.

### Actual behaviour

Now it pastes all the styles.

[2017-05-16 09:17] kureus opened #415 "Tooltip functionality doesn't seem to be packaged with base install"
Hey @zenorocha. Looking through clipboardjs.com every time I take an action using your library I get some fantastic UI feedback in the form of a tooltip saying "Copied!" etc. However dropping the lib into a site I don't get this ootb. On clipboardjs.com you load three extra javascript files, demo.js, snippets.js and tooltips.js with the first two containing `showTooltip(e.trigger,'Copied!')` which

[2017-05-16 15:50] zenorocha commented on #415
Hey @kureus, yes this is a deliberate decision. Clipboard.js is not opinionated in terms of UI and UX, each site has different needs and designs so they know better than anybody else how the user feedback should look like.

If you're looking for that same tooltip, you can check the [gh-pages branch](https://github.com/zenorocha/clipboard.js/tree/gh-pages), all I do is use [primer-css](https://gith

[2017-05-16 15:50] #415 closed

[2017-05-16 16:32] AndreWin opened #416 "Problem when using clipboard.js in Jupyter Notebook"
Hello!

I used clipboard.js for Jupyter Notebook (JN). On first run JN create `.jupyter` folder. We can create folder named `custom` in it and place `custom.js` there. I have following code in this file:

[code]

Before last update this code worked fine, but now it doesn't work and I have no idea how to fix it.

I noticed that there is file `clipboard.js` in `path_to_python_virtual_environment/Lib

[2017-05-16 21:11] pietrovismara commented on #389
@godoffrags Or you can do like this:
[code]

In this way, you don't need to bind clipboard with any DOM element. This is useful if you want to keep clipboard separated from your code logic / markup. You can even use it with angularjs / ng-click.

[2017-05-17 09:59] kureus commented on #415
Thought this might be the case. Maybe worth making this explicit somewhere to address the difference between the demo an ootb functionality? Appreciate the prompt response and great lib 😄

[2017-05-17 20:50] gaastonsr opened #417 "Support for events besides click"
Hi! I like clipboard.js a lot. I was wondering if you were thinking about adding support for events besides click?

[2017-05-17 20:53] zenorocha commented on #417
Hey @gaastonsr, what other events would you like?

[2017-05-18 04:23] gaastonsr commented on #417
I actually don't have a use case 😬

But I was thinking if we could do expose generic API it would be great. For example a copy function that takes a string and copies it to the clipboard.

I think it would clean the code in instances like with React where it's discouraged to tap into the DOM elements.

We could do things like

[code]

[2017-05-18 13:14] zenorocha commented on #417
A copy function that takes a string and copies it to the clipboard would not be possible due to security restrictions imposed by browser vendors. User interaction is required in order copy/cut to work. A simulated click event using JavaScript does not work too as this would enable clipboard poisoning, that's why a DOM element with a click event listener is necessary.

There are some third-party wr

[2017-05-22 04:17] gaastonsr commented on #417
Understood! thanks for the explanation.

[2017-05-22 04:17] #417 closed

[2017-05-23 09:51] eythort commented on #407
I tested this as a potential workaround for when Chrome is not able to copy a large text blob. Version 1.6.1 threw an error after 2 seconds, but this patch copied all the text successfully instantly.
This patch warrants a new immediate clipboard.js release, in my opinion.

[2017-05-23 13:47] Froguard commented on #393
@gaoqiang19514 应该是浏览器的安全限制，要有一个event才执行剪切板的相关操作，这里的event需要注意，用js代码创建的event 和 用户交互式（即用户正常鼠标点击）产生的event有一定的区别的。比如，
[code]
等，都是不会让copy效果生效的，clipboard.js 会抛error

[2017-05-23 13:54] Froguard commented on #393
@gaoqiang19514  issues里有一种曲线救国的方式，你看一下
[issues/389](https://github.com/zenorocha/clipboard.js/issues/389#issuecomment-301916808)
[code]

[2017-05-23 14:41] #393 closed

[2017-05-23 14:43] zenorocha commented on #413
Hey @UweKeim, from what I understood you want to show something to the user before the click, so the only thing I can think is to use the `mouseover` event.

[2017-05-23 14:43] #413 closed

[2017-05-23 14:47] zenorocha commented on #416
Hey @AndreWin, thanks for reporting. I'm afraid I can't help you with that, please refer to the people that implemented clipboard.js inside Jupyter Notebook. This repository is for discussions on the core library.

[2017-05-23 14:47] #416 closed

[2017-05-23 14:49] zenorocha commented on #414
Hey @purgeru, you have two options, you can try the `data-clipboard-text` or the [imperative API](https://github.com/zenorocha/clipboard.js#advanced-options), that way you can have more control over what you're copying and modify it to your needs.

[2017-05-23 14:49] #414 closed

[2017-05-23 14:52] zenorocha commented on #400
Hey @avi12, thanks for reaching out!

Due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. Which means that the first argument in the constructor is required and must refer to a valid element in the page. You always need an event listener and that's why it's built-in. A simulated click event using JavaScript does not work as this would en

[2017-05-23 14:52] #400 closed

[2017-05-23 14:55] zenorocha commented on #394
Clipboard.js comes with a built-in event listener due to security restrictions imposed by browser vendors. User interaction is required in order copy/cut to work.

Try using the [imperative API](https://github.com/zenorocha/clipboard.js#advanced-options) if you need to some operations before copying.

[2017-05-23 14:55] #394 closed

[2017-05-23 14:59] zenorocha commented on #383
Sorry @ichengqing, but I can't understand your question. Please share a JSFiddle.

[2017-05-23 14:59] #383 closed

[2017-05-23 15:03] zenorocha commented on #379
Hey @jonashaag, unfortunately I don't have control over those browsers, my suggestion is for you to try `execCommand` directly and see what happens.

[2017-05-23 15:03] #379 closed

[2017-05-29 18:31] zenorocha commented on #395
Just tested on iPhone 6 and everything seems to be working fine over here.

[2017-05-29 18:31] #395 closed

[2017-05-29 18:37] zenorocha commented on #387
Yes, this module supports React and any other JavaScript library. But currently, clipboard.js only supports `click` event listeners. No custom key combination or anything like that.

[2017-05-29 18:37] #387 closed

[2017-05-29 18:38] zenorocha commented on #391
Moving discussion to that PR.

[2017-05-29 18:38] #391 closed

[2017-05-29 18:41] zenorocha commented on #388
Hey @Kolpikov,

Bootstrap's modal enforce focus for accessibility reasons but that causes problems with [LOTS of third-party libraries](https://github.com/twbs/bootstrap/issues?q=is%3Aissue+enforceFocus+is%3Aclosed), including clipboard.js.

You can turn off this functionality by doing...

*Bootstrap 3*
[code]

*Bootstrap 4*
[code]

If you want to know exactly what you're overriding, check the [`_

[2017-05-29 18:41] #388 closed

[2017-05-29 18:46] zenorocha commented on #155
You can now set a new `focus` option to `false`, so `enforceFocus` isn't called.

http://v4-alpha.getbootstrap.com/components/modal/#options
https://github.com/twbs/bootstrap/blob/v4-dev/js/src/modal.js#L251

[2017-05-29 19:25] zenorocha commented on #350
Closing this issue since no solution has been proposed so far. But feel free to open a pull request when possible.

[2017-05-29 19:25] #350 closed

[2017-05-29 19:27] zenorocha commented on #336
Looks like this will not be possible because `document.execCommand('copy')` doesn't work asynchronously in some browsers as pointed out by @guillaumevincent on #338. See http://hansifer.com/clipboardCopyTest.html

[2017-05-29 19:27] #336 closed

[2017-05-29 19:31] zenorocha commented on #371
https://github.com/zenorocha/clipboard.js/pull/372

[2017-05-29 21:06] zenorocha commented on #403
Hey @eltonjude,

Thanks a lot for this suggestion. Unfortunately, we can replace that `textarea` with a `div` because that could open a lot of room for style leaking. The reason why we use textarea is to avoid any extra styling that could be set by the user or even the default style that each browser brings.

For example: here's how that same code looks on different browsers without any styling:

[2017-05-29 21:06] #403 closed

[2017-05-29 21:46] zenorocha commented on #388
Also check the new `container` option introduced by #368 on `v1.7.0`

[2017-05-29 21:46] zenorocha commented on #378
Check the new `container` option introduced by #368 on `v1.7.0`

[2017-05-29 21:47] zenorocha commented on #348
Check the new `container` option introduced by #368 on `v1.7.0`

[2017-05-29 21:47] zenorocha commented on #335
Check the new `container` option introduced by #368 on `v1.7.0`

[2017-05-29 21:47] zenorocha commented on #308
Check the new `container` option introduced by #368 on `v1.7.0`

[2017-05-29 21:47] zenorocha commented on #187
Check the new `container` option introduced by #368 on `v1.7.0`

[2017-05-30 20:23] seanmhanson commented on #298
I know this is closed already, but +1 for updating the documentation; this bug just showed up for me too after rolling out a solution and then smoke testing in IE10.

[2017-05-31 01:40] gaoqiang19514 commented on #393
谢谢老哥！

[2017-05-31 10:44] cpm828 commented on #56
Why I use in vue and ios doesn't work, android phone is get work.

[2017-06-01 10:31] pranlona opened #421 "Not able to format the output"
I have created a button which will be copy the target data(Table).
Now when i am pasting it inside the xls , its not coming in a proper format.
So is there any way to format our data while pasting it.

[2017-06-02 05:15] ryantheleach commented on #417
Will copying with a keypress work? e.g. ctrl+c

[2017-06-02 06:27] ryantheleach opened #422 "Improve Documentation for Imperative API"
I really love JQuery's API documentation when it comes to imperative code.

At the moment the story driven examples in the readme help, but they feel really informal.

Could a section listing the events, public functions, and expected types be added?

[2017-06-02 09:54] MartinMuzatko opened #423 "document missing tooltip"
Hello!
As discussed in issue #62, #94, #195, #306, #366, #398 and #415, you **SHOULD** really document that the tooltip is **NOT** part of the base install! All these issues are closed, but there is still **no** documentation.

It is really a time-waster to see, that everything is included correctly, but the **demonstrated functionality is missing**. Even worse: not documented.

The user has to
1.

[2017-06-06 16:00] robertkjr3d opened #424 "FireFox is broken again for the 'execCommand' issue. I'm at 53.0.3"
### Minimal example

### Expected behaviour

Expected behavior is to copy and be able to paste with the FireFox browser.

### Actual behaviour

It does highlight, which is more than I can say than most software.  But the actual Clipboard is not filled for Firefox version 53.0.3 on 6/6/2017

### Browsers affected

Only Firefox 53.0.3

[2017-06-06 16:11] zenorocha commented on #424
Can you share a JSFiddle? Everything seems to be working fine over here.

[2017-06-06 16:11] #424 closed

[2017-06-06 17:32] robertkjr3d commented on #424
https://jsfiddle.net/5t9t5ymm/ Here is the fork that produces the:
document.execCommand('cut/'copy') was denied error...

[2017-06-06 17:51] zenorocha commented on #424
It's working fine here on Firefox 53.

![a](https://user-images.githubusercontent.com/398893/26843698-fb535a46-4aa5-11e7-8a53-b988404d3300.gif)

[2017-06-06 18:05] robertkjr3d commented on #424
Indeed...? my laptop that was not upgraded:
went from 43.0.1 works
then 47.0.2 works
then 53.0.3 works

The only thing different, is that my desktop says it's a 'funnelcake' build.  But firefox claims these are supposed to be no different.

[2017-06-06 20:27] eximius313 commented on #378
It works! Thank you

[2017-06-06 20:33] zenorocha commented on #378
;D

[2017-06-06 21:07] robertkjr3d commented on #424
https://support.mozilla.org/en-US/questions/1163139 -- It was the funnelcake version.

[2017-06-08 01:26] produktive commented on #423
@MartinMuzatko How do I use the damn tooltip? I still can't figure it out. I included the tooltips.js code, what do I do after: "Uncaught ReferenceError: hljs is not defined"?

[2017-06-08 02:08] zenorocha commented on #423
Could you send a pull request @MartinMuzatko?

[2017-06-09 16:08] karlr42 opened #425 "1.7.1 not available on jsDelivr/CDN wiki page doesn't reflect 1.7.1 release"
I was going to submit a PR to update your [CDN](https://github.com/zenorocha/clipboard.js/wiki/CDN-Providers) page to 1.7.1, but I noticed that that version isn't available on [jsDelivr](https://www.jsdelivr.com/projects/clipboard.js) yet.

[2017-06-09 17:37] MartinKolarik commented on #425
@karlr42 it *is* on jsDelivr, but under a new link: https://cdn.jsdelivr.net/npm/clipboard@1.7.1/dist/clipboard.min.js

You can [check the new jsDelivr docs for more info](https://github.com/jsdelivr/jsdelivr#note-our-backend-changed-learn-how-to-use-the-new-jsdelivr).

[2017-06-09 17:46] karlr42 commented on #425
Ah, cool. I updated the wiki [page](https://github.com/zenorocha/clipboard.js/wiki/CDN-Providers) anyway, and for jsDelivr just let it use the latest version, that seems to make the most sense. Thanks!

[2017-06-09 17:46] #425 closed

[2017-06-09 18:38] MartinKolarik commented on #425
I suggest using at least https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js
Links without version are dangerous because you can be updated to a new major version with breaking changes without knowing.

[2017-06-09 19:01] karlr42 commented on #425
Good point, changed, thanks.

[2017-06-09 21:16] tambeta opened #426 "API extension to handle copying fully imperatively"
I'd like to propose extending the API so that the following use case would be possible.

In some scenarios, clicking the copy trigger element may have unwanted consequences, e.g. a `<button>` or `<a>` in a Bootstrap dropdown which causes the dropdown to close if event propagation is not stopped. I would like to stop propagation of the click event beyond the button and handle clipboard actions imme

[2017-06-10 01:44] ppKrauss opened #427 "Suggestion, an event or trigger-before"
When user (programmer) need to do something before to copy.

Example: change format in some values, before copy-action, to be copied in formatted way.

[2017-06-10 12:19] ppKrauss opened #428 "Need for copy inputs"
### Minimal example

HTML ```<select><option>1<option>2</select>```.

### Expected behaviour

To copy the the *selected value*.

### Actual behaviour

Copy nothing (empty).

### Browsers affected

All.

------

Clue for solution: see #427.

[2017-06-11 10:32] produktive opened #429 "Compatibility between jQuery and Bootstrap"
I realize this may not be the right place to post this. I finally got Clipboard + Tooltip to work on my custom profile page for Wordpress users. One of the features on the Wordpress profile page is a password generator/strength indicator, I believe this comes standard on Wordpress and relies on jQuery. I cannot get both Clipboard+Tooltip to work at the same time as the password button, one of them

[2017-06-11 21:27] produktive commented on #366
@guillaumevincent I added your method to my page and I can't get it to work? I included the css at the top but when I add the JS, even the copying functionality breaks. The console shows nothing. How is this possible?

[2017-06-12 02:05] liuhao2050 opened #430 "It doesn't work"
I just do as the document's says, but it doesn't work. but it works at https://clipboardjs.com/ .
Chrome 58.0.3029.110 (64-bit)

![image](https://user-images.githubusercontent.com/6995870/27016856-47ebf9c6-4f56-11e7-99a3-19c7218840e6.png)
![Uploading image.png…]()

[2017-06-12 02:09] #430 closed

[2017-06-12 14:28] produktive commented on #366
@guillaumevincent thank you for that code. I had to modify it a bit to get it to work. Is there a way to preserve the disappearing animation that exists with the hint.css normal functionality instead of the timeout just making it disappear?

[2017-06-13 19:05] tambeta commented on #426
I managed to resolve my particular issue by examining the code. [src/clipboard.js](https://github.com/zenorocha/clipboard.js/blob/f42b57067d461f5a8c71deec9818670f0c71d818/src/clipboard.js#L38) calls [listen](https://github.com/zenorocha/good-listener/blob/master/src/listen.js#L13) from `good-listener`, which has different behavior depending on whether a selector or a DOM node is passed. In the for

[2017-06-16 05:41] spencerthayer opened #432 "How do I put this in a function?"
How would I wrap `var clipboard = new Clipboard("#inputID");` into a function? Or bind it to another click function?

[2017-06-16 06:07] spencerthayer opened #433 "Doesn't work with Password input."
Input's marked as type="password" do not work with clipboard.js. Is this by design?

[2017-06-16 06:43] spencerthayer commented on #59
I can't seem to get this to work with ` <input type="hidden" readonly="true" id="inputID" data-clipboard-text="VALUE.">`.

[2017-06-16 06:56] spencerthayer commented on #432
I need to do this...

[code]

[code]

[2017-06-16 06:56] spencerthayer commented on #432
This is for a password generator not for login so there are no issues of security.

[2017-06-16 06:59] spencerthayer commented on #432
From what I am getting from the documentation this usecase is out of the scope of clipboard.js. But before I abandon clipboard.js I would like to know if I am wrong.

[2017-06-16 07:01] spencerthayer commented on #432
This works for just a single password type input but I the hold function cannot work with it so this isn't a desirable solution.

[code]

[2017-06-16 10:44] Wahitler opened #434 "How Can I do?"
### I write my code is:

![image](https://user-images.githubusercontent.com/12858618/27223299-5c0d9882-52c2-11e7-9b10-751c3ec0d151.png)

### It works when  i  click on my button first,
### It alert twice times, when i click on my button second
### It alert thrice times, when i click on my button third

### How can i fix it?

[2017-06-16 14:18] #433 closed

[2017-06-16 14:32] spencerthayer commented on #432
``javascript
//CLIPBOARD AND PASS REVEAL
function copyToClipboard() {
    $("#domainPassword").attr("type", "text");
    document.querySelector("#domainPassword").select();
    document.execCommand("copy"); //cut, copy or paste
    //clear selection
    if ( document.selection ) {
            document.selection.empty();
        } else if ( window.getSelection ) {
            window.getSelection().

[2017-06-16 14:32] #432 closed

[2017-06-20 20:44] cihadsevim opened #435 "Just Text"
Hi there,
Is it possible to copy something from an element click? like below.

<button onClick="copy('Hi Mate');">

Thanks.

[2017-06-21 08:59] hellboy81 commented on #433
Failed by design.

[2017-06-21 15:01] spencerthayer commented on #433
Change the password type to "text" and then change it back. But it requires going outside the scope of _clipboard.js_. I found clipboard.js to be too limited for use in my project so I abandoned it.

[2017-06-21 15:32] pavlism opened #436 "Trying To Copy an empty string doesn't trigger success or failure"
Awesome project!!
I just spent some time debugging your code because the success trigger, not the error trigger was firing when the text property return an empty string.  I didn't realise the problem was the empty string (duh), but letting the success or failure trigger fire in this case might be nice to help users debug their code.

[2017-06-24 01:34] oPorks commented on #434
I notice, u don`t need to create a new object every click, and you are doing it.

[2017-06-25 05:17] Wahitler commented on #434
thank you for your reply,my need is
![image](https://user-images.githubusercontent.com/12858618/27513809-79fb5cb2-59a7-11e7-982a-25b00bf94789.png)
how can i not new object ? i am new for js.
here is my code:
`    <input type="text" id="foo" value="hehe">
    <button data-clipboard-target="#foo" id="btnFoo" data-clipboard-action="copy"  onclick="copyUrl('btnFoo')">Copy</button>

    <input type="te

[2017-06-27 17:24] higornevesmarques commented on #434
@Wahitler Try it:

[code]
You need to create a new instance only one time, with the element which you have passed as parameter will receive all actions you need

[2017-06-29 08:43] JohnsenZhou opened #437 "Why it can't support ios?"
### Minimal example

### Expected behaviour

I thought that by going to the page 'Copy to clipboard' on Iphone and pressing the button 'Copy to clipboard' then show "Copied!" would happen.

### Actual behaviour

Instead of 'Copied!', what I saw was that 'No support :(' happened instead.

### Browsers affected

I tested on all major browsers and only iphone ios does not work.

[2017-06-29 08:54] #437 closed

[2017-06-29 14:16] zenorocha commented on #434
Thanks @higornevesmarques!

[2017-06-29 14:16] #434 closed

[2017-06-30 03:21] zhanyuzhang opened #438 "It doesn't work on iPhone with IOS10"
My code as follows:
[code]
It worked perfectly on desktop browser, but hit a problem that nothing happened on my iphone.

[2017-06-30 15:51] dlicois opened #439 "Carriage return added in the copied string"
### clipboard.js adds carriage return when copying string

see:
https://jsfiddle.net/dlicois/yvx5n5fb/

### Expected behaviour

Saved string should be :

### Actual behaviour

But when pasting, carriage returns are added :

### Browsers affected

Tested on firefox 54 and a few versions earlier. This seem to be caused by the action element not being at the same dom level as the target element.

[2017-06-30 18:31] zenorocha commented on #429
Please share a minimal reproducible code on JSFiddle, otherwise it's completely impossible for me to debug such case.

[2017-06-30 18:31] #429 closed

[2017-06-30 18:32] #435 closed

[2017-06-30 18:33] zenorocha commented on #438
I've tested on iOS 10 and it works fine.

[2017-06-30 18:33] #438 closed

[2017-06-30 18:43] zenorocha commented on #439
This seems like a bug on Firefox only. Unfortunately, I cannot add a `trim` function into the library because people might not want this behavior, but you can run this by yourself:

[code]

See: https://jsfiddle.net/yvx5n5fb/6/

[2017-06-30 18:43] #439 closed

[2017-06-30 18:48] zenorocha commented on #421
Unfortunately, the output format is controlled by the browser, not in the library level.

[2017-06-30 18:48] #421 closed

[2017-06-30 18:51] zenorocha commented on #436
Thanks for reporting @pavlism! Feel free to send a pull request ;)

[2017-06-30 18:51] #436 closed

[2017-06-30 19:04] zenorocha commented on #428
Hey @ppKrauss, thanks for reporting. Feel free to send a pull request or use the imperative API.

[code]

[code]

See: https://jsfiddle.net/5kk0eysw/29/

[2017-06-30 19:04] #428 closed

[2017-06-30 19:06] zenorocha commented on #422
Hey @ryantheleach, thanks a lot for your suggestion. In my perspective, there's no need to add a complicated documentation for this. In fact, I believe this is one of the reasons why clipboard.js is so successful.

But feel free to send a pull request if you have a more objective proposal ;)

[2017-06-30 19:06] #422 closed

[2017-06-30 19:07] zenorocha commented on #427
Thanks for the suggestion @ppKrauss!

Closing since this is duplicated from #338. More details over there.

[2017-06-30 19:07] #427 closed

[2017-06-30 19:08] zenorocha commented on #426
Thanks for reporting @tambeta, feel free to send a pull request with your suggestions.

[2017-06-30 19:08] #426 closed

[2017-06-30 19:30] zenorocha commented on #423
Done, thanks @MartinMuzatko!

[2017-06-30 19:30] #423 closed

[2017-07-03 07:16] charles8xu opened #440 "A question about running the test code on modern browsers"
### Reproduce Step

- OS Version: macOS 10.12.5
- modify karma.conf.js to test on Chrome / ChromeCanary / Safari / Firefox

Here is the similar test result on Chrome / ChromeCanary / Firefox
- Chrome Version: 59.0.3071.115
- Chrome Canary Version: 61.0.3147.0
- Firefox Version: 54.0

![image](https://user-images.githubusercontent.com/6831013/27781162-52098dc4-5fff-11e7-871e-97b06f36d589.png)

Here

[2017-07-03 23:09] michaelsomerville commented on #183
Having this issue, but it was working fine when the code was on the page. Moved the code it it's own js file and now it's not working.

[2017-07-06 11:51] czelusniakdawid opened #441 "Bootstrap v4 alpha6 tooltips don't hide with clipboardjs"
Hi,
I want to have on my page multiple code examples with clipboardjs bootstrap buttons and tooltips. I followed this [example](https://jsfiddle.net/zenorocha/x3Ljqmdt/2/), but I want to generate all buttons at once instead of writing
[code]
for each button. I have decided to write `for` loop but now Bootstrap tooltips don't hide. Could you help me ?

[example site](http://194.28.50.230/clipboardj

[2017-07-06 13:06] orangecoding opened #442 "Copying text doesn't work if using text method and a very (very!) long text"
### Minimal example

http://jsbin.com/hocakiliru/edit?html,css,js,output

### Expected behaviour

Both methods, either target or text should work.

### Actual behaviour

copying with text attribute doesn't work while target works

### Browsers affected

Chrome, FF, Safari... Doesn't have IE but it's most certainly be broken too.

[2017-07-07 19:16] czelusniakdawid commented on #441
I have successfully dealt with this problem :)

Instead of:
[code]
I did:

[code]

[2017-07-07 19:16] #441 closed

[2017-07-10 06:22] JarRySW opened #443 "Use in ElementUI popover"
### Minimal example

[JSFiddle] https://jsfiddle.net/5kk0eysw/38/

### Expected behaviour

copy text in popover

### Actual behaviour

nothing happened. neither success nor error.

### Browsers affected

can not copy

[2017-07-10 08:38] oxu-mimeo opened #444 "Copy issue! Important!!!!!"
### Minimal example

`<button class="btn btn-xs default btn-copy" type="button" data-clipboard-text="Test">Copy Key <i class="fa fa-key"></i></button>
`
[code]
I follow the example to write the demo on jquery Modal
### Expected behaviour

1. I expected that the browser can print the 'Test' value.
2. I expected that I can use the "Ctrl+V" to paste the "Test" on my computer.

### Actual behaviour

1

[2017-07-10 19:11] ypinskiy opened #445 "Calling Element's Click Event Only Works In Certain Situations"
### Minimal example
Setup for both:

[code]

This works fine:

[code]

but if I call

[code]

in a seperate function, it does not work, calls the onError callback of clipboardjs

### Expected behaviour

The text should be copied.

### Actual behaviour

Throws an error if using onError callback, nothing otherwise

### Browsers affected

Chrome 59 and Firefox Dev Edition 55

[2017-07-11 03:19] #444 closed

[2017-07-11 03:20] oxu-mimeo commented on #444
I overwrite the enforceFoccus to fix this issue

[2017-07-11 03:45] zenorocha commented on #445
Due to security restrictions imposed by browser vendors, user interaction is required in order copy/cut to work. A simulated click event using JavaScript does not work as this would enable clipboard poisoning.

[2017-07-11 03:45] #445 closed

[2017-07-11 03:49] zenorocha commented on #443
Clipboard.js comes with a built-in click event listener, success or error events will only be triggered after a click is made. Check the `demo` folder to understand how the API works in practice.

[2017-07-11 03:49] #443 closed

[2017-07-12 09:14] codewhensleep opened #446 "it is a good plugin but I wonder why I have to bind to a specific DOM rather than provide API only for freely use"
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2017-07-13 10:53] MohabElgammal opened #447 "Refresh page"

[2017-07-14 11:17] JarRySW commented on #443
Of course, it must click the copy button.

[2017-07-19 13:37] Clebiez opened #448 "Safari Compatibility"
Hi,
your plugin does not work on Safari under 10.
Do you know why and do you know any way to make it work ? For example with a polyfill ?

Good plugin anyway =)

Regards,

[2017-07-19 15:11] azizullah-masology opened #449 "Is there a nuget package for it"
I want to use it on mvc application. I can not fined a nuget package for clipboad.js

[2017-07-19 16:24] zenorocha commented on #449
I don't think there is one @azizullah-masology.

[2017-07-19 16:24] #449 closed

[2017-07-19 16:25] zenorocha commented on #448
The only fallback is to use Flash. There is a way for you to offer a different behavior on browsers that don't support `document.execCommand('copy')`, we described over here: https://github.com/zenorocha/clipboard.js#browser-support

[2017-07-19 16:25] #448 closed

[2017-07-19 16:48] azizullah-masology commented on #449
Ok thanks @zenorocha for replay

[2017-07-21 10:46] jerryniepan opened #450 "when the content contains '\n' or '\r' ,how to write the string?"
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2017-07-26 05:39] yanlee26 opened #451 "how to do copy and paste with excel and keep the data's format as the same?"
glad to the the the way the solve the problem ,without using textarea or table. Thanks!

[2017-07-26 07:14] visioncode commented on #428
Is it also possible to copy by the change event, not any btn?

[2017-07-26 08:09] ppKrauss commented on #428
Hi @zenorocha,  your code **is not a solution**, it is a "only one value copy", ignoring all other contents (!). My `#foo` is a whole table, and your code is coping only a cell of the table.

[2017-07-26 08:17] ppKrauss commented on #428
A workaround is perhaps a kind of "OR logic".
Copy as *clipboard.js* default **OR** as additional specification when it exists.

This configurable "OR logic" avoid the need of a trigger (as #427 by #338 can't implemented in Firefox)... Is a solution for you @visioncode?

[2017-07-26 08:51] ppKrauss opened #452 "Add an "alternateText" like the "text" parameter, but for optional handling, preseving default behaviour"
For minimal example of the problem, see #428 and any page with complex HTML-forms  or HTML-tables where user need to copy the input action. The solution is a kind of "OR logic" in the text return.

Example of initialization:

[code]
The `alternateText` function is used to return non-default value for copy, as `text`, but instead to define as the "only way to copy" it is defined as an "optional way

[2017-07-28 13:15] cesarpachon commented on #446
Agree on this. I am working on HTML5 games that only have a root canvas element. I need to fire the clipboard behaviour from a custom callback (that, following the framework chain, by sure will start eventually at some canvas.onClick handler). it would be great if I can fire clipboard.copy(mytext) directly.

[2017-07-30 02:27] raphaeldiasrj opened #453 "Can I skip a column from a row?"
I'm copying a tr element, but I want to skip a td. Is there any "skip" attribute?

[2017-08-02 10:03] GProst opened #454 "Pass DOM element directly"
Is it possible to pass DOM element to `Clipboard` directly?

In case of ReactJS it would be very handy. For example:

    componentDidMount () {
      this.copyBtn = new Clipboard(this.ref) // where this.ref is a reference to button DOM element
      this.copyBtn.on('success', ...)
      this.copyBtn.on('error', ...)
    }

    componentWillUnmount () {
      this.copyBtn.destroy();
    }

[2017-08-02 15:43] mmclau14 commented on #454
this is probably an implementation bug. clipboard does support this feature

[2017-08-02 16:31] GProst commented on #454
@mmclau14 my apology, it really works. I guess I made something wrong when I first time tried.

But maybe this should be placed in usages example?

[2017-08-02 16:34] #454 closed

[2017-08-02 16:38] zenorocha commented on #454
Thanks @mmclau14!

@GProst we already document that you can pass a DOM element and the destroy function. What exactly do you want to be placed in usages?

[2017-08-02 16:45] GProst commented on #454
And sorry again, I was reading README superficially, mostly looking on examples. Didn't notice the line when it says that I can use a DOM selector, HTML element, or list of HTML elements.

[2017-08-02 16:54] zenorocha commented on #454
No problem at all ;)

[2017-08-02 21:09] maikelmclauflin opened #455 "trigger or log warning when input is not in a state that can be copied"
### Minimal example

https://jsfiddle.net/mmclau14/h2adpeh7/

### Expected behaviour

clipboard should copy text, or show warning.

### Actual behaviour

instead success is called and value is not copied to clipboard.

### Browsers affected

tested on chrome 59.0.3071.115

[2017-08-03 14:25] alexandrebfaust opened #456 "Problem to copy an invisible input value"
I've been trying to copy an input value, but I am not being able to. Did somebody try it
before and it was successful?
Here are the models that I attempted on, I used boostrap's class on some of them to hide the input value.

https://jsfiddle.net/phksjxz3/3/
https://jsfiddle.net/zenorocha/msg9tr7f/

-----------

Estou tentando de diversas formas copiar o valor de um input, porém não estou consegui

[2017-08-03 14:41] alexandrebfaust commented on #456
Encontrei uma solução.
Usando style="z-index: -9999;", para mover a input para trás do painel
----------------
I found a solution.
Using style = "z-index: -9999;", to move the input to the back of the panel

[2017-08-07 14:10] brandonros opened #457 "Error: Cannot find module './closest'"
test.js

[code]

`$ browserify test.js -o bundle.js`

[code]

[2017-08-09 19:33] tkdan235 commented on #457
fwiw I am seeing another dependency error occasionally as well when trying to use `clipboard.js` via `bower`.

[code]

[2017-08-09 19:40] tkdan235 commented on #457
I attempted to load the project from the cdn url instead and ran into the same issue:

[code]

[2017-08-09 20:44] zenorocha commented on #457
Hmmm, no changes were made over here. By the way, did you see that Bower is going away?

<img width="991" alt="screen shot 2017-08-09 at 1 08 31 pm" src="https://user-images.githubusercontent.com/398893/29143090-ded09f56-7d08-11e7-8102-2de5e6a82f82.png">

[2017-08-10 05:43] gengshenghong commented on #446
Agree with @cesarpachon Hope it will be possible to use clipboard.copy freely!!! It is sometimes difficult to create a button (DOM) bind to the clipboard directly....

[2017-08-10 18:29] tkdan235 commented on #457
Heh yeah I'm going to have to move bower out of the stack. =)

I did try using yarn to load `clipboard.js` as well and encountered the same `Error: Cannot find module './closest'`.  I suspect there is some downstream dep issue.

I ended up using the cdn hosted script which turned out to work fine.

[2017-08-13 16:30] zerolidao opened #459 "this plugin is support ios10+?"
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2017-08-13 16:50] #459 closed

[2017-08-13 17:46] Smile4ever commented on #450
Use a textarea?
<textarea id="foo" type="text" value="hello"></textarea>

[2017-08-13 20:35] MikeWarren2014 commented on #183
Does the dependency have to be **after** the element containing the data to be copied?! I'm having this problem as well. I put the dependency in the `<head>`, right after the jQuery dependency, and in my script file, I said

`$(document).ready(function() {
	// some other important stuff
	var clipboard = new Clipboard('#link');
});`
and it didn't work. However, when I moved that to the front of the

[2017-08-14 01:49] tbillington commented on #311
This feels like a common use case, would it be worth adding a note about it in the readme?

It was a little strange debugging this using the vanilla setup, the success event fires but the clipboard hasn't changed.

[2017-08-14 14:45] djmattyg007 commented on #446
This was asked previously and the request was denied: https://github.com/zenorocha/clipboard.js/issues/329

[2017-08-14 15:02] djmattyg007 commented on #311
I'm having trouble copying the contents of any input field that's hidden using CSS.

[2017-08-14 17:05] cesarpachon commented on #329
yeah most of the time when you face a new requirement (like implementing clipboard functionality) your first attempt is to look if someone had already implemented some reusable library for that, in order to save some time. I bet that's why many of us arrive at clipboard.js at first. noticing that it doesn't fit all user cases forces you go deep in how the clipboard mechanism work (the thing you we

[2017-08-15 11:08] rsuk commented on #453
I too would like to do this. I'm thinking that I might need to implement a custom version of the standard action that would hide the element before, and show it again after the operation but would appreciate any steer on how to best (i.e. in terms of fitting with the api design) do this kind of customization.

[2017-08-16 08:56] jorise7 opened #460 "clipboard.js changed style position to relation of body."
clipboard.js changed style position to relation of body, after copy.

[2017-08-16 08:57] jorise7 commented on #460
no problem.

[2017-08-16 08:57] #460 closed

[2017-08-18 16:40] lipeon commented on #224
How add in wordpress?

[2017-08-21 13:07] raghala opened #461 "1.7.1 Clipboard.js is not working in firefox 38.6.0, but working fine in Chrome"
We are using clipboard.js 1.7.1 version. but it is not working in firefox browser.

[2017-08-21 22:05] phardye commented on #155
thanks a lot! I got it.

[2017-08-22 06:32] raghala commented on #461
@zenorocha Please

[2017-08-22 17:49] redjersey opened #462 "Unfortunately v1.7.1 doesn't work on iphone / ipad safari"
I used my iphone to browse clipboardjs.com and played with the demos, unfortunately it doesn't work. Nothing is copied / cut.

[2017-08-24 22:02] joshuaptfan commented on #461
clipboard.js [only lists support for Firefox 41+](https://github.com/zenorocha/clipboard.js#browser-support), While document.execCommand is widely supported, [copy/cut was not enabled by default until that version of Firefox.](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand#Browser_compatibility)

You can catch the error and prompt the user to manually copy.

Do you expect a

[2017-08-25 20:30] jamilatta commented on #102
I use 2 events to resolve it, look:

[code]

[2017-08-25 22:05] aviatix commented on #462
Experiences the same thing with iOS on iPad. Any plans, that this will be included in this library?

[2017-08-26 06:56] toolaugh opened #463 "clipboard did not run for the first click . It only runs with double click in the first times"
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2017-08-27 15:24] txaqo opened #464 "copy console.log/output to clipboard"
### Minimal example

https://jsfiddle.net/puccaso/1qoqud0k/1/

I am actually very new to this. I think i have forked the fiddle above...

 ive been trying to create a small form/template i want certain information to be entered into text fields, drop downs etc. and to copy that to memory. before i heard about Clipboard.js - i was just sending out to console.log and doing a manual double-click copy

[2017-08-28 20:23] rxtphan commented on #152
Just found this issue — i'm trying to do this exact thing.  @zenorocha have you had a chance to solve this?

[2017-08-29 09:46] toolaugh opened #465 "clipboardjs with reactjs"
I use advance usages of clipboardjs.
 `const clipboard = new ClipBoard('.btnCopy', {
            text: () => this.props.value,
              });
        clipboard.on('success', (e) => {
            if (this.targetCopyBtn) {
                this.setState({
                    isCopied: true,
                });
            }
            console.info('text', e.text);
            e.clearSelection();

[2017-08-29 12:57] gatetothestars commented on #296
Howdy folks.
My app was working in development but not in production.
My **solution** was to link
 `<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>`
instead of linking to my local folders copy in node_modules/dist etc.
Seemed to do the trick.:relieved:
Good luck!

[2017-08-30 04:36] toolaugh commented on #155
@alexalexalex-s  how to pass the container reference ? with bootstrap modal.

[2017-08-30 11:43] alexalexalex-s commented on #155
When creating your Clipboard object, set the 'container' property in the
options object to your modal element (usually a div). Like so...

new Clipboard('.btn', {
    container: document.getElementById('modal')
});

On 30 August 2017 at 06:37, toolaugh <notifications@github.com> wrote:

[2017-08-30 13:03] deejay-baddog opened #466 "can i just invoke a function instead of push a button to copy a text."
### Minimal example

### Expected behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

### Actual behaviour

Instead of '...', what I saw was that '...' happened instead.

### Browsers affected

I tested on all major browsers and only IE 11 does not work.

[2017-08-30 13:16] deejay-baddog commented on #466
hi,Zeno Rocha.
this project is great and very helpful. but after i read the code, i found that if i want to copy or cut, i have to click a button. can i just declare a function invoked it and passed the msg and then the copy is done.
im a new guy in JS and i realy dont know how to solve it. if you can tell me the possible way, it will be very greatful.

[2017-08-30 23:17] joshuaptfan commented on #466
The basic JS method that this plugin relies on, [```document.execCommand()```](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Interact_with_the_clipboard), requires that it be triggered by user interaction to prevent web pages from messing with the clipboard without the user's knowledge. This is a security feature and is enforced by every browser.

There is no way around this, but you *

[2017-08-31 06:52] deejay-baddog commented on #466
@joshuaptfan Thank you very much for guiding me. After i ask the question, I do try to simulate a button click event, and yes it worked. But it invoked the error callback, not the success. I dont know what did i miss.

[2017-08-31 08:00] toolaugh commented on #155
oki, It works well

[2017-08-31 08:53] tprupsys commented on #463
same here

[2017-08-31 15:05] joshuaptfan commented on #466
Possibilities:

1. The first triggering event does not classify as a valid user interaction, so execCommand() failed due to security enforcement.
2. You "broke the link" between the valid triggering event and execCommand(), such that the browser does not associate the user interaction trigger with execCommand() for security enforcement.
3. Too much time passed between the triggering event and exec

[2017-09-03 13:00] deejay-baddog commented on #466
thank you @joshuaptfan.
I used these methods that you provided, and i think this function "copyText(text)" is exactly what i need. But i still can not copy the text. I opend the console, there was nothing errors here, and the code was actually executed. I dont know if there is any way to track it.

[2017-09-03 17:58] joshuaptfan commented on #466
Use [breakpoints](https://developers.google.com/web/tools/chrome-devtools/javascript/breakpoints) or [```console.log()```](https://www.w3schools.com/js/js_output.asp) to see if the code is really being executed, or if there are no errors because the code didn't run.

```document.execCommand('copy')``` will do nothing if there is no text to copy. Make sure you are passing a string to ```copyText()`

[2017-09-05 19:02] designbyadrian commented on #465
In which component are you creating the clipboard instance?

What do you get if you log `e` to console on success?

[2017-09-05 19:12] designbyadrian commented on #393
Can somebody please translate the rest of the comments to English so the rest of us who might have the same issue might learn something?