[2021-02-23 18:00] helderburato commented on #732
Thanks for the snippet, I noticed in your code you don't have the element mentioned as `#foo` id to the action button.

[2021-02-23 18:23] vitormalencar commented on #732
Yes I do agree that we should clean up the Dom after copy

[2021-02-25 10:53] helderburato commented on #732
Thanks for the example @firasdib! It's already in our roadmap to be fixed.

[2021-02-28 13:34] nephilim75 opened #734 "missing assets folder"
Hello

saw in part of the code relation to `assets` folder but cannot find it in the zip file. Am I doing something wrong?

Kind regards
//neph

[2021-03-01 13:08] vitormalencar commented on #732
@firasdib Just a quick heads up the fix for this issue will be present in the next release, thanks for reporting the issue.

[2021-03-01 13:17] firasdib commented on #732
Thank you @vitormalencar

[2021-03-01 13:17] #732 closed

[2021-03-02 02:30] jzsn2018 commented on #709
i have meet same problem. so have you solved this;

[2021-03-02 02:38] jzsn2018 commented on #704
you can see my solution ~
[code]

[2021-03-02 02:54] roy2651 commented on #709
可以成功的，在mout的时候注册时间，然后在赋值text
`
[code]
this.state.clipboardJS.text = () => {
                    return xxxx;
                  };
[code]

[2021-03-02 02:55] roy2651 commented on #709
可以成功的，在mout的时候注册时间，然后在赋值text
`

[code]

类似这样的
@jzsn2018

[2021-03-02 18:09] programcsharp commented on #648
The problem with the container fix is that it only works with a specific modal, not any modal.

The root cause is that the Bootstrap modal keeps the fakeElem from getting selected normally.

To fix that, add a `focus()` call in clipboard.js selectFake -- right after selecting, but before copying:

[code]

[2021-03-04 22:36] vitormalencar commented on #734
Hi @nephilim75 can you be more specific I'm not sure if I understood your question, also de lib does
not have any assets folder

[2021-03-06 13:32] vitormalencar commented on #732
@firasdib new version released please let me know if works for you

[2021-03-06 17:18] jacekkarczmarczyk opened #735 "TS errors or breaking changes in 2.0.7"
## 🐛 Bug Report

After upgrading from 2.0.6 to 2.0.7 I started getting TS errors, see the codesandbox reproduction:

https://codesandbox.io/s/kind-water-by1vw?file=/src/index.ts
(code based on README.md)

For 2.0.6 I was using `@types/clipboard`, looks like ts definitions were added in 2.0.7, however it seems that they don't match the provided examples and if the examples need update then it would

[2021-03-07 11:12] vitormalencar commented on #735
@jacekkarczmarczyk Thanks for the bug report, I will be having a look into soon

[2021-03-08 05:31] carpiediem opened #737 "ES6 in distribution"
## 🐛 Bug Report

### Expected Behaviour

Successful webpack build of our project

### Actual Behaviour

`SyntaxError: Unexpected token: punc ())`

### To Reproduce

1. Use clipboard.js in a build process that expects ES5 modules
2. Let your project's package.json select version 2.0.7
3. Build fails

[2021-03-08 05:31] carpiediem commented on #737
This is easy for me to get around (by specifying v2.0.6), but I thought your team should know about the issue.

[2021-03-08 06:37] gitdust commented on #735
same issue when use webpack for build
back to 2.0.6 is fine

[2021-03-08 10:46] vitormalencar commented on #737
@carpiediem  Thanks a lot for the bug report, I will have a look into it

[2021-03-08 10:56] vitormalencar commented on #735
@gitdust I believe that this is more related to the webpackBuild not to the type definitions
you can have a look at issue #737

[2021-03-08 16:22] mrch81 opened #738 "SyntaxError: Unexpected token ')' clipboard.js:17 in 2.0.7"
## 🐛 Bug Report

In dist/clipboard.js in v2.0.7, there's this bizarre number  `134:`  on line 20

The reference file here:
https://github.com/zenorocha/clipboard.js/blob/c38b4ee76f1e9bacbf2f019e9e84f8f2e2407e91/dist/clipboard.js

It seems to cause the `SyntaxError: Unexpected token ')' ` during testing with PhantomJS 2.1.1
### Expected Behaviour

In v2.0.6, the grunt test with PhantomJS 2.1.1 pass

[2021-03-08 16:41] jordanharding opened #739 "Remove line breaks from copied <input> values?"
## 💥 Proposal

I have a dynamically generated table that includes two number inputs on each line, when copying the contents of the table using clipboard.js, the values are successfully pulled from the inputs but there's a line break just on those values.

![image](https://user-images.githubusercontent.com/13383273/110351339-bb900580-8002-11eb-84bc-8a2dd0080204.png)

becomes this in clipboard:

1	2

[2021-03-08 20:07] vitormalencar commented on #737
@carpiediem can you share what Webpack/bundle config are you using?

[2021-03-09 01:26] samao opened #740 "miss .on declare"
typescript 4.2.2
clipboard 2.0.7

![image](https://user-images.githubusercontent.com/13015125/110404139-4cc1b380-80b9-11eb-9800-87d9ba2b46f3.png)

[2021-03-09 02:35] samao commented on #740
#735 #736

[2021-03-09 02:35] #740 closed

[2021-03-09 09:47] ding-js commented on #737
![image](https://user-images.githubusercontent.com/14885918/110451698-6b4a9d80-80ff-11eb-91c7-fd8b68658a6e.png)

There are arrow functions on the bundle of v2.0.7

[2021-03-09 10:17] vitormalencar commented on #738
this is probably related to the  #737
also, this line number is created by webpack

[2021-03-09 18:47] lucmarques-uol commented on #735
Hi @vitormalencar , I'm here to let you know that my team at BoaCompra has also been affected by this issue, we had to momentarily downgrade to 2.0.6 as well. I'll keep watching this issue for updates.

[2021-03-09 21:35] vitormalencar commented on #735
@lucmarques-uol thanks for reaching out, the PR is already made, it will be available probably in the next release.

[2021-03-10 12:53] amertak opened #742 "React 17 and event.stopPropagation issue"
## 🐛 Bug Report

I am opening the issue with React 17 and event propagation again if it's not a problem.
Previous issue thread: https://github.com/zenorocha/clipboard.js/issues/708

We have the same problem that since React 17, some of our copy buttons stopped working.

Here is code with React@17 that does not work
https://codesandbox.io/s/adoring-https-ny5xr

Here is the same code with React@16.1

[2021-03-10 15:39] #735 closed

[2021-03-10 16:29] #737 closed

[2021-03-10 20:23] vitormalencar commented on #734
@nephilim75 I just notice that you might refer to the tooltips on the site examples,
in the website we are using the Github Primer project to do the CSS + icon part there,

you can check more here https://github.com/zenorocha/clipboard.js#tooltips

[2021-03-10 20:59] vitormalencar commented on #735
So I just took some time today to create a new release, I included the Typescript Types changes I hope it helps to solve the issue, if not I will continue to push more fixes =)

Please let me know if the issue is solved or not

[2021-03-10 20:59] vitormalencar commented on #738
So @mrch81  I just took some time today to create a new release, I included the webpack changes I hope it helps to solve the issue, if not I will continue to push more fixes =)

Please let me know if the issue is solved or not

[2021-03-10 21:13] jacekkarczmarczyk commented on #735
Looks good for me, thanks!

[2021-03-11 05:18] mrch81 commented on #738
Thanks, that was rather fast. Unfortunately that fix doesn't resolve the issue :(

Perhaps the details below may help:

With **clipboard#2.0.8**
[code]

With **clipboard#2.0.6**

[code]

**Testing framework:** Jasmine

Please do let me know if I could provide further information.

[2021-03-11 09:34] vitormalencar commented on #738
@mrch81 thanks a lot for the log, is quite strange since that line 17 is basically webpack module initialization,

can you maybe put a small example of this test on Github, or some other code platform, so I can test a little bit more ?

[2021-03-11 13:21] mrch81 commented on #738
@vitormalencar Please find it attached here: [clipboard.zip](https://github.com/zenorocha/clipboard.js/files/6123214/clipboard.zip)

The zip contains the `bower_components/clipboard/dist/clipboard.js`

Also, let me know if you need the one with 2.0.6.

[2021-03-11 13:59] vitormalencar commented on #738
@mrch81 thanks a lot this is what I was looking for, the problem is that we now avoid commit the dist to the project so in fact you are using v2.0.7 still , but is still required  if you are using bower, the fix here is easy I just need to publish the dist on the main repo and I will ask you to try again after that

[2021-03-11 15:51] #738 closed

[2021-03-11 16:12] vitormalencar commented on #738
@mrch81 yes I just confirmed that this was the problem, bower users I will probably do another release end of next week that should fix this issue, in the meantime, you can still use `v2.0.6` with no problems since the release was just to fix some minor bugs, or you can switch to use npm and use the latest version `2.0.8`

[2021-03-11 16:23] mrch81 commented on #738
Thanks @vitormalencar I've patched my env with 2.0.6.

I will keep an eye out for the fix and test it as soon as it is available.

[2021-03-13 14:02] wuwhs opened #745 "After updating to the `2.0.7+` version, an error was reported: `Couldn't find preset "@babel/env"`"
My project is normal with the `2.0.6` version, but an error occurs when upgrading to the `2.0.8` version:

[code]
I checked the `2.0.6` version and found that the `preset` used by the `.babelrc` file is `env`, and the `2.0.8` version used `@bable/env`. I guess it is caused by this reason. Apart from rolling back to `2.0.6` and previous versions, is there any solution?

[2021-03-13 21:11] vitormalencar commented on #745
@wuwhs, thanks for the report, can you describe what error are you facing? is on the building,
share you env so I can get a better picture of what could be the problem.

[2021-03-15 09:40] vitormalencar commented on #745
I did some research and I do believe that this could be an issue related to babel migration, we updated the dependencies and this might be the culprit https://babeljs.io/docs/en/config-files#6x-vs-7x-babelrc-loading

[2021-03-15 14:56] #739 closed

[2021-03-15 21:48] vitormalencar commented on #739
just to give more background
we can evaluate if this would be a nice add on to this lib,  the plan, for now, is to make it more flexible, would help if you could include some POC PR @jordanharding

[2021-03-16 02:38] wuwhs commented on #745
Yes, it was an error that occurred when I was building the project. I pulled out [a simplified project](https://github.com/wuwhs/test-clipboard) to reproduce this problem, if you are interested, you can take a look.

[2021-03-16 02:43] wuwhs commented on #745
I doubt too，babel7.x

[2021-03-16 10:51] vitormalencar commented on #745
yep I just confirmed, I will create a pr for this and include this fix in the next release at the end of this week, thanks a lot for putting this example in place

[2021-03-16 16:45] #734 closed

[2021-03-16 16:45] vitormalencar commented on #734
Closed due to inactivity

[2021-03-16 18:27] AdarshPawar29 opened #748 "Getting copied text in the clipboard on the second time in ReactJS"
## 🐛 Bug Report

I was trying to copy text with the help of function like.
[code]
I have a list of student detail rows along with a dropdown component, which takes an options name and an arrow function to call any function outside the return like I'm calling `() => copyText(currentRow.id)` to copy student ID.
Its all working but after I click twice on the `copy option` inside the dropdown. It's th

[2021-03-16 18:54] vitormalencar commented on #748
HI @AdarshPawar29, note sure if I understood, would be better if you create a code sandbox with a reproducible example so I can have a clean view of your env.

[2021-03-17 18:45] ShashankGupta28 commented on #748
@vitormalencar : may be this can help https://codesandbox.io/s/fast-night-cc5wd?file=/src/Iframe.js

[2021-03-18 04:05] augustVino commented on #745
I also met. The first installation was the 2.0.6 version of the clipboard. When I upgraded to version 2.0.7, the arrow function was not translated after packaging, which caused the online IE11 to crash. Then it was upgraded to version 2.0.8 urgently, and an error was reported when packaging. babel7.x

[2021-03-18 04:05] augustVino commented on #745
Is it possible to upgrade a major version similar to this upgrade?

[2021-03-18 15:26] vitormalencar commented on #745
@augustVino  thanks for the report, sorry that you had this experience, the v2.0.6 is compatible with all the features, the new versions so far just introduced some bug fix for some specific cases so you can downgrade with no problems, tomorrow I will create another release that should fix the babel env problem

[2021-03-18 17:41] #745 closed

[2021-03-18 17:55] vitormalencar commented on #748
not sure if I get the point,
I got the example to work inside and outside the iframe

[code]

[2021-04-02 05:59] shefik opened #750 "Do Not Copy When Target Element Has display:none"
The content does not get copied when the target element has `display:none`.

[2021-04-06 20:42] S1BIOSE opened #751 "The code does not work if the button is in a Modal window"
I have a site built with the Bootstrap 5 theme and the code is not working if the button is in a Modal window.

[2021-04-10 19:24] alirezagit commented on #751
same issue here.
it doesn't even work on jsfiddle.
I even imported all css and js files.

[2021-04-15 14:35] juliorenanp commented on #750
Hey @shefik, there is a workaround for this situation.
You can do something like this:

On HTML:
<div class="test" style="display: none"></div>

On JS:

 new ClipboardJS('.test');
 let clipBoard: HTMLElement = document.querySelector('.test');
 clipBoard.setAttribute('data-clipboard-text', 'the string you want to copy');
 clipBoard.click();

[2021-04-20 13:36] m-e-l-u-h-a-n commented on #751
Hi @S1BIOSE, @alirezagit
I had similar issues, I found
![image](https://user-images.githubusercontent.com/63504956/115404916-5fc4b900-a20b-11eb-9931-55905b9dcf7c.png)

on [documentation](https://clipboardjs.com/) and this solution works too.

[2021-04-20 13:57] jordib123 opened #757 "Copying on button click triggered in JavaScript not working on Mobile (Chrome 90+)"
https://jsfiddle.net/hngukvdt/

I am trying to copy text to clipboard instantly on DOMContentLoaded (see fiddle) without actual interaction. This is working for desktop but not for mobile while my mobile chrome version is 90+. isSupported() function also return true so Chrome version seems to be no problem.

The clipboard error event is fired but does not return any useful information (see image).

[2021-04-21 11:12] S1BIOSE commented on #751
hi @m-e-l-u-h-a-n  Thank you your solution works.

[2021-04-21 12:19] S1BIOSE commented on #751
On my site at the bottom left, I have a button with 3 dots that opens a "Bootstrap modal" window. There is a button which use "clipboard" to copy its text. I added a "popover" to show "Copied" when I click on the button.

My problem :
The "popover" should still be displayed, but it is displayed for half a second.

How to make the text of "Bootstrap popover" appear ?

https://www.mathieulebert.fr/

[2021-04-22 17:07] S1BIOSE opened #758 "How do I display a “Copied” popover after copying a link ?"
I created a small website with the Bootstrap 5 theme and the following library :

https://clipboardjs.com/

I want to use the Bootstrap 5 Popover with this method :

https://getbootstrap.com/docs/5.0/components/popovers/#dismiss-on-next-click

I want when a user clicks the button to copy the website address to see a popover.

My current code works but the popover disappears when the click is relea

[2021-04-22 17:37] inglesuniversal opened #759 "Feature Request: Copy image to clipboard to allow pasting it into another app."
Can you consider adding this feature to your already awesome script?

Allow the user to copy an image into the clipboard and paste it to desktop apps likes PhotoShop or mobile apps like WhatsApps.

By pasting I mean the actual image copied into the clipboard and not its url or base64 data.

Thanks

[2021-05-08 13:03] patrickhlauke commented on #695
Why was this closed? it's an actual issue still...

[2021-05-08 14:39] patrickhlauke commented on #695
copying in what I wrote over in https://github.com/twbs/bootstrap/issues/33894

Note that this behaviour now reverts what was fixed originally in https://github.com/zenorocha/clipboard.js/pull/419

[2021-05-12 01:13] netniV commented on #750
As far as I remember, you cannot implement a copy of hidden elements without temporarily showing them first.  Browser-based security blocks this and no coding can get around it (aside from showing said elements).

[2021-05-12 20:11] vitormalencar commented on #748
closing due inactivity

[2021-05-12 20:11] #748 closed

[2021-05-15 13:14] patrickhlauke commented on #695
@zenorocha could this be reopened please?

[2021-05-17 02:46] #742 closed

[2021-05-17 12:26] helderburato commented on #750
As @netniV mentioned, it isn’t possible. I’ll close this issue considering it isn’t related to the Clipboard implementation.

[2021-05-17 12:26] #750 closed

[2021-05-17 12:28] helderburato commented on #759
Hi @inglesuniversal can you give more details about what you expect? Or maybe share resources with the specifications.

[2021-05-17 12:30] helderburato commented on #758
Hey @S1BIOSE, can you share a codepen or any other platform with an example? It will help us to help you.

[2021-05-17 12:34] helderburato commented on #751
Considering the issue already solved I'll close it. Thanks, @m-e-l-u-h-a-n for share your solution.

[2021-05-17 12:34] #751 closed

[2021-05-17 12:40] helderburato commented on #759
It isn't in the scope of the project, because you can manipulate the image using the text/url copying from the image.

I'll close the issue, because it isn't the scope of Clipboard.js.

[2021-05-17 12:40] #759 closed

[2021-05-18 15:00] obetomuniz commented on #757
Hey @jordib123, thanks for report this issue. Is it still happening? Also, could you please tell us what your device is? I just tested your demo onChrome 90.0.443078 on my iPhone, and it works pretty well.

[2021-05-20 13:40] richardwm91 commented on #92
try change you temp to textarea:

[code]

[2021-05-22 06:02] ryantheleach commented on #751
Seems similar to the issue that focustrap received. https://github.com/focus-trap/focus-trap/issues/383

[2021-05-22 06:09] ryantheleach commented on #648
If you end up messing with focus, please restore it after copy.

[2021-05-28 04:11] sebalis commented on #470
Hi @zenorocha, could you please reopen this? Some code was provided by @derender and even with the change suggested by @Ruffio – using ```iframe.contentDocument || iframe.contentWindow.document``` – it is not working. If you want complete code, here is a minimal file (zipped to make Github accept the attachment): I have created an IFrame and filled it using the open method, then added buttons to t

[2021-05-28 07:50] #758 closed

[2021-05-31 19:03] everhee opened #766 "How to install clipboard.js with composer"
Could you explain how to install your project with composer.
I tried to install it from zip ou git file source urls to Drupal libraries folder but doesn't succeed.
Tried this in composer.json :
{
    "type": "package",
    "package": {
        "name": "zenorocha/clipboard.js",
        "version": "2.0.8",
        "type": "drupal-library",
        "dist": {
            "url": "https://github.com/zen

[2021-06-04 13:03] raineorshine commented on #370
This works for me in Chrome:

[code]

https://github.com/zenorocha/clipboard.js/wiki/Known-Limitations

Seems to not be a problem for `keydown` in Chrome.

[2021-06-04 13:11] aYangLi opened #767 "When the mobile browser forbids the copy function, the copy fails, but the callback is successful"
// When the mobile browser forbids the copy function, the copy fails, but the callback is success
clipboard.on('success', (e) => {
      Toast.info('已复制');
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
});

[2021-06-07 23:07] jeremycaldwell commented on #766
@everhee, I ran into similar issues but was able to resolve it by loading it like so:

[code]

[2021-06-10 23:00] TheGreatRefrigerator opened #768 "bower.json still on v2.0.6"
## 🐛 Bug Report

When installing from bower it won't install the latest version including the fixes for `=>` leaked to dist folder.

-> i changed to npm now but thought i'll let you know.

### Have you read the [Contributing Guidelines on issues](https://github.com/zenorocha/clipboard.js/blob/master/contributing.md)?

A bit

### Expected Behaviour

Installing through bower (yes, we still use that

[2021-06-15 18:32] jorgelina-aydarpaz opened #769 "Copy Working - but not copying"
Hi, I am not sure whether this is a bug, or just an issue I am having.
I am using Oracle APEX - to develop a webpage.
In this page, I initialize the library this way: (I have tried the initalization in several ways but always getting same result)

var cpyClip = new ClipboardJS('#btnCopyClipboardHidden',
                              { container: document.getElementById('contentToCopy')}

[2021-06-16 00:22] jorgelina-aydarpaz commented on #640
I am having this same issue.
I am currently having a huge headache, I have attempted so many things already. Not sure what else to try. Anyone has a hint on what might be the cause of this? I do not think is the clipboard.js itself, but something... maybe in my computer, maybe a slow response... not sure.
The content I am copying is a generated content... that gets removed before re generating the

[2021-06-16 10:08] EmiyaYang commented on #704
It cannot get around the security policy, I've tested it in iPhone 12 with safari.

[2021-06-23 09:38] max-programming opened #770 "Use the Clipboard API instead of execCommand"
## 💥 Proposal

**Is your feature request related to a problem? Please describe**
Currently, the library uses `document.execCommand` which is a non-standard way nowadays. MDN says:
![image](https://user-images.githubusercontent.com/51731966/123073211-d95b6c00-d433-11eb-9b92-9f2734dc13d2.png)

**Describe the solution you'd like**
Instead of using the current method of copying and other stuff, consid

[2021-06-29 08:36] phuong17889 commented on #514
work like charm

[2021-06-29 16:06] ffxsam commented on #770
This would break support for Safari 12. I agree, Clipboard API should be the default, but `Document.execCommand()` should remain as a fallback.

[2021-06-29 20:06] helderburato commented on #770
Hey @max-programming, thanks for the proposal.

It's in our roadmap, we just updating some last things, to use this new API, and keep a fallback to ensures the package keep working with the current approach.

[2021-06-29 20:06] #770 closed

[2021-06-29 20:08] helderburato commented on #768
Hey @TheGreatRefrigerator, thanks for the heads up.

Feel free to open a PR, we will really appreciate the engagement of the community.

[2021-06-29 20:10] helderburato commented on #767
Hey @aYangLi, is this still occurring?

[2021-06-29 20:22] helderburato commented on #767
Hey @aYangLi, is it still happening?

[2021-06-29 20:23] helderburato commented on #769
Hi @jorgelina-aydarpaz, can you provide an example in Codepen or Codesandbox? It will help us to analyse if it's really an issue.

[2021-06-30 02:16] jorgelina-aydarpaz commented on #769
Hey!!
I have been trying to find a reason behind this, all I could find is the amount of text to be copied. It seems when there is a big/large amount (which is what I was producing) it will not copy properly.
Unfortunately cannot provide a sample, the text that gets copied is a generated HTML from a report, using mustache to set the json-cursor I bring from the DB with the corresponding template,

[2021-06-30 06:43] max-programming commented on #770
Keeping it as a fallback is a nice idea. I agree with that! 👍

[2021-06-30 08:33] helderburato commented on #769
Hi @jorgelina-aydarpaz, thanks for your quickly return.

Can you share a console of this chunk of text with pastebin? It will help us to validate.

Like you said, we are moving to the new browser clipboard API, and somethings with be improved with this approach.

[2021-06-30 18:24] jorgelina-aydarpaz commented on #769
Here I am attaching all the html involved (real data obscured).
[GeneratedHTML.txt](https://github.com/zenorocha/clipboard.js/files/6743164/GeneratedHTML.txt)

Content could be even bigger. Usually things with "display: none" are in there, but not copied or at least no pasted on the places they paste text.
Content is copied and user can paste it into a "TXT" or an EMAIL, or (with some processing b

[2021-06-30 18:25] jorgelina-aydarpaz commented on #769
I am ... thinking that maybe you wanted something different, please explain if so, on what is the console with pastebin iyou want. Thank you!

[2021-07-04 09:57] helderburato commented on #769
Sorry, but I didn't catch the issue.

Try to replicate your problem with the Codepen or Codesandbox to share with us.

I think it's the more accurate way to we understand what is expected by you.

If you need any help, feel free to ask.

[2021-07-05 12:06] jorgelina-aydarpaz commented on #769
@helderburato Hi, I am trying to set the example in codepen, but I do not know how to add the clipboardJS library into it. Can you help? thank you.

[2021-07-05 15:08] helderburato commented on #769
For sure @jorgelina-aydarpaz, I created [this simple example](https://codesandbox.io/s/clipboard-test-052kg) you can fork it and apply your changes.

[2021-07-05 15:08] #767 closed

[2021-07-05 15:09] #766 closed

[2021-07-06 04:24] ZhangChengLin opened #771 "Can you add some illustrative examples?"
https://github.com/zenorocha/clipboard.js/blame/master/readme.md#L157-L163

[code]

Please add some examples of display purpose for this paragraph. I don't understand the purpose. Can this solve the situation that requires 2 clicks to get the copied text?

😁

[2021-07-06 04:39] ZhangChengLin commented on #771
This really solves the situation where you need to click twice to copy successfully.

[2021-07-06 06:44] Somiar commented on #769
I also encountered the same problem. It can be used normally on safari, but it does not work on Chrome.

[2021-07-06 08:48] helderburato commented on #769
Can you use [the example](https://codesandbox.io/s/clipboard-test-052kg) to share with us? @Somiar

[2021-07-07 02:40] #757 closed

[2021-07-09 17:04] jorgelina-aydarpaz commented on #769
Hi @helderburato, I was not able to replicate the issue in codepen, though I was able to add up the clipboard.js library.
So, there, in codepen, it works and works fine, with Chrome.
I am unsure what is causing this issue, is not like fully consistent, like it "always' happens, though it seems related to the size of the html object that it copies into the clipboard.

So, let me add a few more thin

[2021-07-09 19:16] kolessios commented on #769
@helderburato The same thing happens to me but in my case it is when the element is inside a `<dialog>`.

I managed to [reproduce the problem here](https://codesandbox.io/s/clipboard-test-forked-r5qsh), ClipboardJS indicates that the copying was successful but it is not.

[2021-07-09 21:07] jorgelina-aydarpaz commented on #769
Kolession left a message (not seeing anymore), and provided an example with a modal, that is not working. Here the link he provided for the sandbox:
https://codesandbox.io/s/clipboard-test-forked-r5qsh?file=/src/index.js

Could it be that dynamic objects might be an issue?

[2021-07-09 21:11] kolessios commented on #769
@jorgelina-aydarpaz I deleted my message because I realized late that the README mentions using the [`container`](https://github.com/zenorocha/clipboard.js#advanced-options) option for these situations.

[2021-07-09 21:12] jorgelina-aydarpaz commented on #769
Do you mean using it like this:
var cpyClip = new ClipboardJS('#btnCopyClipboardHidden',
{ container: document.getElementById('contentToCopy')}
);
??

[2021-07-09 23:24] kolessios commented on #769
I haven't seen how ClipboardJS works exactly but I imagine it needs to create some element in `<body>`, but in my example, when opening the `<dialog>`, `<body>` stops being in focus which causes the created element to stop working.

The solution is to set `container` to the parent element containing the focus, which in this case would be the `<dialog>` itself:

[code]

@jorgelina-aydarpaz  In your

[2021-07-09 23:52] jorgelina-aydarpaz commented on #769
Iván, that actually would be the "div" where the html content that needs to be copied, is.
Basically a:
[code]
Thus, why calling it "document.getElementById ('contentToCopy'); "

[2021-07-10 02:50] kolessios commented on #769
In that case you should do something like this:

[code]

[Example](https://codesandbox.io/s/clipboard-test-forked-9iim8)

[2021-07-10 12:46] jorgelina-aydarpaz commented on #769
@kolessios  Thank you Iván, I will try that one and see what happens (next Monday)
@helderburato  I have another question, I have noticed that if I have something like this to copy:
<div id="TextToCopy">
   <div id="Main" style="font-weight: 700;">
          <span> This is a title </span>
          <span> Text 1< /span>
          <span style="display: none"> Text 2 </span>
   </div>
</div>

The "T

[2021-07-14 15:31] jorgelina-aydarpaz commented on #769
Sorry , I thought I answered this before, that I would try it on last Monday.
I am wondering, when yous et "text: () " aren't you setting it as plain text rather as an html object ?Because I want the html object to be copied.

[2021-07-15 08:39] hulang opened #772 "You cannot select text by clicking or double clicking"
html code

`<b class="kefu_wx auto_copy" data-clipboard-text="17774411177" data-clipboard-action="copy" data-tp="1">17774411177</b>`

js code

$(function () {
    $.getScript('/js/clipboard.js', function () {
        var clipboard = new ClipboardJS('.auto_copy');
        clipboard.on('success', function (e) {
            var copyObj = e.trigger;
            // get Attr
            var showPop = co

[2021-07-16 15:56] jorgelina-aydarpaz commented on #769
This is weird, I am pretty sure I sent an answer 2 times, something odd happened.
When you put text: () => { return  ... }  isn't it expecting a text, or can be an html object.

[2021-07-19 13:04] pkly opened #774 "Allow copying from disabled inputs via invisible element generation"
## 💥 Proposal

**Is your feature request related to a problem? Please describe**
Unable to copy from disabled inputs.

**Describe the solution you'd like**
Allow copying from disabled inputs without throwing an error (when using the target property)

**Describe alternatives you've considered**
Well, I've already implemented this myself via jquery, but obviously a pure-js solution would be nicer.

[2021-07-19 13:07] pkly commented on #774
I have also noticed that the proposed solution would allow copying from datetime-local elements with an additional check for that cloned element for type of prev + setting attr -> type to text on the clone.

[2021-07-30 02:53] bernd-wechner opened #775 "CSS not copied"
## 🐛 Bug Report

Demonstrated here: https://jsfiddle.net/thumbone/zy3daw0c/16/

That puts on my clipboard different things depending on whether I use Firefox of Chromeium. The latter brings more of the styling with it, neither of them brings colour from CSS vars.

### Have you read the [Contributing Guidelines on issues](https://github.com/zenorocha/clipboard.js/blob/master/contributing.md)?

Sure

[2021-07-30 12:32] bernd-wechner commented on #775
OK, I sunk a whole day into exploring this and running tests. I stopped short of all my planned experiments because I stumbled near end of day upon the one solution that works! And it means I don't need `clipboard.js`.

In summary, I looked at including the styles in the copy. I copy all the rules form the DOM into a new style element and insert that along with a clone of the element I wish to cop

[2021-08-12 07:00] binghe17 opened #776 "auto replace excel value?"
error:
excel multi-section copy paste error.
When you paste, it automatically includes \n.

![Snipaste_2021-08-12_16-23-32](https://user-images.githubusercontent.com/10864009/129155222-55595d9d-e239-4624-8afa-a7cdf1a36c70.png)

[2021-08-12 07:25] #776 closed

[2021-08-12 07:27] binghe17 opened #777 "auto replace excel value?"
error:
excel multi-section copy paste error.
When you paste, it automatically includes \n.

![Snipaste_2021-08-12_16-23-32](https://user-images.githubusercontent.com/10864009/129155639-57bb9b83-265a-4851-86ba-49d1c22b52da.png)

[2021-08-24 07:56] Pranjal-dew commented on #777
Hi, is this issue still open? Care if I take it?

[2021-08-26 08:52] xianghongai opened #779 "copy is not a function"
## 🐛 Bug Report

vue

[code]

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/zenorocha/clipboard.js/blob/master/contributing.md)?

Yes.

### Expected Behaviour

Copy function can be effective

### Actual Behaviour

`Uncaught TypeError: clipboard__WEBPACK_IMPORTED_MODULE_0___default.a.copy is not a function`

### To Reproduce

There are multiple rows in a table

[2021-08-27 01:42] #779 closed, assigned to nobody

[2021-09-04 14:24] #771 closed

[2021-09-05 08:11] #768 closed

[2021-09-14 14:27] aurovrata opened #780 "Release v2.0.8 is actually v2.0.6"
the release [v2.0.8](https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.8) has v2.0.6 in its `dist` folder.

[2021-09-21 14:00] obetomuniz commented on #775
Cool! Glad to hear you fixed the problem. Ping back if you need some assistance. Closing the issue for now.

[2021-09-21 14:00] #775 closed

[2021-09-21 14:14] obetomuniz commented on #772
Hey, tried to reproduce the issue, but not sure what is expected result reported. `data-clipboard-text` is called as soon as `data-clipboard-action` is triggered, so at least, the library is working as expected. Could you please create a https://jsfiddle.net/ demo with the problem? Closing the issue for now, but feel free to reopen as soon as you have a demo. Thx!

[2021-09-21 14:14] #772 closed

[2021-09-21 14:23] obetomuniz commented on #769
@jorgelina-aydarpaz Was it fixed due to the diligence suggested here? I'll close the issue for now, but feel free to reopen if you still did not fix it as expected. Thx again for report the problem you tackle.

[2021-09-21 14:23] #769 closed

[2021-09-26 17:27] #774 closed

[2021-10-06 14:53] vitormalencar commented on #780
Hi @aurovrata we will fix  this issue in the next release thanks for pointing this out

[2021-10-15 07:45] Autumn1992 opened #781 "may i ask how to get ClipboardJS's clipboard text value that i copyed"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/zenorocha/clipboard.js/blob/master/contributing.md)?

(Write your answer here.)

[2021-10-17 18:55] devope commented on #781
Is there a way to modify copied value before it was copied?

[2021-10-24 22:50] asong4211 opened #782 "How to fetch new text and copy it when a button is clicked?"
I am trying to fetch new text when a button is clicked. However, I have realized that only the second time I clicked the button would it get successfully copied. I found a lot of posts in the past about not needing any additional event calls and using the `.on("success")` function that comes with the library. I think the problem is that I want to pass new text (e.g. some API calls to get new text)

[2021-10-29 07:49] Dolov opened #783 "is there a way can get file from clipboard, not listen paste"
is there a way can get file from clipboard, not listen paste

[2021-11-03 13:25] Aleksandr2015 opened #784 "ClipboardJS.copy is not a function"
## 🐛 Bug Report

Hi. I'm use v2.0.8 and try to reproduce this demo https://github.com/zenorocha/clipboard.js/blob/master/demo/text-programmatic-copy.html as result in console this message: "Uncaught TypeError: ClipboardJS.copy is not a function"

jsfiddle as proof:
https://jsfiddle.net/zxg21kvw/4/

Where my mistake or this is bug?

### Browsers Affected
Chrome 95.0.4638.54

### Operational System

[2021-12-03 22:42] ComtelJeremy commented on #784
It looks like this is an unreleased feature... I copied the development js files and it worked, but the function is missing in the packages that are released. Is it possible that this could be released soon?

[2021-12-09 14:14] torgeadelin commented on #676
I'm facing the same problem actually.
The fork looks like it should fix the problem.
Is there any plan to fix this in the near future?

[2021-12-16 17:20] vetraz commented on #784
v2.0.8 was released on 10 March 2021
desired [change](https://github.com/zenorocha/clipboard.js/commit/44df750c9fa5b573d1429159d9d63c48523d2e9c) was committed on 18 May 2021
So yeah, it looks like it hasn't been published yet.

[2021-12-24 22:50] #781 closed

[2021-12-26 19:23] justinsane commented on #388
Any ideas how to copy text to clipboard in a modal with negative tab index using Bootstrap 5?

[2021-12-30 10:27] a76yyyy commented on #780
It seems that there is no new release version now.

[2022-01-03 01:39] jorgecolonconsulting commented on #750
A workaround I used was that instead of the target element having `display: none` I moved the element off of the screen with `position: absolute; left: -10000px`

[2022-01-03 08:22] #782 closed

[2022-01-04 02:21] netniV commented on #750
Yes, that would work around the issue because it's technically visible from a DOM perspective, it's just not visually available to the end user.

[2022-01-05 15:36] #783 closed

[2022-01-08 10:24] y377 commented on #780
me too !

[2022-01-14 08:40] jingyuLin1999 commented on #784
I have the same problem. Has anyone solved it?
[code]

[2022-01-17 07:26] cheapCoder commented on #784
I have the problem too, I solved it like this;

    const fakerBtn = document.createElement('button')
    new ClipboardJS(fakerBtn, {
        text: () => 123412341234,
    })
    fakerBtn.click()

[2022-01-17 08:41] jingyuLin1999 commented on #784
thanks for you reply. it resolve my problem, thanks.

[2022-01-24 12:02] jayant-lumino commented on #432
Your answer is the solution, I was looking for. But you can go with only 1 instead of 1500 in setTimeout. It''ll not let users see the text box and work the same as you mentioned.

[2022-01-27 09:40] helderburato commented on #784
Hey @obetomuniz, could you check if it's related to our PR #749 ?

[2022-01-27 16:45] obetomuniz commented on #784
Hey 👋 It's because the latest version was not released. @helderburato do you have rights to move the latest version forward to NPM? Ty

[2022-01-27 16:51] zieliq opened #791 "Improper versions has been tagged"
Since v2.0.7 there is a difference between what is placed in github dist and correlated versions on cdnjs.com
Please take a look at https://github.com/zenorocha/clipboard.js/blob/v2.0.8/dist/clipboard.min.js

[2022-01-28 02:17] obetomuniz commented on #791
Hey @zieliq , thanks A LOT for the report. You're right. It was fixed on [@v2.0.9](https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.9)

[2022-01-28 02:17] #791 closed

[2022-01-28 02:26] obetomuniz commented on #784
Hey folks, as suggested, the latest code version on GitHub was not deployed properly. Now, the brand new code lives under [@v2.0.9](https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.9) tagged and released on GitHub and published on NPM  🥂

Thanks, A LOT you all for the report and pairing.

Also, @Aleksandr2015, the proper API to use the new method `.copy` is declared [here](https://jsfid

[2022-01-28 02:26] #784 closed

[2022-01-28 02:30] obetomuniz commented on #780
Hey all! Thanks for your patience! First of all, sorry for the delay in answer and fix.

That said, the original issue was fixed after [v2.0.9](https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.9) gets properly released and tagged on GitHub and published on NPM.

I'll close the issue for now, but feel free to re-open if any doubt pops up. Thanks again for your patience.

[2022-01-28 02:30] #780 closed

[2022-01-31 09:42] pythonandchips opened #792 "Event action is now a function not a string"
## 🐛 Bug Report

Event action parameter used to return a string but now returns a function. The JSFiddle below demonstrates the change.

### Expected Behaviour

From the JSFiddle above expect e.action to equal "copy"

### Actual Behaviour

Instead of `e.action` being a string a function is returned

### To Reproduce

On [JSFiddle](https://jsfiddle.net/g1d4tqps/) click copy button.
Check console, e

[2022-02-01 16:02] obetomuniz commented on #792
Thanks for report this bug @pythonandchips. I was able to reproduce on my side the same. I'll push a fix today or tomorrow for it.

[2022-02-02 15:13] #792 closed

[2022-02-02 15:34] obetomuniz commented on #792
Hey @pythonandchips, now you can check on this [JSFiddle](https://jsfiddle.net/p8rguqa0/) the Event API working as expected after being fixed in [v2.0.10](https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.10). Thanks again for the report.

Let us know if anything else does not work as expected. Thanks!

[2022-02-02 15:34] pythonandchips commented on #792
@obetomuniz Thanks you very much

[2022-02-03 18:30] helderburato opened #794 "Fix Chrome extension link in the README"
I'll open an issue to keep tracking of this item, but I'll close this PR considering this link won't be used.

Thanks for your contribution @wangmeijian.

_Originally posted by @helderburato in https://github.com/zenorocha/clipboard.js/issues/786#issuecomment-1029279946_

[2022-03-02 03:39] Victoriacsl commented on #792
Hey @pythonandchips, The bug still exists。

[2022-03-09 06:17] darkworks opened #800 "error on input type number"
on input type="number" am getting error

`Failed to execute 'setSelectionRange' on 'HTMLInputElement': The input element's type ('number') does not support selection`

suggested fix:

as we are passing id of the input field to clipboard js for copy so i think it will be good  that clipboard js convert the input field type to text from number and upon copying done then change it back to number.

[2022-03-21 17:40] uiii commented on #800
I have the same problem

[2022-04-01 04:20] obetomuniz commented on #800
Hey @darkworks @uiii, thank you for bringing the issue to our attention.

I'll take a look this weekend or early next week.

[2022-04-04 14:10] 1de opened #804 "<form>-wrapped inputs will copy data-clipboard-text value of the button on return"
## 🐛 Bug Report
formTag-wrapped inputs will copy button[data-clipboard-text]-value after pressing return-key to submit the form.

### Expected Behaviour
pressing the return key shouldn't copy the "data-clipboard-text"-value of the button.

### Actual Behaviour
pressing the return key fires the form AND copies the value of "data-clipboard-text" of the button.

### To Reproduce

i've tried a minimal

[2022-04-14 08:43] patrickhlauke opened #805 "Trigger loses focus after copy event"
## 🐛 Bug Report

Setting keyboard focus on one of the "Copy" buttons and activating it, focus is then lost/reset to the start of the page. While browsers try to error-correct for this (meaning that a subsequent Tab moves to the next focusable element), the issue becomes evident when using AT (e.g. Chrome/JAWS, activate the button, then use reading keys to carry on reading...focus was moved back ri

[2022-04-27 10:54] #794 closed

[2022-04-28 13:44] obetomuniz commented on #804
Thanks for report this issue @1de I agree, seems an unexpected behavior and I'll take a look at your example in order to try to mitigate a workaround using native APIs, and if needed, a bug fix proposal to avoid this weird behavior 😄

[2022-04-28 13:49] obetomuniz commented on #805
Thanks a lot to bring such a detailed issue report @patrickhlauke. I'll review your PR in the next few days to check its impacts. Thanks a lot.

[2022-04-29 18:13] obetomuniz commented on #805
In order to update you @patrickhlauke, after further investigation to understand the whole issue, I found out when `.blur` was re-inserted in the library, which guided me to this PR https://github.com/zenorocha/clipboard.js/pull/588/files#diff-96bf7f8d4171b2326c863a486fab28ba5199dc98e801a99df92b6999d02f90fd. It seems that `.blur` was added to workaround tests, so I will be checking it in order to

[2022-04-29 18:15] patrickhlauke commented on #805
great stuff, thank you for keeping me in the loop @obetomuniz (and sorry I couldn't be more use with the tests. agree it would be good to reintroduce a test, but my JS-fu when it comes to using test harnesses is weak ;) )

[2022-04-29 19:44] obetomuniz commented on #804
Hey @1de, after further investigation, I noticed that if you pass `type="button"` for your `<button>` element the event bubbling issue will disappear. `<button>` is by default type `submit`, so when you press enter in your input element without additional treatment, you are submitting the form and indirectly calling the submit button. I created a [JSFiddle](https://jsfiddle.net/obetomuniz/5uckten1

[2022-04-29 19:44] #804 closed

[2022-05-03 15:40] obetomuniz commented on #800
Hey again @darkworks, just a hot update about this issue, but an initial proposal to support HTML input types that don't support `setSelectionRange API` is opened. Now I'll wait a few days for code review before consider release it. Thanks again to open the issue.

[2022-05-04 17:45] #805 closed

[2022-05-04 18:59] patrickhlauke commented on #695
Note that this has now been fixed/merged https://github.com/zenorocha/clipboard.js/pull/807

[2022-05-05 13:09] darkworks commented on #800
thanks for the update

[2022-05-12 11:34] mrichman opened #809 ""Invalid "target" value, use a valid Element" when using React"
I've had success with this component before, but this is my first time tying it with React. When I click my Copy button, I get the error "Invalid "target" value, use a valid Element". Also the `clipboard.on("error"...` handler doesn't fire.

Here's my (abbreviated) code:

[code]

[2022-05-12 19:12] obetomuniz commented on #809
Hey @mrichman, thanks to bring the issue for us. I'll try to figure out the problem related to the usage of the lib with React.

Checking the code provided, did you passed a `#` as a prefix on `data-clipboard-target` declaration in order to declare to ClipboardJS the **intent to use the element id** of the target to create a link between the library and the element? For instance:

[code]

Given th

[2022-05-19 00:07] MHuiG opened #810 "Copying newlines doesn't work well due to compatibility issues"
Question:

https://github.com/volantis-x/hexo-theme-volantis/issues/758#issuecomment-1129562668

We have the user here who report that copying line breaks does not work well in mobile UC, QQ browser and WeChat built-in browser

How to fix:
https://github.com/volantis-x/hexo-theme-volantis/issues/758#issuecomment-1129994008

The user solved the problem by himself.

https://github.com/zenorocha/clip

[2022-05-19 15:06] obetomuniz commented on #809
Hey @mrichman. As promised, [here](https://codesandbox.io/s/adoring-tu-ukbqrd) is a demo using the suggestion that I mentioned. It works perfectly. Closing the issue for now since it is not related to the library. Feel free to re-open later if more details come.

[2022-05-19 15:06] #809 closed

[2022-06-06 06:02] #810 closed

[2022-06-07 11:16] lahala opened #811 "Click the button to request data asynchronously, then copy the invalid data, and then click the second time"
## 🐛 Bug Report

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/zenorocha/clipboard.js/blob/master/contributing.md)?

(Write your answer here.)

### Expected Behaviour

I thought that by going to the page '...' and pressing the button '...' then '...' would happen.

_Tip: Try to use screenshots, gifs, videos, al

[2022-06-29 12:51] obetomuniz commented on #811
Hi @lahala, thanks for reporting your issue here.

Could you please provide the steps to reproduce it, a demo using JSFindle, and details following the guidelines?

I was not able to reproduce the issue by following only the title information 😁

Thanks.

[2022-07-04 08:44] Funnybanny commented on #640
For me this issue appeared when I tried to implement a Copy to Clipboard button on a dialog. The [https://github.com/zenorocha/clipboard.js/pull/368](#368) has the solution by iest.
Essentially you have to specify container for the listener.
`var clipboard = new Clipboard(ident, {
            container: document.getElementById('#myModal')
        });`

[2022-07-26 12:55] vilbergs opened #814 "Output ESM module from build"
## 💥 Proposal

**Is your feature request related to a problem? Please describe**
Hello! Thank you for making this library.

I am currently in the process of upgrading our build system from Webpack to Vite. Since Vite only supports ESM modules, it would be incredibly helpful if we could add an ESM artefact to the build.

**Describe the solution you'd like**
There is an ESM module in the `dist` dire

[2022-07-26 15:51] #814 closed

[2022-08-10 23:41] JamoCA commented on #513
I was hoping to do it solely using this plugin too, but I figured out how to do with using vanilla javascript.  The following code sample will copy text from the `#myTextAreaToCopy` textarea element, attempt to write it to  hidden `#myTextAreaToCopy` div and then output whether it was successful or not to the console.log.  (This works for me using Microsoft Edge Dev v105.)

[code]

[2022-08-12 01:26] encryptblockr opened #815 "Great project but where is react documentation?"
Documentation is not very clear
How do we use this within react?
How do we call the package within react?
No mention of this

[2022-08-27 01:11] ahmed-amir-azouzi opened #817 "couldn't read ClipboardJS from "node_modules" file."
### Bug Description
I was using ClipboardJS on a personal project. When I open the project from my development environment, everything works fine.

But as soon as I uploaded my project on Github, and hosted it with Github pages, the clipboard copy functionality stopped, and this error message appeared in firefox developer tool.

![Screenshot from 2022-08-27 01-44-44](https://user-images.githubuser

[2022-08-30 10:29] john0916 opened #818 "fakeElement.remove()"
[code]
ie 9,10,11
error
对象不支持“remove”属性或方法(methods remove is no support)

[2022-09-01 23:12] 0kashi commented on #707
It's been some time since this was originally opened.  It would be great to have this addressed.

[2022-09-05 06:57] CatSniper opened #819 "await http response extends 5000 clipboard is fail"
I have a http request
when respone extends 5000 use clipboard is fail

code is like:
awiat new Promise((resolve) => {
        setTimeout(() => {
          url = 'url:' + Math.random();
          resolve('');
        }, 10000); // when time < 5000  it is ok; when time > 5000 it can not copy url
      })
// make fake element
        const fakeEl = document.createElement('button');
        // setup a

[2022-09-05 08:27] huxianc commented on #819
document.execCommand('copy') return false when time >= 5000ms
[mdn](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand)

[2022-09-05 09:12] huxianc commented on #819
https://stackoverflow.com/questions/31925944/execcommandcopy-does-not-work-in-ajax-xhr-callback

[2022-09-13 17:33] obetomuniz commented on #817
Hei @ahmed-amir-azouzi, that's really sad that you're figuring issues trying to run ClipboardJS in your project.

Looks like an issue with GitHub Pages, which ignores `node_modules` folder. You can try what is suggested [here](https://stackoverflow.com/questions/43481269/github-pages-404-on-node-modules-folder). Closing your issue for now, since it's not related to ClipboardJS directly. Feel free

[2022-09-13 17:33] #817 closed

[2022-09-13 19:49] ahmed-amir-azouzi commented on #817
Okay, understood. Thank you for your response.

On Tue, Sep 13, 2022 at 6:33 PM Beto Muniz ***@***.***> wrote:

[2022-09-27 08:47] ohimesamaiti commented on #818
我也遇到同样问题，请问有解决方案吗？

[2022-09-28 19:30] Snippet24816 opened #820 "delete pls"

[2022-09-28 19:33] tomasts248 opened #821 "Trying to use alognside Prism.js but I'm getting text: undefined in the console"
Oddly aside from this (which is triggered upon clicking in a pre tag element):
![image](https://user-images.githubusercontent.com/108145509/192871738-60cefaf4-498e-47b9-98d0-965f8ecfad02.png)

Ther's no error in the console.

I'm using:
[code]

[2022-09-28 19:36] #820 closed

[2022-10-10 19:30] lucasvalentee opened #822 "copyFromContent is not working on Safari (Mac OS)"
Hello guys. I use the lib in Angular (14+) and I have a method to copy a text from the screen, but it's not working in Safari browser when using Mac OS.

I tested it on my IOS phone and on Chrome and Mozilla browsers too (desktop), in both the method I copied the text correctly.

I did some research and testing in Safari and apparently the browser doesn't have much support for copying content to t

[2022-10-13 22:14] obetomuniz commented on #822
Hi @lucasvalentee, for this scenario, it is important to share a demo to reproduce the issue. Without that, we can't help you connect the library with Angular as you need.

The vanilla library is working with Safari/MacOS. Closing for now since it seems not related to the library. Feel free to reopen when you have the demo.

[2022-10-13 22:14] #822 closed

[2022-10-13 22:26] obetomuniz commented on #821
Hi @tomasts248, I was able to copy from multiple `<pre>` tags. Let me know if it helps.

[code]

and

[code]

Closing for now. Feel free to reopen if needed.

[2022-10-13 22:26] #821 closed

[2022-10-13 22:38] obetomuniz commented on #815
Hi @encryptblockr - Thanks for bringing up this suggestion. As it is today, the project doesn't have and needs any official port for React since there's nothing specific about setting up this library with React. Could you share if you're having problems connecting both? If so, I will use it to enhance a Troubleshooting doc using the library with React.

In any case, I'll provide a demo inside the

[2022-10-13 23:41] tomasts248 commented on #821
Hi @obetomuniz
 I'm afraid it is still not working, but maybe is because is a different sintaxis, which is this:
[code]
Also I'm not sure about including a image on hover to copy the content of each pre tag. I'm looking for something like this:
![image](https://user-images.githubusercontent.com/108145509/195730824-e251d406-f6de-4c37-a61b-d825aa40a4f8.png)

[2022-10-14 14:01] obetomuniz commented on #821
@tomasts248 By default, the library does not support such a thing. You'll need to combine the library with some programmatic approach. I believe you can use a similar approach that we're using in clipboardjs.com https://clipboardjs.com/assets/scripts/snippets.js or something like this https://jsfiddle.net/obetomuniz/6pc54de1/7

[2022-10-17 18:44] hcgreier opened #824 "Mobile devices issue"
Hi, thanks for this great JS!
I used this for the first time and everything is alright so far, but:
On mobile devices the script triggers the 'characters input' on my phone (i don't know how to call it...), since clipboardJS **selects** my text input field. I guess this is neccessary to copy the text...
Is there a way to avoid this behaviour on mobile phone?

Greets,
hc

[2022-10-17 21:47] vincentdo opened #825 "Transition from document.execCommand to navigator.clipboard"
## 💥 Proposal

**Is your feature request related to a problem? Please describe**
`document.execCommand` is being deprecated. `navigator.clipboard.readText` and `writeText` are already supported in all browsers so we should be able to just replace the implementation.

**Describe the solution you'd like**
Replace `document.execCommand` with `navigator.clipboard.readText/writeText`

**Describe altern

[2022-10-19 23:19] obetomuniz commented on #825
Thanks for bringing this to our attention @vincentdo. I’ll plan next days in order to check my availability and work effort to support the new API considering the library context and usage. In the meaning time, feel free to propose any change or additional feedback that you believe you can do 😋

[2022-10-19 23:24] obetomuniz commented on #824
@hcgreier I’ll try replicate the issue in the next days, but I believe it's possible to workaround this behavior. To help me replicate, do you have some way to share the code you’re using to trigger the copy action flow? Thanks!

[2022-10-21 18:39] obetomuniz commented on #824
@hcgreier after testing locally using this [demo](https://jsfiddle.net/obetomuniz/yd86vwzk/2/), Copy action happens without triggering the keyboard. Could you please provide the code that you're using in a demo? Thanks.

Close for now since it was not reproducible. Feel free to open with a demo.

[2022-10-21 18:39] #824 closed

[2022-10-21 18:51] obetomuniz commented on #815
@encryptblockr You check the [Guides](https://github.com/zenorocha/clipboard.js/wiki/Guides), [react-clipboard.js](https://www.npmjs.com/package/react-clipboard.js) and/or others ways to use the library with react in the library [wiki](https://github.com/zenorocha/clipboard.js/wiki)?

[2022-10-21 18:51] #815 closed

[2022-10-21 19:02] obetomuniz commented on #819
As per docs, `document.execCommand()` only returns true if it is invoked as part of user interaction, you should simulate a click to workaround this context after async operations and before copy action.

[2022-10-21 19:02] #819 closed

[2022-10-22 21:29] hcgreier commented on #824
Hi,
I simply habe a button which call a new ClipboardJS, just like

`$('#fenCopyBtn').click(function(evt) {
      new ClipboardJS('#fenCopyBtn');
    });`

I tested this link On my phone (Huawei P30), the keyboard **is** triggered. As long as the script uses the "select" method, this will simply not change. Maybe there are phones which do not show this, but as long as the textfield value is select

[2022-10-25 13:00] flyingfischer opened #827 "Copy/Paste does not work with ' character"
Text containing a ' character will not work:

Revue Française d'Oenologie

This will break just before the ' character.

Tested with FF on a web app running in UTF-8.

Thanks for considering.

[2022-11-03 10:56] wolny-wojciech opened #828 "How we can force/test error event?"
## 📚 Documentation

No information about how to test and see error event in action. Is it event working?

[2022-11-15 15:19] jmooring commented on #827
Unable to reproduce.